<h1>Edit node</h1>

<form id="edit-node" name="node">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Node" />
  </div>

</form>

<a href="#/index">Back</a>
