<h1>Listing nodes <%= nodes.length %></h1>

<table id="nodes-table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Node</a>