@import 'bootstrap/variables';
@import 'bootstrap/mixins/buttons';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'bootstrap/mixins/clearfix';
@import '_variables';
@import 'scss/sprites';

body{
  font-family: $font-family-sans-serif;
  letter-spacing: 0.02em;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.lead{
  font-weight: 300;
}

a{
  color: $brand-primary;
  @include transition( color 0.3s ease-out );
}

// Buttons

$btn-border-width: 2px;

@mixin btn(){
  min-width: 130px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 11px;
  letter-spacing: 0.05em;
  line-height: $btn-line-height;
  border-radius: $btn-border-width + $btn-line-height/2;
  border-width: $btn-border-width;
  text-transform: uppercase;
  @include transition( background-color 0.3s ease-out );
}

.btn{
  @include btn();
}

button,
.btn{
  &:focus, 
  &.active:focus,
  &:active:focus{ 
    outline:none;
    box-shadow:none;
  }
}

.btn-primary{
  border-color: $btn-primary-bg;
  &:hover,
  &:focus{
    color: $btn-primary-bg;
    background: $btn-primary-color;
    border-color: $btn-primary-bg;
  }
}

.btn-invert{
  @include button-variant($btn-invert-color, $btn-invert-bg, $btn-invert-border);
  border-color: $btn-invert-border;
  &:hover,
  &:focus,
  &:active:focus{
    color: $btn-invert-bg;
    background: $btn-invert-color;
    border-color: $btn-invert-border;
  }
}

.btn-danger{
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-color);
    border-color: $btn-danger-bg;
    &:hover,
    &:focus,
    &:active:focus{
      color: $btn-danger-bg;
      background: $btn-danger-color;
      border-color: $btn-danger-bg;
  }

  &.btn-invert{
    @include button-variant($btn-danger-bg, $btn-danger-color, $btn-danger-bg);
    border-color: $btn-danger-bg;
    &:hover,
    &:focus{
      color: $btn-danger-color;
      background: $btn-danger-bg;
      border-color: $btn-danger-bg;
    }
  }
}

.btn-transparent{
  font-weight: bold;
  min-width: auto;
  border-color: $btn-transparent-bg;
  color: $btn-transparent-color;
  background: $btn-transparent-bg;
  @include transition( color 0.3s ease-out );

  &:hover,
  &:focus{
    color: $text-color;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;

  input[type=file] {
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
  }

  .glyphicon{
    margin-right: 8px;
    font-size: 1.125em;
  }
}
.btn-file-output{
  padding: $grid-gutter-width/3 0 0 $grid-gutter-width/2;
}

.btn-collapse{
  .collapsed-label{
    display: inline;
  }
  .collapsible-label{
    display: none;
  }
  &.collapsed{
    .collapsed-label{
      display: none;
    }
    .collapsible-label{
      display: inline;
    }
  }
}

.btn-group-vertical .btn{
  min-width: auto;
}
.btn-group-vertical > .btn:first-child:not(:last-child){
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.btn-group-vertical > .btn:last-child:not(:first-child){
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group-vertical > .btn + .btn, 
.btn-group-vertical > .btn + .btn-group, 
.btn-group-vertical > .btn-group + .btn, 
.btn-group-vertical > .btn-group + .btn-group{
  margin-top: -$btn-border-width;
}

// Nav pills

.nav-pills > li{
  > a{
    @include btn();
    font-weight: bold;
    border-color: $btn-transparent-bg;
    color: $btn-transparent-color;
    background: $btn-transparent-bg;
    @include transition( color 0.3s ease-out );

    &:hover{
      border-color: $btn-primary-bg;
      background: $btn-transparent-bg;
    }
  }

  &.active > a,
  &:hover > a,
  &:focus > a{
    background: $brand-primary;
    border-color: transparent;
  }
}


.text-danger {
  color: $state-danger-text !important;
}

// Dropdown

.dropdown-menu{
  padding: 0;
  margin-top: 10px !important;
  border: none;
  background: transparent;

  // Add dropdown top arrow
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -4px;
    border-style: solid;
    border-width: 0 7px 9px 7px;
    border-color: transparent transparent #fff transparent;
  }
  
  // Align dropdown top arrow
  &.dropdown-menu-right:before{
    left: auto;
    margin-left: 0;
    right: $grid-gutter-width/2;
  }
  &.dropdown-menu-left:before{
    left: $grid-gutter-width/2;
    margin-left: 0; 
  }

  > li{

    > a{
      font-size: 0.929em;
      font-weight: 300;
      padding: $grid-gutter-width/2 20px;
      background: #fff;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      border-bottom: 1px solid $gray-light;

      &:hover{
        background: $gray-lighter;
        border-right-color: $gray-lighter;
        border-left-color: $gray-lighter;
      }
    }

    &:first-child > a{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child > a{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

// Setup Dropdown with brand primary color
.dropdown-menu-primary{

  &:before{
    border-color: transparent transparent $brand-primary transparent;
  }

  > li{
    > a{
      color: #fff;
      background: $brand-primary;
      border-right-color: $brand-primary;
      border-left-color: $brand-primary;
      border-bottom-color: mix( #fff, $brand-primary, 80% );

      &.active{
        background: mix( $brand-primary, #000, 90% );
      }

      &:hover,
      &.active:hover{
        color: $brand-primary;
        background: #fff;
        border-right-color: $brand-primary;
        border-left-color: $brand-primary;
      }

      &.text-danger{
        color: white !important;
        background: darken( $brand-danger, 5% );
        &:hover{
          color: darken( $brand-danger, 5% ) !important;
          background: #fff;
        }
      }
    }

    &:first-child > a{
      border-top: 1px solid $brand-primary; 
    }
    &:last-child > a{
      border-bottom-color: $brand-primary; 
    }
  }
}


// Jumbotron

.container .jumbotron, 
.container-fluid .jumbotron{
  border-radius: 0;
}


// Form

.form-default {
  margin-bottom: 2*$grid-gutter-width;
  .actions {
    @include clearfix();
    .pull-right {
      margin-top: $grid-gutter-width/3;
    }
  }
  @media (min-width: $screen-sm-min) {
    margin-bottom: 3*$grid-gutter-width;
    margin-top: -$grid-gutter-width;
  }
}

.form-group{
  > p{
    color: $gray-semi-light;
    font-size: 12px;
  }
}

.label{
  font-size: 0.857em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: $grid-gutter-width/2;

  &.lowcase{
    text-transform: none;
  }
}

label{
  @extend .label;
}

.radio, .checkbox{
  margin-bottom: $grid-gutter-width/2;
  margin-top: $grid-gutter-width/2;
  
  label{
    text-transform: none;
  }
}

.form-control{
  border-color: mix( $gray-light, $gray-lighter, 50% );
  border-width: 2px;
  color: $gray-semi-light;
  font-size: 12px;
  font-weight: normal;
  @include box-shadow(none);

  &:focus{
    border-color: $brand-primary;
  }

  &:invalid:focus {
    border-color: $brand-danger;
  }
}

.input-group-addon{
  font-size: 12px;
  color: $gray;
  border-color: mix( $gray-light, $gray-lighter, 50% );
  background: mix( $gray-light, $gray-lighter, 50% );
}

// Modal

.modal{
  .close{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 90;
    opacity: 1;
    margin-top: 2px;
    @include retina-sprite( $icon-close-group );
    @include transition( opacity 0.3s ease-out );

    &:hover{
      opacity: 0.7;
    }
  }

  &.delete-modal,
  &.table-edit-modal{
    .modal-header{
      border: none;
    }
    .modal-body{
      color: $gray;
      font-weight: 300;
      padding-top: 0;
      padding-bottom: 0;
    }
    .modal-footer{
      border: none;
      text-align: left;
      .btn{
        display: block;
        &:first-child{
          float: left;
          margin-right: $grid-gutter-width/3;
        }
      }
    }
  }

  &.delete-modal{
    
    .modal-title{
      color: $brand-primary;
    }
    .modal-body{
      strong{
        color: $text-color;
        font-weight: normal;
      }
    }
    .btn-danger{
      float: left;
      margin-right: $grid-gutter-width/3;
    }
  }

  &.table-edit-modal{
    .modal-title{
      color: $gray;
      font-size: 1em;
      text-transform: uppercase;
    }
    .modal-body{
      .form-default{
        margin-top: -20px;
        margin-bottom: 20px;
      }
    }
  }

}