@import 'bootstrap/variables';
@import 'bootstrap/mixins/buttons';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'bootstrap/mixins/clearfix';
@import '_variables';
@import 'scss/sprites';


// Boton Circle LG

.btn-circle-lg{

  .btn-circle-lg-icon{
    position: relative;
    display: block;
    height: 128px;
    width: 128px;
    margin: 0 auto;
    border-radius: 64px;
    border: 2px solid $brand-primary;
    background: transparent;
    @include transition( background 0.3s ease-out );
  }

  .btn-circle-lg-icon-sprite{
    margin: 34px auto 0;
  }

  .btn-circle-lg-icon-detail{
    position: absolute;
    top: 4px;
    right: 0;
    @include retina-sprite( $icon-plus-circle-group );
  }

  .btn-circle-lg-title{
    display: block;
    font-size: 0.857em;
    text-transform: uppercase;
    padding: $grid-gutter-width/2 0;
  }

  &.btn-circle-lg-story .btn-circle-lg-icon-sprite{
    margin-top: 38px;
    @include retina-sprite( $dahsboard-icon-story-group );
  }
  &.btn-circle-lg-visualization .btn-circle-lg-icon-sprite{
    margin-top: 40px;
    @include retina-sprite( $dahsboard-icon-visualization-group );
  }
  &.btn-circle-lg-preview .btn-circle-lg-icon-sprite{
    margin-top: 44px;
    //@include retina-sprite( $home-home-icon-preview );
    //
  }
  &.btn-circle-lg-settings{
    .btn-circle-lg-icon-sprite{
      @include retina-sprite( $dahsboard-icon-user-group );
    }
    .btn-circle-lg-icon-detail{
      @include retina-sprite( $icon-pencil-circle-group );
    }
  }

  &.btn-circle-lg-table .btn-circle-lg-icon-sprite{
    margin-top: 40px;
    @include retina-sprite( $icon-empty-table-group );
  }
  &.btn-circle-lg-xls .btn-circle-lg-icon-sprite{
    margin-top: 36px;
    @include retina-sprite( $icon-xls-file-group );
  }
  &.btn-circle-lg-xls .btn-circle-lg-icon{
    border-style: dashed;
  }

  // &:hover{
  //   color: $brand-primary;
  //   text-decoration: none;

  //   .btn-circle-lg-icon{
  //     background: mix($brand-primary, white, 25%);
  //   }
  // }
}


// Boton Edit Circle

.btn-edit-circle{
  float: left;
  display: block;
  width: $grid-gutter-width;
  height: $grid-gutter-width;
  border-radius: $grid-gutter-width/2;
  margin-top: 12px;
  margin-left: $grid-gutter-width/2;
  background: $gray-blue-dark;
  @include transition( background 0.3s ease-out );

  .btn-edit-circle-icon{
    margin: 6px 0 0 7px;
    @include retina-sprite( $icon-pencil-white-group );
    
  }

  &:hover{
    background: $brand-primary;
  }
}


// Social Networks Btns

.social-networks-btns{
  padding: 0;
  @include clearfix();
  
  li{
    float: left;
    margin-right: $grid-gutter-width/2;

    a{
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 16px;
      border: 2px solid $brand-primary;
      background: transparent;
      @include transition( background 0.3s ease-out );
      
      .icon{
        display: block;
        text-indent: -9999px;
      }

      &.twitter .icon{
        margin-top: 8px;
        margin-left: 7px;
        @include retina-sprite( $social-icon-twitter-brand-group );
      }
      &.facebook .icon{
        margin-top: 6px;
        margin-left: 10px;
        @include retina-sprite( $social-icon-facebook-brand-group );
        
      }
      &.gplus .icon{
        margin-top: 8px;
        margin-left: 6px;
        @include retina-sprite( $social-icon-gplus-group );
        
      }

      &:hover{
        background: mix($brand-primary, white, 25%);
      }
    }
  }
}


// Section title

.section-title{
  font-size: 0.857em;
  color: $gray-dark;
  text-transform: uppercase;
  font-weight: bold;
  margin: $grid-gutter-width auto;
  text-align: center; 
}


// Separator

.separator{
  border-color: $brand-primary;
  border-width: 2px;
  margin: $grid-gutter-width auto;
}
.separator-white{
  border-color: #fff;
}
.separator-small{
  width: 6*$grid-gutter-width;
}


// User Label

.user-label{

  $user-picture-size: 30px;
  $user-picture-border: 8px;

  display: block;
  padding: 0;

  .user-name{
    color: $gray;
    font-size: 0.786em;
    text-transform: uppercase;
    vertical-align: top;
    line-height:$user-picture-size + (2*$user-picture-border);
    padding: 0 $grid-gutter-width/3;
    @include transition( color, 0.3s, ease-out );
  }

  .user-picture{
    display: inline-block;
    width: $user-picture-size + (2*$user-picture-border);
    height: $user-picture-size + (2*$user-picture-border);
    overflow: hidden;
    border-radius: $user-picture-border + ($user-picture-size/2);
    border: $user-picture-border solid $gray-lighter;
    @include transition( border-color, 0.3s, ease-out );

    > img{
      width: 100%;
      height: auto;
    }
  }
}

a.user-label{
  &:hover,
  &:focus{
    text-decoration: none;

    .user-name{
      color: $brand-primary;
    }
    .user-picture{
      border-color: $gray-light;
    }
  }
}


// Search Input

.search-input{
  width: 180px;
  margin-left: $grid-gutter-width;

  // Search box styles
  .input-group .form-control,
  .input-group-btn > .btn{
    border-color: $brand-primary;
  }

  .input-group .form-control{
    padding: 2px 5px 0 10px;
    font-size: 12px;
    line-height: -2px + $btn-line-height;
    height: auto;
    color: $brand-primary;
    border-width: 2px;
    border-right: none;
    border-top-left-radius: 2px + $btn-line-height/2;
    border-bottom-left-radius: 2px + $btn-line-height/2;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    $brand-primary;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    $brand-primary;
      opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    $brand-primary;
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    $brand-primary;
    }
    &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
      color:    $brand-primary;
    }
  }

  .input-group-btn{
    top: 1px;

    > .btn{
      display: block;
      position: relative;
      height: 4px + $btn-line-height;
      min-width: 0;
      top: -1px;
      padding: 0 10px 0 5px;
      color: $brand-primary;
      border-left: none;

      &:hover{
        color: $text-color;
        background: #fff;
      }

      .search-icon{
        display: block;
        @include retina-sprite( $icon-search-group );
      }
    }
  }
}


// Dropdown Select


.dropdown.dropdown-select{
  color: $gray;

  .dropdown-toggle{
    width: 100%;
    min-width: 0;
    border-radius: 4px;
    border-color: mix( $gray-light, $gray-lighter, 50% );
    border-width: 2px;
    color: $gray-semi-light;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    text-transform: none;
    padding-left: 6px;
    padding-right: 15px;
    overflow: hidden;

    &:hover{
      background: inherit;
    }

    .text{
      display: block;
      overflow: hidden;
    }

    .caret{
      display: block;
      position: absolute;
      right: 6px;
      top: 50%;
      margin-top: -2px;
    }
  }

  .dropdown-menu{
    background: white;
    font-size: 12px;
    margin-top: 0 !important;
    width: 100%;
    padding: 4px 0;

    &:before{
      display: none;
    }

    li{
      display: table;
      position: relative;
      width: 100%;
      padding: 6px 8px;
      font-weight: 300;
      cursor: pointer;
      border-bottom: 1px solid $gray-light;

      p{
        display: table-cell; 
        vertical-align: middle;
        margin-bottom: 0;
        line-height: 1.25em;
      }

      &.active{
        font-weight: 400;
      }

      &:last-child{
        border-bottom: none;
      }

      &:hover{
        color: white;
        background-color: $brand-primary;
      }
    }
  }
}

// Table Fixed
.table.table-fixed{
  width: 100%;

  tbody {
    max-height: 300px;
    overflow-y: auto;
  }
  thead, tbody, tr, td, th {
    display: block;
  }
  tbody td, 
  thead th {
    float: left;
    width: 20%; // Default width for 5 columns (100%/5)
  }
  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
}

// Panel Share

.panel.panel-share{
  display: none;
  color: white;
  background: $brand-primary;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: none;
  border-radius: 0;
  margin: 0;

  &.active{
    display: block;
  }

  .panel-heading{
    padding: 0;

    .close{
      margin: $grid-gutter-width/2;
      border-radius: $grid-gutter-width/2;
      text-indent: -9999px;
      opacity: 1;
      @include retina-sprite( $icon-close-white-group );
      @include transition( background-color 0.3s ease-out );

      &:hover{
        background-color: mix( $brand-primary, white, 75% );
      }
    }
  }

  .panel-body{
    padding: 0;
    width: 360px;
    margin: 0 auto;

    .form-inline label{
      display: block;
      margin: 8px auto 0;
    }

    .form-group-separator{
      vertical-align: top;
      padding: 6px 0;
      font-weight: 300;
    }

    &.draft{
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      right: 0;
    }

    .panel-body-draft-container{
      width: 520px;
      margin: -96px auto 0;
      text-align: center;
    }
  }
}

// Slider

.slider{
  &.slider-horizontal{
    width: 100%;

    .slider-track{
      height: 7px;
    }
    .slider-handle{
      margin-top: -6px;
    }
  }
  .slider-handle{
    width: 18px;
    height: 18px;
    background: $brand-primary;
  }
  .slider-selection{
    background: mix( $brand-primary, $gray-lighter, 70% );
    border-radius: 0;
  }
  .slider-track{
    border-radius: 0;
  }
}