@import 'bootstrap/variables';

// Signup
.signup,
.login{

  .page-header{
    text-align: center;
    margin-bottom: 1.5*$grid-gutter-width;

    .lead{
      max-width: 460px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  form{
    margin-bottom: 3*$grid-gutter-width;

    > p > a{
      font-size: 12px;
    }
  }

  .form-group{
    em{
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
    }
  }

}