@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'scss/sprites';
@import '_variables';

.footer{
  position: relative;
  padding: $grid-gutter-width 0 $grid-gutter-width;
  z-index: 100;
  color: $gray-light;
  background: $gray-dark;
  font-weight: 300;
  

  .logo-icon,
  .civio-icon{
    display: inline-block;
    margin: $grid-gutter-width/2 $grid-gutter-width 0 0;
    text-indent: -9999px;
    opacity: 0.5;
    @include transition(opacity 0.3s ease-out);

    &:hover{
      opacity: 1;
    }
  }

  .logo-icon{
    @include retina-sprite( $icon-logo-footer-group );

  }
  .civio-icon{
    margin-top: 20px;
    @include retina-sprite( $icon-civio-footer-group );

  }

  .social-icons{
    @include clearfix();
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    p {
      float: left;
      font-size: 0.857em;
      strong {
        font-weight: 500;
      }
    }
    ul {
      float: left;
      padding: 0;
      margin: 2px 0 $grid-gutter-width/2 $grid-gutter-width/2;
    }

    li{
      list-style: none;
      float: left;
      margin: 0 $grid-gutter-width/2 0 0;

      a{
        display: block;
        text-indent: -9999px;
        opacity: 0.5;
        @include transition(opacity 0.3s ease-out);

        &.twitter{
          @include retina-sprite( $social-icon-twitter-group );

        }
        &.facebook{
          @include retina-sprite( $social-icon-facebook-group );

        }

        &:hover{
          opacity: 1;
        }
      }
    }
  }

  section{
    text-align: center;
    margin-bottom: $grid-gutter-width/2;

    > p{
      font-size: 0.714em;

      strong{
        font-size: 1.200em;
        font-weight: normal;
      }
    }
  }


  ul{
    li{
      display: inline-block;
      list-style: none;
      font-size: 0.857em;
      margin: 0 $grid-gutter-width/3;

      a:hover{
        text-decoration: none;
        color: $gray-light;
      }
    }
  }

  a{
    color: #fff;
    font-weight: normal;
  }

  .newsletter{
    font-size: 0.857em;

    a:hover{
      text-decoration: none;
      color: $gray-light;
    }
  }

  .footer-info {
    @include clearfix();
    text-align: justify;
    margin: 5px+$grid-gutter-width/2 0 0;
    .eu-icon{
      float: left;
      margin-right: $grid-gutter-width/2;
      @include retina-sprite( $icon-eu-footer-group );
    }
  }

  @media (min-width: $screen-sm-min) {
    padding: 10px+$grid-gutter-width 0 $grid-gutter-width;
    .logo-icon,
    .civio-icon {
      float: left;
    }
    section {
      text-align: left;
      margin-bottom: 0;
      &.bordered{
        border-right: 1px solid $gray;
        border-left: 1px solid $gray;
      }
    }
    .social-links {
      margin-top:0;
    }
    ul{
      li {
        display: block;
        margin: 0 0 $grid-gutter-width/2;
      }
      &:first-child li{
        margin-left: $grid-gutter-width;
      }
    }
    .form-inline {
      margin-bottom: $grid-gutter-width/2;
    }
  }
}