@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'scss/sprites';
@import '_variables';

.footer{
  position: relative;
  padding: 10px+$grid-gutter-width 0 $grid-gutter-width;
  z-index: 100;
  color: $gray-light;
  background: $gray-dark;
  font-weight: 300;

  .logo-icon,
  .civio-icon{
    float: left;
    margin: $grid-gutter-width/2 $grid-gutter-width 0 0;
    text-indent: -9999px;
    opacity: 0.5;
    @include transition(opacity 0.3s ease-out);

    &:hover{
      opacity: 1;
    }
  }

  .logo-icon{
    @include retina-sprite( $icon-logo-footer-group );
    
  }
  .civio-icon{
    margin-top: 20px;
    @include retina-sprite( $icon-civio-footer-group );
    
  }
  
  .social-icons{
    float: left;
    padding: 0;
    margin: 0 0 $grid-gutter-width/2 $grid-gutter-width/2;
  
    li{
      list-style: none;
      float: left;
      margin: 0 $grid-gutter-width/2 0 0;

      a{
        display: block;
        text-indent: -9999px;
        opacity: 0.5;
        @include transition(opacity 0.3s ease-out);

        &.twitter{
          @include retina-sprite( $social-icon-twitter-group );
          
        }
        &.facebook{
          @include retina-sprite( $social-icon-facebook-group );
          
        }

        &:hover{
          opacity: 1;
        }
      }
    }
  }

  section{
    min-height: 120px;

    &.bordered{
      border-right: 1px solid $gray;
      border-left: 1px solid $gray;
    }

    > p{
      font-size: 0.714em;

      strong{
        font-size: 1.200em;
        font-weight: normal;
      }
    }

    .eu-icon{
      float: left;
      margin-right: $grid-gutter-width/2;
      @include retina-sprite( $icon-eu-footer-group );
      
    }
  }

  ul{
    &:first-child li{
      margin-left: $grid-gutter-width;
    }

    li{
      list-style: none;
      font-size: 0.857em;
      margin-bottom: $grid-gutter-width/2;

      a:hover{
        text-decoration: none;
        color: $gray-light;
      }
    }
  }

  a{
    color: #fff;
    font-weight: normal;
  }

  .form-inline{
    margin-bottom: $grid-gutter-width/2;

    label{
      font-size: 0.857em;
      font-weight: normal;
      text-transform: none;
    }

    .email{
      border: none;
      min-width: 160px;
      height: 28px;
      margin-left: 6px;
      padding: 0 $grid-gutter-width/2;
      border-radius: 14px;
      color: $gray;
      line-height: 28px;
      font-size: 0.714em;
    }

    .btn-default{
      font-size: 0.714em;
      background: transparent;
      color: #fff;
      border-color: #fff;
      margin-left: 6px;
      padding: 0 $grid-gutter-width/2;
      min-width: auto;
      height: $grid-gutter-width;
      line-height: -2px+$grid-gutter-width;

      &:hover{
        color: $gray-dark;
        background: #fff;
      }
    }
  }
}