@import 'bootstrap/variables';
@import '_variables';

.handsontable{

  thead th{
    color: $gray;
    font-size: 0.857em;
    text-align: left;
    text-transform: uppercase;
    background: $gray-blue-light;
    border: none;
    padding: 0 0 0 $grid-gutter-width/3;

    .relative{
      padding: 0;
    }
  }

  tbody tr{
    border-color: red;

    td{
      color: $gray;
      font-size: 0.857em;
      font-weight: 300;
    }
  }

  .changeType {
    line-height: 9px;
    margin-top: 8px;
    margin-right: 2px; 
  }

  // Hide checkbox in visible & direction column
  .htDirection .htCheckboxRendererInput,
  .htVisible .htCheckboxRendererInput{
    display: none;
  }
}

.ht_master{

  tr{
    border: none;

    td {
      border-color: $gray-blue-light;
      border-right: none;
      border-left: none;
      padding: 0 0 0 $grid-gutter-width/3;
    }
  }
}

// Header Rows 
.ht_clone_left th {
  border: none;
}

.handsontable .htAutocompleteArrow{
  color: $gray-blue;
  width: 20px;
}

// Setup cell line-height
.handsontable thead > tr{
  > td, 
  > th {
    line-height: 32px;
  }
}
.handsontable tbody > tr > td, 
.handsontable tbody > tr > th, 
.handsontable tfoot > tr > td, 
.handsontable tfoot > tr > th{
  line-height: 26px;
}
