@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'scss/sprites';
@import '_variables';

.navbar-default{
  padding: $grid-gutter-width/2 0 0;
  border-color: transparent;
  z-index: 92;

  .navbar-collapse {
    border-bottom: 1px solid $gray-light;
  }

  .navbar-header{
    padding-bottom: $grid-gutter-width/6;
  }

  .navbar-nav{
    text-align: center;

    > li > a{
      color: $text-color;

      &.active,
      &:hover{
        color: $brand-primary;
      }

      &.btn{
        padding: 0;
        margin: $grid-gutter-width/3;
        line-height: $btn-line-height;

        &.btn-default{
          color: $btn-default-color;
        }
        &.btn-primary{
          color: $btn-primary-color;
          &:hover{
            color: $btn-primary-bg;
          }
        }
        &.btn-invert{
          color: $btn-invert-color;
        }
        &.btn-transparent{
          color: $btn-transparent-color;
          &:hover{
            color: $text-color;
          }
        }
      }
      
      // Clear user-label padding
      &.user-label{
        padding: 0;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    padding-bottom: $grid-gutter-width/2;

    .navbar-header{
      padding-bottom: 0;
    }
    .navbar-nav {
      margin-left: $grid-gutter-width/6;
      height: $navbar-height;
    }
    .navbar-collapse {
      border-bottom: 0;
    }
  }

  .navbar-toggle{
    border: none;

    &:hover,
    &:focus{
      background-color: $gray-lighter;
    }

    .icon-bar{
      width: 24px;
      height: 3px;
      background-color: $gray-darker;
    }
  }
}

#lang-selector{
  width: 100%;
  margin-left: 0;
  margin-bottom: $grid-gutter-width/3; 
  padding-top: $grid-gutter-width/3;
  border-top: 1px solid $gray-light;   

  > li{
    float: left;
    width: 49%;

    &.divider{
      display: block;
      width: 2%;
      height: 11px;
      margin: 21px 0px 0;
      background: none;
    }

    > a{
      padding-right: $grid-gutter-width/3;
      padding-left: $grid-gutter-width/3;
      line-height: $grid-gutter-width/2;
      font-size: 0.857em;
      text-align: center;
      background: $gray-lighter;
    }
  }

  @media (min-width: $screen-sm-min) {
    width: auto;
    padding-top: 0;
    margin-bottom: 0;
    border-top: none; 

    > li{
      width: auto;

      &.divider{
        width: 1px;
        background: $gray-light;
      }

      > a{
        line-height: 24px;
        background: none;
      }
    }
  }
}

.navbar-brand{
  position: relative;
  padding: 0;
  width: 109px;
  height: 51px;
  margin-left: $grid-gutter-width/2;
  margin-right: $grid-gutter-width/2;
  //margin-bottom: $grid-gutter-width/3;

  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    @include retina-sprite( $logo-group );
    //@include retina-sprite( $logo );
    //
    @include transition( opacity 0.3s ease-out );
  }

  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    @include retina-sprite( $logo-hover-group );
    
    @include transition( opacity 0.3s ease-out );
  }

  &:hover{
    &:before{
      opacity: 0;
    }
    &:after{
      opacity: 1;
    }
  }

  h1{
    display: none;
    margin: 0;
  }
  @media (min-width: $screen-md-min) {
    margin-left: 0 !important;
  }
}

.navbar-right{
  margin-right: 0;

  .dropdown{
    margin-top: 5px;

    .user-label{
      display: inline-block;
      background: white !important;
    }

    #user-dropdown{
      float: right;
      width: 44px;
      height: 44px;
      padding: 0;
      background: #fff;
      opacity: 1;
      @include transition( opacity 0.3s ease-out );

      &:hover{
        opacity: 0.7;
      }

      &:focus{
        opacity: 0.6;
      }

      .user-dropdown-icon{
        display: block;
        margin: $grid-gutter-width/2 auto;
        text-indent: -9999px;
        @include retina-sprite( $icon-settings-group );
      }
    }
    .dropdown-menu {
      margin-top: 0 !important;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    margin: 0px -15px;
    padding: 0 $grid-gutter-width/2;
    .dropdown {
      border-top: 1px solid $gray-light;
      padding-top: $grid-gutter-width/3;
      position: relative;
      #user-dropdown {
        position: absolute;
        top: $grid-gutter-width/3;
        left: 0;
        right: 0;
        width: 100%;
        background: none;
        &:focus {
          opacity: 1;
        }
        .user-dropdown-icon {
          position: absolute;
          right: 0;
          background-color: transparent;
          border: 11px solid white;
          box-sizing: content-box;
          padding: 0;
          border-radius: 18%;
          margin: 3px 0 0;
        }
      }
    }
    .open {
      .dropdown-menu {
        li {
          a {
            padding: $grid-gutter-width/3 $grid-gutter-width/2;
          }
        }
        a,
        a.active {
          background: none;
          border-left: 0;
          border-right: 0;
          border-color: $gray-light;
          &:hover {
            border-color: $gray-light;
          }
        }
        li:first-child,
        li:last-child {
          a {
            border-color: $gray-light;
            border-radius: 0;
          }
        }
        li:last-child {
          a {
            border-bottom: 0;
          }
        }
      }
      #user-dropdown {
        .user-dropdown-icon {
          background-color: #f2f2f2;
          border-color: #f2f2f2;
        }
      }
    }
    .dropdown-menu-right:before {
      display: none;
    }
  }
}

#contact{
  // Avoid absolute elements to place over contact panel 
  position: relative;
  z-index: 100;

  .well{
    margin: 0;
    color: #fff;
    background: $brand-primary;
    border-radius: 0;
    border: none;
    padding: $grid-gutter-width $grid-gutter-width 2*$grid-gutter-width/3;
    font-weight: 300;
    text-align: center;

    .contact-item{
      display: inline-block;
      vertical-align: top;
      margin-top: $grid-gutter-width/2;
      margin-left: $grid-gutter-width/2;

      p {
        @include clearfix();
        position: relative;
        padding-left: $grid-gutter-width;
      }
    }

    h3{
      color: mix( $brand-primary, white, 44% );
      margin: 0 0 $grid-gutter-width/2;
      font-weight: 300;
    }

    p{
      font-size: 0.857em;
    }

    a{
      color: mix(#fff, $brand-primary, 75%);
      font-weight: normal;
      &:hover{
        color: #fff;
        text-decoration: none;
      }
    }

    strong{
      font-weight: normal;
    }

    .icon-email,
    .icon-maps {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }

    .icon-email {
      margin-top: 0;
      @include retina-sprite( $icon-mail-group );
    }
    .icon-maps {
      margin-top: -4px;
      @include retina-sprite( $icon-location-group );
    }

    .social-links{
      @include clearfix();
      padding: 0;
      margin-top: -8px;
      list-style: none;

      li{
        float: left;
        margin-right: $grid-gutter-width/2;

        a{
          display: block;
          width: 2+$grid-gutter-width;
          height: 2+$grid-gutter-width;
          border-radius: 1+($grid-gutter-width/2);
          border: 2px solid #fff;
          text-indent: -9999px;
          opacity: 0.5;
          @include transition(opacity 0.3s ease-out);

          &.twitter .icon{
            display: block;
            margin-top: 8px;
            margin-left: 7px;
            @include retina-sprite( $social-icon-twitter-group );
          }
          &.facebook .icon{
            display: block;
            margin-top: 6px;
            margin-left: 10px;
            @include retina-sprite( $social-icon-facebook-group );
          }

          &:hover{
            opacity: 1;
          }
        }
      }
    }

    .close{
      display: block;
      position: absolute;
      top: $grid-gutter-width/2;
      right: $grid-gutter-width/2;
      opacity: 0.5;
      overflow: hidden;
      text-indent: -9999px;
      @include retina-sprite( $icon-close-white-group );
      @include transition( opacity 0.3s ease-out );

      &:hover{
        opacity: 1;
      }
    }
  }
}