@import 'bootstrap/variables';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'scss/sprites';
@import '_variables';

.navbar-default{
  padding: $grid-gutter-width/2 0;
  z-index: 92;

  .navbar-nav{
    margin-left: $grid-gutter-width/2;

    > li > a{
      color: $text-color;

      &:hover{
        color: $brand-primary;
      }

      &.btn{
        padding: 0;
        margin: 10px 15px 8px;
        line-height: $btn-line-height;

        &.btn-default{
          color: $btn-default-color;
        }
        &.btn-primary{
          color: $btn-primary-color;
          &:hover{
            color: $btn-primary-bg;
          }
        }
        &.btn-invert{
          color: $btn-invert-color;
        }
        &.btn-transparent{
          color: $btn-transparent-color;
          &:hover{
            color: $text-color;
          }
        }
      }
    }
  }
}

.navbar-brand{
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 109px;
  height: 51px;
  margin-left: 0 !important;
  margin-right: grid-gutter-width/2;

  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    @include sprite-logo();
    @include transition( opacity 0.3s ease-out );
  }

  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    @include sprite-logo-hover();
    @include transition( opacity 0.3s ease-out );
  }

  &:hover{
    &:before{
      opacity: 0;
    }
    &:after{
      opacity: 1;
    }
  }

  h1{
    display: none;
    margin: 0;
  }
}


#contact{

  .well{
    margin: 0;
  }

  .col-sm-3:first-child{
    border-right: 1px solid $gray-light;
  }
}