@import 'bootstrap/variables';
@import 'scss/sprites-home';
@import '_variables';

.home-background{
  width: 100%;
  height: 440px;
  margin: -50px 0 0;
  background: url('http://placehold.it/1920x560') no-repeat center 0 fixed;
}

.home{

  .home-icon{
    padding: 0 0 48.5%;
    margin: $grid-gutter-width/2 auto 1.5*$grid-gutter-width;
    background: url('/images/home-icon.png') no-repeat center center transparent;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('/images/home-icon@2x.png');
      background-size: contain;
    }
  }

  @media (min-width: 410px) {
    .home-icon {
      width: 360px;
      height: 174px;
      padding: 0;
    }
  }

  // Jumbotron
  .jumbotron{
    color: white;
    background: $brand-primary;
    padding: $grid-gutter-width $grid-gutter-width/2;
    margin: 0;

    h2{
      font-size: 2.3em;
      margin: $grid-gutter-width/2 0;
      font-weight: 100;
    }

    p{
      font-size: 1em; //1.143em;
      font-weight: 300;
    }

    .separator{
      margin: $grid-gutter-width auto;
    }

    .btn{
      margin: 0 0 $grid-gutter-width/2;
    }
    .btn-primary{
      border-color: $btn-primary-color;
      min-width: 180px;
      
      &:hover{
        border-color: $btn-primary-color;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .jumbotron {
      padding: 2*$grid-gutter-width;
      h2 {
        font-size: 3em;
      }
      .separator{
        margin: 1.5*$grid-gutter-width auto;
      }
      .btn {
        margin: 0 $grid-gutter-width/2 $grid-gutter-width/2;
      }
    }
  }

  // Features
  .features{
    padding-bottom: 2*$grid-gutter-width;

    h3{
      font-size: 1.8em;
      margin: $grid-gutter-width auto;
    }
    @media (min-width: $screen-sm-min) {
      h3 {
        font-size: 30px;
        margin: 2*$grid-gutter-width auto;
      }
    }

    .feature{

      h4{
        color: $brand-primary;
        font-weight: normal;
        margin: 0 auto $grid-gutter-width/2;
      }

      p{
        color: $gray-dark;
        padding: 0 $grid-gutter-width;
      }

      .feature-icon{

        span{
          display: block;
          margin: 0 auto;
        }
      }

      .feature-icon-creation{
        @include retina-sprite( $home-icon-creation-group );
      }
      .feature-icon-information{
        @include retina-sprite( $home-icon-information-group );
      }
      .feature-icon-share{
        @include retina-sprite( $home-icon-share-group );
      }
      .feature-icon-collaboration{
        @include retina-sprite( $home-icon-collaboration-group );
      }
      .feature-icon-preview{
        @include retina-sprite( $home-icon-preview-group );
      }
      .feature-icon-story{
        @include retina-sprite( $home-icon-story-group );
      }

      // Add no-visible gif in order to preload them
      .feature-icon > span:after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
      }
      .feature-icon-creation:after{
        background-image: url('/images/home-gif/home-icon-creation.gif');
      }
      .feature-icon-information:after{
        background-image: url('/images/home-gif/home-icon-information.gif');
      }
      .feature-icon-share:after{
        background-image: url('/images/home-gif/home-icon-share.gif');
      }
      .feature-icon-collaboration:after{
        background-image: url('/images/home-gif/home-icon-collaboration.gif');
      }
      .feature-icon-preview:after{
        background-image: url('/images/home-gif/home-icon-preview.gif');
      }
      .feature-icon-story:after{
        background-image: url('/images/home-gif/home-icon-story.gif');
      }

      &:hover{

        .feature-icon-creation{
          background: url('/images/home-gif/home-icon-creation.gif') no-repeat 0 0;
        }
        .feature-icon-information{
          background: url('/images/home-gif/home-icon-information.gif') no-repeat 0 0;
        }
        .feature-icon-share{
          background: url('/images/home-gif/home-icon-share.gif') no-repeat 0 0;
        }
        .feature-icon-collaboration{
          background: url('/images/home-gif/home-icon-collaboration.gif') no-repeat 0 0;
        }
        .feature-icon-preview{
          background: url('/images/home-gif/home-icon-preview.gif') no-repeat 0 0;
        }
        .feature-icon-story{
          background: url('/images/home-gif/home-icon-story.gif') no-repeat 0 0;
        }
      }
    }
  }

  // Brands

  .brands{
    padding: $grid-gutter-width 0;

    ul{
      margin: 0;
      padding: 0;
      text-align: center;
    }
    li{
      display: inline-block;

      img{
        margin: $grid-gutter-width $grid-gutter-width/2;
      }
    }
  }
}

#gallery-carousel{
  margin-top: $grid-gutter-width/2;
  padding: $grid-gutter-width 0;
  background: $gray-lighter;
  text-align: center;
  
  .section-title{
    margin-bottom: 1.5*$grid-gutter-width;
  }

  > strong,
  > a.btn{
    display: inline-block;
    margin: 0 4px;
  }

  .gallery-carousel-container{
    margin-top: 30px;
  }
}