@import 'bootstrap/variables';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'bootstrap/mixins/gradients';
@import '_variables';
@import 'scss/sprites';

// Item preview

.item-preview{
  $item-preview-padding: 22px;
  //padding: 5px;
  //text-align: left;
  position: relative;
  height: 300px;
  margin-bottom: 15px;
  background: white;
  text-align: left;
  overflow: hidden;
  border-radius: 6px;

  .item-type{
    position: absolute;
    left: $grid-gutter-width/2;
    bottom: $grid-gutter-width/2;
    color: white;
    background: $brand-primary;
    padding: 0 $item-preview-padding;
    font-size: 0.786em;
    line-height: $item-preview-padding;
    border-radius: $item-preview-padding/2;
    text-transform: uppercase;
    z-index: 30;
  }

  .item-type-icon{
    $item-type-icon-size: 42px;
    position: absolute;
    left: $grid-gutter-width/2;
    top: $grid-gutter-width/2;
    width: $item-type-icon-size;
    height: $item-type-icon-size;
    border-radius: $item-type-icon-size/2;
    background: $brand-primary;
    z-index: 30;

    &:after{
      content: "";
      margin: 12px 9px;
      @include sprite-icon-story();
    }
  }

  .item-author{
    $item-author-picture-size: 44px;
    position: absolute;
    right: $grid-gutter-width/2;
    bottom: $grid-gutter-width/2;
    font-size: 0.786em;
    line-height: $item-author-picture-size;
    text-align: right;
    text-transform: uppercase;

    .item-author-picture{
      float: right;
      width: $item-author-picture-size;
      height: $item-author-picture-size;
      margin-left: 8px;
      border-radius: $item-author-picture-size/2;
      overflow: hidden;

      > img{
        width: 100%;
        height: auto;
      }
    }
  }

  .item-picture{
    .item-picture-overlay-white,
    .item-picture-overlay-black{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .item-picture-overlay-black{
      background: #fff;
      opacity: 0.18;
    }

    .item-picture-overlay-black{
      @include gradient-vertical(#bbb, #000, 0%, 100%);
      opacity: 0.56;
    }
  }

  .item-info{
    h3{
      margin: 0;
      font-weight: normal;
    }
    .bnt-start-reding{
      display: table;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3*$grid-gutter-width;
      height: 3*$grid-gutter-width;
      margin-top: $grid-gutter-width;
      margin-left: -1.5*$grid-gutter-width;
      border-radius: 1.5*$grid-gutter-width;
      border: 2px solid #fff;
      color: #fff;
      background: transparent;
      font-size: 0.857em;
      line-height: 1.375em;
      text-align: center;
      text-transform: uppercase;
      @include transition( background 0.3s ease-out );

      span{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }

      &:hover{
        color: $brand-primary;
        background: #fff;
        //background: rgba(255,255,255,0.7);
        border-color: $brand-primary;
        text-decoration: none;
      }
    }
  }

  &.item-visualization{
    color: white;
    background: $brand-primary;

    a{
      color: white;
    }

    .item-type{
      left: $grid-gutter-width;
      padding: 0;
    }

    .item-type-icon{
      &:after{
        @include sprite-icon-visualization();
      }
    }

    .item-info{
      position: relative;
      top: 50%;
      left: $grid-gutter-width;
      width: 50%;
      transform: translateY(-50%);

      h3{
        font-size: 2.143em;
      }
    }
  }

  &.item-story{

    .item-picture{
      float: left;
      position: relative;
      width: 50%;
      //top: 50%;
      //transform: translateY(-50%);

      > img{
        width: 100%;
        height: auto;
      }
    }

    .item-info{
      width: 50%;
      float: right;

      h3{
        color: $gray;
        font-size: 1.571em;
        margin: $item-preview-padding $item-preview-padding 0;
      }

      p{
        color: $gray;
        font-size: 0.857em;
        font-style: italic;
        margin: $grid-gutter-width $item-preview-padding;
        font-weight: 300;
      }
    }
    .item-author a{
      color: mix( $gray, $gray-light, 80% );
      font-weight: bold;
    }
  }

  &.item-preview-large{
    text-align: center;

    .item-info{
      position: absolute;
      width: 460px;
      height: 100%;
      top: 0;
      left: 50%;
      margin-left: -230px;
      transform: none;

      .item-title{
        position: absolute;
        bottom: 50%;
        left: 50%;
        margin-left: -230px;
        width: 460px;
        text-align: center;

        h3{
          color: #fff;
          font-size: 2.143em;
        }
      }
    }

    .item-picture{
      float: none;
      width: 100%;
      top: 0%;
      transform: none;
    }
  }
}

// Items Carousel
.items-carousel{
  
  .carousel-nav{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .carousel-control{
    display: inline-block;
    position: relative;
    width: $grid-gutter-width;
    height: $grid-gutter-width;
    background: transparent;
    border: 2px solid $brand-primary;
    border-radius: $grid-gutter-width/2;
    opacity: 1;
    @include transition( background 0.3s ease-out );

    .left-icon{
      position: absolute;
      top: 6px;
      left: 8px;
      @include sprite-icon-carousel-left();
    }
    .right-icon{
      position: absolute;
      top: 6px;
      right: 8px;
      @include sprite-icon-carousel-right();
    }

    &:hover{
      background: rgba( red($brand-primary), green($brand-primary), blue($brand-primary), 0.2 );
    }
  }

  .carousel-indicators{
    display: inline-block;
    position: static;
    margin: 0 $grid-gutter-width/2;
    width: auto;

    li{
      width: 13px;
      height: 13px;
      margin: 8px 5px;
      border: none;
      background: $gray-light;

      &.active{
        background: $brand-primary;
      }
    }
  }
}

// Items List Header

.items-preview-header{
  // Disable active buttons
  > .btn-primary{
    cursor: auto;
    border-color: $brand-primary;

    &:hover{
      color: #fff;
      background: $brand-primary;
    }
  }
  > .btn-transparent{
    min-width: 130px;
    @include transition( border-color 0.2s ease-out );
    &:hover{
      color: $brand-primary;
      border-color: $brand-primary;
      background: #fff;
    }
  }

  .items-orderby{
    font-size: 11px;
    line-height: 4+$btn-line-height;
    text-transform: uppercase;

    a{
      margin-left: $grid-gutter-width/2;

      &.active{
        font-weight: bold;
      }

      &:hover{
        color: $text-color;
        text-decoration: none;
      }
    }
  }

  // Explore tooltips
  .tooltip{
    
    .tooltip-inner{
      text-align: left;
      border-radius: 5px;
      padding: $grid-gutter-width/2;
    }
  }
}

// Items List

.items-preview-list{

}

// Pages

.page-header{
  border: none;
  margin: 2*$grid-gutter-width 0 3*$grid-gutter-width;
  padding: 0;

  h2{
    font-size: 3em;
    margin: 0 0 $grid-gutter-width/2;
  }

  .lead{
    font-size: 1em;
    color: mix( $gray, $gray-light, 45% );
  }
}

.pages{

  .page-items{
    background: $gray-lighter;
    padding: 2*$grid-gutter-width 0;
  }

  .item-preview{
    margin-bottom: 20px;
  }

  .pagination{
    margin: 40px 0 0;
  }

  .explore-navbar{
    
  }

  &.gallery{
    .item-preview{
      height: 400px;
    }
  }
}


