@import 'bootstrap/variables';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'bootstrap/mixins/gradients';
@import '_variables';
@import 'scss/sprites';

// Alerts

.alerts-container{
  position: relative;
  padding: 0;

  > p{
    position: absolute;
    padding: 2px $grid-gutter-width/3;
    top: -12px;
    z-index: 99;
    width: 100%;
  }
  @media (min-width: $screen-sm-min) {
    padding: 0 $grid-gutter-width/2;
    margin-left: 0 !important;
    > p {
      width: auto;
    }
  }
}

// Item preview

.item-preview{
  $item-preview-padding: 24px;
  //padding: 5px;
  //text-align: left;
  position: relative;
  height: 300px;
  margin-bottom: 15px;
  background: white;
  text-align: left;
  overflow: hidden;
  border-radius: 6px;

  .item-type,
  .item-type-icon,
  .item-status,
  .item-author{
    position: absolute;
    font-size: 0.786em;
    text-transform: uppercase;
    z-index: 61;
  }

  .item-type{
    left: 2*$grid-gutter-width/3;
    bottom: $grid-gutter-width/2;
    color: white;
    background: $brand-primary;
    padding: 0 $item-preview-padding;
    line-height: $item-preview-padding;
    border-radius: $item-preview-padding/2;
  }

  .item-type-icon{
    $item-type-icon-size: 42px;
    left: 2*$grid-gutter-width/3;
    top: 2*$grid-gutter-width/3;
    width: $item-type-icon-size;
    height: $item-type-icon-size;
    border-radius: $item-type-icon-size/2;
    background: $brand-primary;

    &:after{
      display: block;
      content: "";
      @include retina-sprite( $icon-story-group );
    }
  }

  .item-status{
    right: 2*$grid-gutter-width/3;
    top: 2*$grid-gutter-width/3;
    color: white;
    line-height: 2+$item-preview-padding;

    .item-status-icon{
      display: block;
      float: right;
      width: 2+$item-preview-padding;
      height: 2+$item-preview-padding;
      margin-left: 10px;
      background: white;
      border-radius: 1+($item-preview-padding/2);

      &:after{
        content: "";
        display: block;
        margin-top: 7px;
        margin-left: 5px;
        @include retina-sprite( $icon-table-group );
      }
    }
  }

  .item-author{
    $item-author-picture-size: 44px;
    right: 2*$grid-gutter-width/3;
    bottom: $grid-gutter-width/2;
    line-height: $item-author-picture-size - 2;
    text-align: right;

    .item-author-picture{
      float: right;
      width: $item-author-picture-size;
      height: $item-author-picture-size;
      margin-left: 8px;
      border-radius: $item-author-picture-size/2;
      overflow: hidden;
      background: mix( $brand-primary, white, 10% );
      @include transition( opacity 0.3s ease-out );

      > img{
        width: 100%;
        height: auto;
      }
    }

    a:hover{
      text-decoration: none;

      .item-author-picture{
        opacity: 0.7;
      }
    }
  }

  .item-picture{
    background: $brand-primary;

    .item-picture-default{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -35px;
      margin-top: -30px;
      @include retina-sprite( $icon-story-big-group );
    }
    .item-picture-overlay-white,
    .item-picture-overlay-black,
    .item-picture-cover{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .item-picture-overlay-white{
      background: #fff;
      opacity: 0.1;
      z-index: 59;
    }

    .item-picture-overlay-black{
      @include gradient-vertical(#bbb, #000, 0%, 100%);
      opacity: 0.56;
      z-index: 58;
    }

    .item-picture-cover{
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      z-index: 57;
    }
  }

  .item-info-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 60;
  }

  .item-info-container-inner{
    display: table;
    height: 100%;
    margin: 0 auto;
    //position: absolute;
    //top: 50%;
    @media (min-width: $screen-sm-min) {
      max-width: 500px;
    }
  }

  .item-info{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 $grid-gutter-width/3;
    // position: relative;
    //top: -50%;

    h3{
      margin: 0;
      font-weight: normal;
    }

    .btn-start-reading{
      display: table;
      //position: absolute;
      //top: 50%;
      //left: 50%;
      width: 3*$grid-gutter-width;
      height: 3*$grid-gutter-width;
      margin: $grid-gutter-width auto 0;
      //margin-left: -1.5*$grid-gutter-width;
      border-radius: 1.5*$grid-gutter-width;
      border: 2px solid #fff;
      color: #fff;
      background: transparent;
      font-size: 0.857em;
      line-height: 1.375em;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      @include transition( background 0.3s ease-out );

      span{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }

      &:hover{
        color: $brand-primary;
        background: #fff;
        text-decoration: none;
      }
    }

    .item-title:hover{
      text-decoration: none;

      .btn-start-reading{
        @extend .btn-start-reading:hover;
      }
    }
  }

  &.item-visualization{
    color: white;
    background: $brand-primary;

    a{
      color: white;
    }

    .item-type{
      padding: 0;
    }

    .item-type-icon{
      &:after{
        margin-left: 0;
        @include retina-sprite( $icon-visualization-group );
      }
    }

    .item-info{
      //position: relative;
      //top: 50%;
      //left: $grid-gutter-width;
      //width: 50%;
      //transform: translateY(-50%);

      h3{
        font-size: 1.6em;
      }
    }
  }

  &.item-story{

    .item-picture{
      float: left;
      position: relative;
      width: 50%;
      height: 100%;
      overflow: hidden;
      //top: 50%;
      //transform: translateY(-50%);

      > img{
        width: 100%;
        height: auto;
      }
    }

    .item-info-container{
      left: 50%;
    }

    .item-info-container-inner{
      margin: 0;
    }

    .item-info{
      //width: 50%;
      //float: right;
      vertical-align: top;
      text-align: left;

      h3{
        color: $gray;
        font-size: 1.571em;
        margin: $grid-gutter-width $grid-gutter-width 0;
      }

      .item-description{
        color: $gray;
        font-size: 0.857em;
        font-style: italic;
        margin: $grid-gutter-width/2 $grid-gutter-width;
        font-weight: 300;
        max-height: 160px;
        overflow: hidden;
      }
    }
    .item-author a{
      color: mix( $gray, $gray-light, 80% );
      font-weight: bold;
    }

    .item-type-icon:after{
      margin: 12px 9px;
    }

    .item-status{
      right: auto;
      top: auto;
      left: 120px;
      bottom: 14px;

      .item-status-icon{
        float: left;
        margin-left: 0;
        margin-right: 8px;
        background: $brand-primary;

        &:after{
          @include retina-sprite( $icon-table-white-group );
        }
      }
    }
  }

  &.item-preview-large{
    text-align: center;

    .item-info-container{
      left: 0;
    }

    .item-info-container-inner{
      margin: 0 auto;
    }

    .item-picture .item-picture-default{
      display: none;
    }

    .item-info{
      //position: absolute;
      //width: 460px;
      //height: 100%;
      //top: 0;
      //left: 50%;
      //margin-left: -230px;
      vertical-align: middle;

      .item-title{
        //position: absolute;
        //bottom: 50%;
        //left: 50%;
        //margin-left: -230px;
        //width: 460px;
        //text-align: center;

        h3{
          color: #fff;
          font-size: 2.5em;
        }
      }
    }

    .item-author a{
      color: white;
    }

    .item-picture{
      float: none;
      width: 100%;
      //top: 0%;
      //transform: none;
    }

    .item-type-icon:after{
      margin: 12px 9px;
    }
  }
  @media (min-width: $screen-sm-min) {
    &.item-visualization {
      .item-info {
        h3{
          font-size: 2.143em;
        }
      }
    }
  }
}

// Items Carousel
.items-carousel{

  .carousel-nav{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .carousel-control{
    display: inline-block;
    position: relative;
    width: $grid-gutter-width;
    height: $grid-gutter-width;
    background: transparent;
    border: 2px solid $brand-primary;
    border-radius: $grid-gutter-width/2;
    opacity: 1;
    @include transition( background 0.3s ease-out );

    .left-icon{
      position: absolute;
      top: 7px;
      left: 9px;
      @include retina-sprite( $icon-carousel-left-group );

    }
    .right-icon{
      position: absolute;
      top: 7px;
      right: 9px;
      @include retina-sprite( $icon-carousel-right-group );

    }

    &:hover{
      background: rgba( red($brand-primary), green($brand-primary), blue($brand-primary), 0.2 );
    }
  }

  .carousel-indicators{
    display: inline-block;
    position: static;
    margin: 0 $grid-gutter-width/2;
    width: auto;

    li{
      width: 13px;
      height: 13px;
      margin: 8px 5px;
      border: none;
      background: $gray-light;

      &.active{
        background: $brand-primary;
      }
    }
  }
}

// Items List Header

.items-preview-header{
  margin-bottom: $grid-gutter-width;

  // Disable active buttons
  > .btn-primary{
    cursor: auto;
    border-color: $brand-primary;

    &:hover{
      color: #fff;
      background: $brand-primary;
    }
  }
  > .btn-transparent{
    min-width: 130px;
    @include transition( border-color 0.2s ease-out );
    &:hover{
      color: $brand-primary;
      border-color: $brand-primary;
      background: #fff;
    }
  }

  .items-orderby{
    font-size: 11px;
    line-height: 4+$btn-line-height;
    text-transform: uppercase;

    a{
      margin-left: $grid-gutter-width/2;

      &.active{
        font-weight: bold;
      }

      &:hover{
        color: $text-color;
        text-decoration: none;
      }
    }
  }

  // Explore tooltips
  .tooltip{

    .tooltip-inner{
      text-align: left;
      border-radius: 5px;
      padding: $grid-gutter-width/2;
    }
  }
}

// Items List

.items-preview-list {
  .item-story {
    @media (max-width: $screen-md-min - 1) {
      .item-picture {
        width: 100%;
      }
      .item-picture-default {
        display: none;
      }
      .item-info-container {
        left: 0;
      }
      .item-info-container-inner {
        width: 100%;
      }
      .item-info {
        vertical-align: middle;
        h3 {
          margin: 0;
          color: white;
          text-align: center;
        }
      }
      .item-status{
        right: 20px;
        top: 20px;
        left: auto;
        bottom: auto;
        a {
          color: white;
        }
      }
      .item-author {
        a {
          color: white;
        }
      }
      .item-info {
        .item-description {
          color: white;
          margin: $grid-gutter-width/3 0;
          text-align: center;
          div {
            text-align: left;
            display: inline-block;
          }
        }
      }
    }
  }
}

// Pages

.page-header{
  border: none;
  margin: $grid-gutter-width 0 1.5*$grid-gutter-width;
  padding: 0 $grid-gutter-width/3;

  h2{
    font-size: 2em;
    margin: 0 0 $grid-gutter-width/2;
    text-align: left;
    display: inline-block;
  }

  .lead{
    font-size: 1em;
    color: mix( $gray, $gray-light, 45% );
  }
  @media (min-width: $screen-sm-min) {
    margin: 2*$grid-gutter-width 0 3*$grid-gutter-width;
    padding: 0;
    h2 {
      font-size: 3em;
    }
  }
}



.pages{

  .page-items{
    background: $gray-lighter;
    padding: 2*$grid-gutter-width 0;
  }

  .item-preview{
    margin-bottom: 20px;
  }

  .pagination{
    margin: 40px 0 0;
  }

  .explore-navbar{

  }

  &.gallery{
    .item-preview{
      height: 400px;
    }
  }
}


