@import 'bootstrap/variables';
@import '_variables';

.pages{

  .search-form{
    float: none;
    width: 100%;
    margin: -$grid-gutter-width auto 0;

    @media (min-width: $screen-xs) {
      width: 320px;
    }
  }

  .search-result-title{
    display: block;
    color: $gray-dark;
    margin-bottom: 4*$grid-gutter-width/3;
    margin-top: -$grid-gutter-width/2;
    font-size: 1.286em;
    text-align: center;

    strong{
      color: $gray-darker;
      font-weight: 400;
    }
  }
}

// Documentation Page

.documentation-page{
  margin-bottom: $grid-gutter-width;
  text-align: center;

  h3{
    margin: 0 0 4*$grid-gutter-width/3;

    .blue{
      color: $brand-primary;
    }
  }

  hr{
    margin-top: 4*$grid-gutter-width/3;
    margin-bottom: 4*$grid-gutter-width/3;
    border-color: $gray-blue;
  }
}