// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$home-icon-collaboration-name: 'home-icon-collaboration';
$home-icon-collaboration-x: 0px;
$home-icon-collaboration-y: 0px;
$home-icon-collaboration-offset-x: 0px;
$home-icon-collaboration-offset-y: 0px;
$home-icon-collaboration-width: 220px;
$home-icon-collaboration-height: 108px;
$home-icon-collaboration-total-width: 440px;
$home-icon-collaboration-total-height: 324px;
$home-icon-collaboration-image: '/images/sprites-home.png';
$home-icon-collaboration: (0px, 0px, 0px, 0px, 220px, 108px, 440px, 324px, '/images/sprites-home.png', 'home-icon-collaboration', );
$home-icon-creation-name: 'home-icon-creation';
$home-icon-creation-x: 0px;
$home-icon-creation-y: 108px;
$home-icon-creation-offset-x: 0px;
$home-icon-creation-offset-y: -108px;
$home-icon-creation-width: 220px;
$home-icon-creation-height: 108px;
$home-icon-creation-total-width: 440px;
$home-icon-creation-total-height: 324px;
$home-icon-creation-image: '/images/sprites-home.png';
$home-icon-creation: (0px, 108px, 0px, -108px, 220px, 108px, 440px, 324px, '/images/sprites-home.png', 'home-icon-creation', );
$home-icon-information-name: 'home-icon-information';
$home-icon-information-x: 220px;
$home-icon-information-y: 0px;
$home-icon-information-offset-x: -220px;
$home-icon-information-offset-y: 0px;
$home-icon-information-width: 220px;
$home-icon-information-height: 108px;
$home-icon-information-total-width: 440px;
$home-icon-information-total-height: 324px;
$home-icon-information-image: '/images/sprites-home.png';
$home-icon-information: (220px, 0px, -220px, 0px, 220px, 108px, 440px, 324px, '/images/sprites-home.png', 'home-icon-information', );
$home-icon-preview-name: 'home-icon-preview';
$home-icon-preview-x: 220px;
$home-icon-preview-y: 108px;
$home-icon-preview-offset-x: -220px;
$home-icon-preview-offset-y: -108px;
$home-icon-preview-width: 220px;
$home-icon-preview-height: 108px;
$home-icon-preview-total-width: 440px;
$home-icon-preview-total-height: 324px;
$home-icon-preview-image: '/images/sprites-home.png';
$home-icon-preview: (220px, 108px, -220px, -108px, 220px, 108px, 440px, 324px, '/images/sprites-home.png', 'home-icon-preview', );
$home-icon-share-name: 'home-icon-share';
$home-icon-share-x: 0px;
$home-icon-share-y: 216px;
$home-icon-share-offset-x: 0px;
$home-icon-share-offset-y: -216px;
$home-icon-share-width: 220px;
$home-icon-share-height: 108px;
$home-icon-share-total-width: 440px;
$home-icon-share-total-height: 324px;
$home-icon-share-image: '/images/sprites-home.png';
$home-icon-share: (0px, 216px, 0px, -216px, 220px, 108px, 440px, 324px, '/images/sprites-home.png', 'home-icon-share', );
$home-icon-story-name: 'home-icon-story';
$home-icon-story-x: 220px;
$home-icon-story-y: 216px;
$home-icon-story-offset-x: -220px;
$home-icon-story-offset-y: -216px;
$home-icon-story-width: 220px;
$home-icon-story-height: 108px;
$home-icon-story-total-width: 440px;
$home-icon-story-total-height: 324px;
$home-icon-story-image: '/images/sprites-home.png';
$home-icon-story: (220px, 216px, -220px, -216px, 220px, 108px, 440px, 324px, '/images/sprites-home.png', 'home-icon-story', );
$home-icon-collaboration-2x-name: 'home-icon-collaboration@2x';
$home-icon-collaboration-2x-x: 0px;
$home-icon-collaboration-2x-y: 0px;
$home-icon-collaboration-2x-offset-x: 0px;
$home-icon-collaboration-2x-offset-y: 0px;
$home-icon-collaboration-2x-width: 440px;
$home-icon-collaboration-2x-height: 216px;
$home-icon-collaboration-2x-total-width: 880px;
$home-icon-collaboration-2x-total-height: 648px;
$home-icon-collaboration-2x-image: '/images/sprites-home@2x.png';
$home-icon-collaboration-2x: (0px, 0px, 0px, 0px, 440px, 216px, 880px, 648px, '/images/sprites-home@2x.png', 'home-icon-collaboration@2x', );
$home-icon-creation-2x-name: 'home-icon-creation@2x';
$home-icon-creation-2x-x: 0px;
$home-icon-creation-2x-y: 216px;
$home-icon-creation-2x-offset-x: 0px;
$home-icon-creation-2x-offset-y: -216px;
$home-icon-creation-2x-width: 440px;
$home-icon-creation-2x-height: 216px;
$home-icon-creation-2x-total-width: 880px;
$home-icon-creation-2x-total-height: 648px;
$home-icon-creation-2x-image: '/images/sprites-home@2x.png';
$home-icon-creation-2x: (0px, 216px, 0px, -216px, 440px, 216px, 880px, 648px, '/images/sprites-home@2x.png', 'home-icon-creation@2x', );
$home-icon-information-2x-name: 'home-icon-information@2x';
$home-icon-information-2x-x: 440px;
$home-icon-information-2x-y: 0px;
$home-icon-information-2x-offset-x: -440px;
$home-icon-information-2x-offset-y: 0px;
$home-icon-information-2x-width: 440px;
$home-icon-information-2x-height: 216px;
$home-icon-information-2x-total-width: 880px;
$home-icon-information-2x-total-height: 648px;
$home-icon-information-2x-image: '/images/sprites-home@2x.png';
$home-icon-information-2x: (440px, 0px, -440px, 0px, 440px, 216px, 880px, 648px, '/images/sprites-home@2x.png', 'home-icon-information@2x', );
$home-icon-preview-2x-name: 'home-icon-preview@2x';
$home-icon-preview-2x-x: 440px;
$home-icon-preview-2x-y: 216px;
$home-icon-preview-2x-offset-x: -440px;
$home-icon-preview-2x-offset-y: -216px;
$home-icon-preview-2x-width: 440px;
$home-icon-preview-2x-height: 216px;
$home-icon-preview-2x-total-width: 880px;
$home-icon-preview-2x-total-height: 648px;
$home-icon-preview-2x-image: '/images/sprites-home@2x.png';
$home-icon-preview-2x: (440px, 216px, -440px, -216px, 440px, 216px, 880px, 648px, '/images/sprites-home@2x.png', 'home-icon-preview@2x', );
$home-icon-share-2x-name: 'home-icon-share@2x';
$home-icon-share-2x-x: 0px;
$home-icon-share-2x-y: 432px;
$home-icon-share-2x-offset-x: 0px;
$home-icon-share-2x-offset-y: -432px;
$home-icon-share-2x-width: 440px;
$home-icon-share-2x-height: 216px;
$home-icon-share-2x-total-width: 880px;
$home-icon-share-2x-total-height: 648px;
$home-icon-share-2x-image: '/images/sprites-home@2x.png';
$home-icon-share-2x: (0px, 432px, 0px, -432px, 440px, 216px, 880px, 648px, '/images/sprites-home@2x.png', 'home-icon-share@2x', );
$home-icon-story-2x-name: 'home-icon-story@2x';
$home-icon-story-2x-x: 440px;
$home-icon-story-2x-y: 432px;
$home-icon-story-2x-offset-x: -440px;
$home-icon-story-2x-offset-y: -432px;
$home-icon-story-2x-width: 440px;
$home-icon-story-2x-height: 216px;
$home-icon-story-2x-total-width: 880px;
$home-icon-story-2x-total-height: 648px;
$home-icon-story-2x-image: '/images/sprites-home@2x.png';
$home-icon-story-2x: (440px, 432px, -440px, -432px, 440px, 216px, 880px, 648px, '/images/sprites-home@2x.png', 'home-icon-story@2x', );
$spritesheet-width: 440px;
$spritesheet-height: 324px;
$spritesheet-image: '/images/sprites-home.png';
$spritesheet-sprites: ($home-icon-collaboration, $home-icon-creation, $home-icon-information, $home-icon-preview, $home-icon-share, $home-icon-story, );
$spritesheet: (440px, 324px, '/images/sprites-home.png', $spritesheet-sprites, );
$retina-spritesheet-width: 880px;
$retina-spritesheet-height: 648px;
$retina-spritesheet-image: '/images/sprites-home@2x.png';
$retina-spritesheet-sprites: ($home-icon-collaboration-2x, $home-icon-creation-2x, $home-icon-information-2x, $home-icon-preview-2x, $home-icon-share-2x, $home-icon-story-2x, );
$retina-spritesheet: (880px, 648px, '/images/sprites-home@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$home-icon-collaboration-group-name: 'home-icon-collaboration';
$home-icon-collaboration-group: ('home-icon-collaboration', $home-icon-collaboration, $home-icon-collaboration-2x, );
$home-icon-creation-group-name: 'home-icon-creation';
$home-icon-creation-group: ('home-icon-creation', $home-icon-creation, $home-icon-creation-2x, );
$home-icon-information-group-name: 'home-icon-information';
$home-icon-information-group: ('home-icon-information', $home-icon-information, $home-icon-information-2x, );
$home-icon-preview-group-name: 'home-icon-preview';
$home-icon-preview-group: ('home-icon-preview', $home-icon-preview, $home-icon-preview-2x, );
$home-icon-share-group-name: 'home-icon-share';
$home-icon-share-group: ('home-icon-share', $home-icon-share, $home-icon-share-2x, );
$home-icon-story-group-name: 'home-icon-story';
$home-icon-story-group: ('home-icon-story', $home-icon-story, $home-icon-story-2x, );
$retina-groups: ($home-icon-collaboration-group, $home-icon-creation-group, $home-icon-information-group, $home-icon-preview-group, $home-icon-share-group, $home-icon-story-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
