@mixin sprite($x: 0, $y: 0, $width: 0, $height: 0){
  display: block;
  background-image: url(/images/spritesheet.png);    
  background-repeat: no-repeat;
  background-position: $x $y;
  width: $width;
  height: $height;
  overflow: hidden;
}

@mixin sprite-dahsboard-icon-story {
  @include sprite(0, 0, 47px, 55px);
}

@mixin sprite-dahsboard-icon-user {
  @include sprite(-47px, 0, 49px, 50px);
}

@mixin sprite-dahsboard-icon-visualization {
  @include sprite(-96px, 0, 48px, 44px);
}

@mixin sprite-home-icon-collaboration {
  @include sprite(-144px, 0, 54px, 53px);
}

@mixin sprite-home-icon-creation {
  @include sprite(-47px, -53px, 108px, 60px);
}

@mixin sprite-home-icon-information {
  @include sprite(-198px, 0, 42px, 42px);
}

@mixin sprite-home-icon-preview {
  @include sprite(-155px, -53px, 53px, 34px);
}

@mixin sprite-home-icon-share {
  @include sprite(0, -87px, 36px, 45px);
}

@mixin sprite-home-icon-story {
  @include sprite(-155px, -87px, 48px, 39px);
}

@mixin sprite-icon-carousel-left {
  @include sprite(-208px, -42px, 8px, 13px);
}

@mixin sprite-icon-carousel-left-hover {
  @include sprite(-216px, -42px, 8px, 13px);
}

@mixin sprite-icon-carousel-right {
  @include sprite(-224px, -42px, 8px, 13px);
}

@mixin sprite-icon-carousel-right-hover {
  @include sprite(-232px, -42px, 8px, 13px);
}

@mixin sprite-icon-civio-footer {
  @include sprite(-36px, -113px, 109px, 30px);
}

@mixin sprite-icon-close {
  @include sprite(0, -55px, 20px, 20px);
}

@mixin sprite-icon-close-white {
  @include sprite(-208px, -55px, 30px, 30px);
}

@mixin sprite-icon-duplicate {
  @include sprite(-208px, -85px, 17px, 15px);
}

@mixin sprite-icon-eu-footer {
  @include sprite(-203px, -100px, 38px, 38px);
}

@mixin sprite-icon-fullscreen {
  @include sprite(0, -138px, 22px, 22px);
}

@mixin sprite-icon-fullscreen-back {
  @include sprite(-145px, -138px, 22px, 22px);
}

@mixin sprite-icon-location {
  @include sprite(-167px, -138px, 18px, 24px);
}

@mixin sprite-icon-logo-footer {
  @include sprite(0, -162px, 88px, 40px);
}

@mixin sprite-icon-mail {
  @include sprite(-185px, -138px, 21px, 17px);
}

@mixin sprite-icon-pencil {
  @include sprite(-206px, -138px, 17px, 17px);
}

@mixin sprite-icon-pencil-circle {
  @include sprite(-88px, -155px, 28px, 28px);
}

@mixin sprite-icon-pencil-white {
  @include sprite(-223px, -138px, 17px, 16px);
}

@mixin sprite-icon-plus-circle {
  @include sprite(-116px, -155px, 29px, 29px);
}

@mixin sprite-icon-preview {
  @include sprite(-185px, -155px, 28px, 18px);
}

@mixin sprite-icon-search {
  @include sprite(-223px, -154px, 18px, 17px);
}

@mixin sprite-icon-settings {
  @include sprite(-20px, -55px, 16px, 12px);
}

@mixin sprite-icon-share {
  @include sprite(-225px, -85px, 14px, 14px);
}

@mixin sprite-icon-story {
  @include sprite(-145px, -171px, 24px, 18px);
}

@mixin sprite-icon-story-big {
  @include sprite(-169px, -173px, 70px, 58px);
}

@mixin sprite-icon-story-brand {
  @include sprite(-240px, 0, 20px, 16px);
}

@mixin sprite-icon-table {
  @include sprite(-240px, -16px, 18px, 12px);
}

@mixin sprite-icon-tool {
  @include sprite(-240px, -28px, 18px, 18px);
}

@mixin sprite-icon-tool-brand {
  @include sprite(-240px, -46px, 18px, 18px);
}

@mixin sprite-icon-visualization {
  @include sprite(0, -231px, 25px, 24px);
}

@mixin sprite-icon-visualization-brand {
  @include sprite(-238px, -64px, 19px, 18px);
}

@mixin sprite-icon-zoomin {
  @include sprite(-239px, -171px, 24px, 24px);
}

@mixin sprite-icon-zoomout {
  @include sprite(-88px, -195px, 24px, 24px);
}

@mixin sprite-logo {
  @include sprite(-260px, 0, 109px, 51px);
}

@mixin sprite-logo-hover {
  @include sprite(-258px, -51px, 109px, 51px);
}

@mixin sprite-social-icon-facebook {
  @include sprite(-241px, -102px, 8px, 16px);
}

@mixin sprite-social-icon-facebook-brand {
  @include sprite(-249px, -102px, 8px, 16px);
}

@mixin sprite-social-icon-gplus {
  @include sprite(-257px, -102px, 18px, 12px);
}

@mixin sprite-social-icon-twitter {
  @include sprite(-275px, -102px, 16px, 14px);
}

@mixin sprite-social-icon-twitter-brand {
  @include sprite(-291px, -102px, 16px, 14px);
}
