/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$dahsboard-icon-story-name: 'dahsboard-icon-story';
$dahsboard-icon-story-x: 179px;
$dahsboard-icon-story-y: 0px;
$dahsboard-icon-story-offset-x: -179px;
$dahsboard-icon-story-offset-y: 0px;
$dahsboard-icon-story-width: 55px;
$dahsboard-icon-story-height: 46px;
$dahsboard-icon-story-total-width: 234px;
$dahsboard-icon-story-total-height: 233px;
$dahsboard-icon-story-image: '/images/sprites.png';
$dahsboard-icon-story: (179px, 0px, -179px, 0px, 55px, 46px, 234px, 233px, '/images/sprites.png', 'dahsboard-icon-story', );
$dahsboard-icon-user-name: 'dahsboard-icon-user';
$dahsboard-icon-user-x: 179px;
$dahsboard-icon-user-y: 46px;
$dahsboard-icon-user-offset-x: -179px;
$dahsboard-icon-user-offset-y: -46px;
$dahsboard-icon-user-width: 49px;
$dahsboard-icon-user-height: 50px;
$dahsboard-icon-user-total-width: 234px;
$dahsboard-icon-user-total-height: 233px;
$dahsboard-icon-user-image: '/images/sprites.png';
$dahsboard-icon-user: (179px, 46px, -179px, -46px, 49px, 50px, 234px, 233px, '/images/sprites.png', 'dahsboard-icon-user', );
$dahsboard-icon-visualization-name: 'dahsboard-icon-visualization';
$dahsboard-icon-visualization-x: 179px;
$dahsboard-icon-visualization-y: 96px;
$dahsboard-icon-visualization-offset-x: -179px;
$dahsboard-icon-visualization-offset-y: -96px;
$dahsboard-icon-visualization-width: 48px;
$dahsboard-icon-visualization-height: 44px;
$dahsboard-icon-visualization-total-width: 234px;
$dahsboard-icon-visualization-total-height: 233px;
$dahsboard-icon-visualization-image: '/images/sprites.png';
$dahsboard-icon-visualization: (179px, 96px, -179px, -96px, 48px, 44px, 234px, 233px, '/images/sprites.png', 'dahsboard-icon-visualization', );
$icon-carousel-left-hover-name: 'icon-carousel-left-hover';
$icon-carousel-left-hover-x: 227px;
$icon-carousel-left-hover-y: 96px;
$icon-carousel-left-hover-offset-x: -227px;
$icon-carousel-left-hover-offset-y: -96px;
$icon-carousel-left-hover-width: 7px;
$icon-carousel-left-hover-height: 12px;
$icon-carousel-left-hover-total-width: 234px;
$icon-carousel-left-hover-total-height: 233px;
$icon-carousel-left-hover-image: '/images/sprites.png';
$icon-carousel-left-hover: (227px, 96px, -227px, -96px, 7px, 12px, 234px, 233px, '/images/sprites.png', 'icon-carousel-left-hover', );
$icon-carousel-left-name: 'icon-carousel-left';
$icon-carousel-left-x: 227px;
$icon-carousel-left-y: 108px;
$icon-carousel-left-offset-x: -227px;
$icon-carousel-left-offset-y: -108px;
$icon-carousel-left-width: 7px;
$icon-carousel-left-height: 12px;
$icon-carousel-left-total-width: 234px;
$icon-carousel-left-total-height: 233px;
$icon-carousel-left-image: '/images/sprites.png';
$icon-carousel-left: (227px, 108px, -227px, -108px, 7px, 12px, 234px, 233px, '/images/sprites.png', 'icon-carousel-left', );
$icon-carousel-right-hover-name: 'icon-carousel-right-hover';
$icon-carousel-right-hover-x: 157px;
$icon-carousel-right-hover-y: 130px;
$icon-carousel-right-hover-offset-x: -157px;
$icon-carousel-right-hover-offset-y: -130px;
$icon-carousel-right-hover-width: 7px;
$icon-carousel-right-hover-height: 12px;
$icon-carousel-right-hover-total-width: 234px;
$icon-carousel-right-hover-total-height: 233px;
$icon-carousel-right-hover-image: '/images/sprites.png';
$icon-carousel-right-hover: (157px, 130px, -157px, -130px, 7px, 12px, 234px, 233px, '/images/sprites.png', 'icon-carousel-right-hover', );
$icon-carousel-right-name: 'icon-carousel-right';
$icon-carousel-right-x: 227px;
$icon-carousel-right-y: 120px;
$icon-carousel-right-offset-x: -227px;
$icon-carousel-right-offset-y: -120px;
$icon-carousel-right-width: 7px;
$icon-carousel-right-height: 12px;
$icon-carousel-right-total-width: 234px;
$icon-carousel-right-total-height: 233px;
$icon-carousel-right-image: '/images/sprites.png';
$icon-carousel-right: (227px, 120px, -227px, -120px, 7px, 12px, 234px, 233px, '/images/sprites.png', 'icon-carousel-right', );
$icon-civio-footer-name: 'icon-civio-footer';
$icon-civio-footer-x: 0px;
$icon-civio-footer-y: 142px;
$icon-civio-footer-offset-x: 0px;
$icon-civio-footer-offset-y: -142px;
$icon-civio-footer-width: 109px;
$icon-civio-footer-height: 30px;
$icon-civio-footer-total-width: 234px;
$icon-civio-footer-total-height: 233px;
$icon-civio-footer-image: '/images/sprites.png';
$icon-civio-footer: (0px, 142px, 0px, -142px, 109px, 30px, 234px, 233px, '/images/sprites.png', 'icon-civio-footer', );
$icon-close-white-name: 'icon-close-white';
$icon-close-white-x: 179px;
$icon-close-white-y: 140px;
$icon-close-white-offset-x: -179px;
$icon-close-white-offset-y: -140px;
$icon-close-white-width: 30px;
$icon-close-white-height: 30px;
$icon-close-white-total-width: 234px;
$icon-close-white-total-height: 233px;
$icon-close-white-image: '/images/sprites.png';
$icon-close-white: (179px, 140px, -179px, -140px, 30px, 30px, 234px, 233px, '/images/sprites.png', 'icon-close-white', );
$icon-close-name: 'icon-close';
$icon-close-x: 68px;
$icon-close-y: 172px;
$icon-close-offset-x: -68px;
$icon-close-offset-y: -172px;
$icon-close-width: 20px;
$icon-close-height: 20px;
$icon-close-total-width: 234px;
$icon-close-total-height: 233px;
$icon-close-image: '/images/sprites.png';
$icon-close: (68px, 172px, -68px, -172px, 20px, 20px, 234px, 233px, '/images/sprites.png', 'icon-close', );
$icon-duplicate-name: 'icon-duplicate';
$icon-duplicate-x: 211px;
$icon-duplicate-y: 172px;
$icon-duplicate-offset-x: -211px;
$icon-duplicate-offset-y: -172px;
$icon-duplicate-width: 17px;
$icon-duplicate-height: 15px;
$icon-duplicate-total-width: 234px;
$icon-duplicate-total-height: 233px;
$icon-duplicate-image: '/images/sprites.png';
$icon-duplicate: (211px, 172px, -211px, -172px, 17px, 15px, 234px, 233px, '/images/sprites.png', 'icon-duplicate', );
$icon-eu-footer-name: 'icon-eu-footer';
$icon-eu-footer-x: 109px;
$icon-eu-footer-y: 58px;
$icon-eu-footer-offset-x: -109px;
$icon-eu-footer-offset-y: -58px;
$icon-eu-footer-width: 38px;
$icon-eu-footer-height: 38px;
$icon-eu-footer-total-width: 234px;
$icon-eu-footer-total-height: 233px;
$icon-eu-footer-image: '/images/sprites.png';
$icon-eu-footer: (109px, 58px, -109px, -58px, 38px, 38px, 234px, 233px, '/images/sprites.png', 'icon-eu-footer', );
$icon-fullscreen-back-name: 'icon-fullscreen-back';
$icon-fullscreen-back-x: 22px;
$icon-fullscreen-back-y: 172px;
$icon-fullscreen-back-offset-x: -22px;
$icon-fullscreen-back-offset-y: -172px;
$icon-fullscreen-back-width: 22px;
$icon-fullscreen-back-height: 22px;
$icon-fullscreen-back-total-width: 234px;
$icon-fullscreen-back-total-height: 233px;
$icon-fullscreen-back-image: '/images/sprites.png';
$icon-fullscreen-back: (22px, 172px, -22px, -172px, 22px, 22px, 234px, 233px, '/images/sprites.png', 'icon-fullscreen-back', );
$icon-fullscreen-name: 'icon-fullscreen';
$icon-fullscreen-x: 0px;
$icon-fullscreen-y: 172px;
$icon-fullscreen-offset-x: 0px;
$icon-fullscreen-offset-y: -172px;
$icon-fullscreen-width: 22px;
$icon-fullscreen-height: 22px;
$icon-fullscreen-total-width: 234px;
$icon-fullscreen-total-height: 233px;
$icon-fullscreen-image: '/images/sprites.png';
$icon-fullscreen: (0px, 172px, 0px, -172px, 22px, 22px, 234px, 233px, '/images/sprites.png', 'icon-fullscreen', );
$icon-location-name: 'icon-location';
$icon-location-x: 0px;
$icon-location-y: 194px;
$icon-location-offset-x: 0px;
$icon-location-offset-y: -194px;
$icon-location-width: 18px;
$icon-location-height: 24px;
$icon-location-total-width: 234px;
$icon-location-total-height: 233px;
$icon-location-image: '/images/sprites.png';
$icon-location: (0px, 194px, 0px, -194px, 18px, 24px, 234px, 233px, '/images/sprites.png', 'icon-location', );
$icon-logo-footer-name: 'icon-logo-footer';
$icon-logo-footer-x: 0px;
$icon-logo-footer-y: 102px;
$icon-logo-footer-offset-x: 0px;
$icon-logo-footer-offset-y: -102px;
$icon-logo-footer-width: 88px;
$icon-logo-footer-height: 40px;
$icon-logo-footer-total-width: 234px;
$icon-logo-footer-total-height: 233px;
$icon-logo-footer-image: '/images/sprites.png';
$icon-logo-footer: (0px, 102px, 0px, -102px, 88px, 40px, 234px, 233px, '/images/sprites.png', 'icon-logo-footer', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 137px;
$icon-mail-y: 142px;
$icon-mail-offset-x: -137px;
$icon-mail-offset-y: -142px;
$icon-mail-width: 21px;
$icon-mail-height: 17px;
$icon-mail-total-width: 234px;
$icon-mail-total-height: 233px;
$icon-mail-image: '/images/sprites.png';
$icon-mail: (137px, 142px, -137px, -142px, 21px, 17px, 234px, 233px, '/images/sprites.png', 'icon-mail', );
$icon-pencil-circle-name: 'icon-pencil-circle';
$icon-pencil-circle-x: 88px;
$icon-pencil-circle-y: 102px;
$icon-pencil-circle-offset-x: -88px;
$icon-pencil-circle-offset-y: -102px;
$icon-pencil-circle-width: 28px;
$icon-pencil-circle-height: 28px;
$icon-pencil-circle-total-width: 234px;
$icon-pencil-circle-total-height: 233px;
$icon-pencil-circle-image: '/images/sprites.png';
$icon-pencil-circle: (88px, 102px, -88px, -102px, 28px, 28px, 234px, 233px, '/images/sprites.png', 'icon-pencil-circle', );
$icon-pencil-white-name: 'icon-pencil-white';
$icon-pencil-white-x: 178px;
$icon-pencil-white-y: 172px;
$icon-pencil-white-offset-x: -178px;
$icon-pencil-white-offset-y: -172px;
$icon-pencil-white-width: 17px;
$icon-pencil-white-height: 16px;
$icon-pencil-white-total-width: 234px;
$icon-pencil-white-total-height: 233px;
$icon-pencil-white-image: '/images/sprites.png';
$icon-pencil-white: (178px, 172px, -178px, -172px, 17px, 16px, 234px, 233px, '/images/sprites.png', 'icon-pencil-white', );
$icon-pencil-name: 'icon-pencil';
$icon-pencil-x: 161px;
$icon-pencil-y: 172px;
$icon-pencil-offset-x: -161px;
$icon-pencil-offset-y: -172px;
$icon-pencil-width: 17px;
$icon-pencil-height: 17px;
$icon-pencil-total-width: 234px;
$icon-pencil-total-height: 233px;
$icon-pencil-image: '/images/sprites.png';
$icon-pencil: (161px, 172px, -161px, -172px, 17px, 17px, 234px, 233px, '/images/sprites.png', 'icon-pencil', );
$icon-plus-circle-name: 'icon-plus-circle';
$icon-plus-circle-x: 147px;
$icon-plus-circle-y: 58px;
$icon-plus-circle-offset-x: -147px;
$icon-plus-circle-offset-y: -58px;
$icon-plus-circle-width: 29px;
$icon-plus-circle-height: 29px;
$icon-plus-circle-total-width: 234px;
$icon-plus-circle-total-height: 233px;
$icon-plus-circle-image: '/images/sprites.png';
$icon-plus-circle: (147px, 58px, -147px, -58px, 29px, 29px, 234px, 233px, '/images/sprites.png', 'icon-plus-circle', );
$icon-preview-name: 'icon-preview';
$icon-preview-x: 109px;
$icon-preview-y: 142px;
$icon-preview-offset-x: -109px;
$icon-preview-offset-y: -142px;
$icon-preview-width: 28px;
$icon-preview-height: 18px;
$icon-preview-total-width: 234px;
$icon-preview-total-height: 233px;
$icon-preview-image: '/images/sprites.png';
$icon-preview: (109px, 142px, -109px, -142px, 28px, 18px, 234px, 233px, '/images/sprites.png', 'icon-preview', );
$icon-search-name: 'icon-search';
$icon-search-x: 143px;
$icon-search-y: 172px;
$icon-search-offset-x: -143px;
$icon-search-offset-y: -172px;
$icon-search-width: 18px;
$icon-search-height: 17px;
$icon-search-total-width: 234px;
$icon-search-total-height: 233px;
$icon-search-image: '/images/sprites.png';
$icon-search: (143px, 172px, -143px, -172px, 18px, 17px, 234px, 233px, '/images/sprites.png', 'icon-search', );
$icon-settings-name: 'icon-settings';
$icon-settings-x: 141px;
$icon-settings-y: 130px;
$icon-settings-offset-x: -141px;
$icon-settings-offset-y: -130px;
$icon-settings-width: 16px;
$icon-settings-height: 12px;
$icon-settings-total-width: 234px;
$icon-settings-total-height: 233px;
$icon-settings-image: '/images/sprites.png';
$icon-settings: (141px, 130px, -141px, -130px, 16px, 12px, 234px, 233px, '/images/sprites.png', 'icon-settings', );
$icon-share-name: 'icon-share';
$icon-share-x: 195px;
$icon-share-y: 172px;
$icon-share-offset-x: -195px;
$icon-share-offset-y: -172px;
$icon-share-width: 16px;
$icon-share-height: 16px;
$icon-share-total-width: 234px;
$icon-share-total-height: 233px;
$icon-share-image: '/images/sprites.png';
$icon-share: (195px, 172px, -195px, -172px, 16px, 16px, 234px, 233px, '/images/sprites.png', 'icon-share', );
$icon-story-big-name: 'icon-story-big';
$icon-story-big-x: 109px;
$icon-story-big-y: 0px;
$icon-story-big-offset-x: -109px;
$icon-story-big-offset-y: 0px;
$icon-story-big-width: 70px;
$icon-story-big-height: 58px;
$icon-story-big-total-width: 234px;
$icon-story-big-total-height: 233px;
$icon-story-big-image: '/images/sprites.png';
$icon-story-big: (109px, 0px, -109px, 0px, 70px, 58px, 234px, 233px, '/images/sprites.png', 'icon-story-big', );
$icon-story-brand-name: 'icon-story-brand';
$icon-story-brand-x: 158px;
$icon-story-brand-y: 142px;
$icon-story-brand-offset-x: -158px;
$icon-story-brand-offset-y: -142px;
$icon-story-brand-width: 20px;
$icon-story-brand-height: 16px;
$icon-story-brand-total-width: 234px;
$icon-story-brand-total-height: 233px;
$icon-story-brand-image: '/images/sprites.png';
$icon-story-brand: (158px, 142px, -158px, -142px, 20px, 16px, 234px, 233px, '/images/sprites.png', 'icon-story-brand', );
$icon-story-name: 'icon-story';
$icon-story-x: 44px;
$icon-story-y: 172px;
$icon-story-offset-x: -44px;
$icon-story-offset-y: -172px;
$icon-story-width: 24px;
$icon-story-height: 20px;
$icon-story-total-width: 234px;
$icon-story-total-height: 233px;
$icon-story-image: '/images/sprites.png';
$icon-story: (44px, 172px, -44px, -172px, 24px, 20px, 234px, 233px, '/images/sprites.png', 'icon-story', );
$icon-table-name: 'icon-table';
$icon-table-x: 124px;
$icon-table-y: 130px;
$icon-table-offset-x: -124px;
$icon-table-offset-y: -130px;
$icon-table-width: 17px;
$icon-table-height: 12px;
$icon-table-total-width: 234px;
$icon-table-total-height: 233px;
$icon-table-image: '/images/sprites.png';
$icon-table: (124px, 130px, -124px, -130px, 17px, 12px, 234px, 233px, '/images/sprites.png', 'icon-table', );
$icon-tool-brand-name: 'icon-tool-brand';
$icon-tool-brand-x: 107px;
$icon-tool-brand-y: 172px;
$icon-tool-brand-offset-x: -107px;
$icon-tool-brand-offset-y: -172px;
$icon-tool-brand-width: 18px;
$icon-tool-brand-height: 18px;
$icon-tool-brand-total-width: 234px;
$icon-tool-brand-total-height: 233px;
$icon-tool-brand-image: '/images/sprites.png';
$icon-tool-brand: (107px, 172px, -107px, -172px, 18px, 18px, 234px, 233px, '/images/sprites.png', 'icon-tool-brand', );
$icon-tool-name: 'icon-tool';
$icon-tool-x: 125px;
$icon-tool-y: 172px;
$icon-tool-offset-x: -125px;
$icon-tool-offset-y: -172px;
$icon-tool-width: 18px;
$icon-tool-height: 18px;
$icon-tool-total-width: 234px;
$icon-tool-total-height: 233px;
$icon-tool-image: '/images/sprites.png';
$icon-tool: (125px, 172px, -125px, -172px, 18px, 18px, 234px, 233px, '/images/sprites.png', 'icon-tool', );
$icon-visualization-brand-name: 'icon-visualization-brand';
$icon-visualization-brand-x: 88px;
$icon-visualization-brand-y: 172px;
$icon-visualization-brand-offset-x: -88px;
$icon-visualization-brand-offset-y: -172px;
$icon-visualization-brand-width: 19px;
$icon-visualization-brand-height: 18px;
$icon-visualization-brand-total-width: 234px;
$icon-visualization-brand-total-height: 233px;
$icon-visualization-brand-image: '/images/sprites.png';
$icon-visualization-brand: (88px, 172px, -88px, -172px, 19px, 18px, 234px, 233px, '/images/sprites.png', 'icon-visualization-brand', );
$icon-visualization-name: 'icon-visualization';
$icon-visualization-x: 209px;
$icon-visualization-y: 140px;
$icon-visualization-offset-x: -209px;
$icon-visualization-offset-y: -140px;
$icon-visualization-width: 25px;
$icon-visualization-height: 24px;
$icon-visualization-total-width: 234px;
$icon-visualization-total-height: 233px;
$icon-visualization-image: '/images/sprites.png';
$icon-visualization: (209px, 140px, -209px, -140px, 25px, 24px, 234px, 233px, '/images/sprites.png', 'icon-visualization', );
$icon-zoomin-name: 'icon-zoomin';
$icon-zoomin-x: 116px;
$icon-zoomin-y: 102px;
$icon-zoomin-offset-x: -116px;
$icon-zoomin-offset-y: -102px;
$icon-zoomin-width: 24px;
$icon-zoomin-height: 24px;
$icon-zoomin-total-width: 234px;
$icon-zoomin-total-height: 233px;
$icon-zoomin-image: '/images/sprites.png';
$icon-zoomin: (116px, 102px, -116px, -102px, 24px, 24px, 234px, 233px, '/images/sprites.png', 'icon-zoomin', );
$icon-zoomout-name: 'icon-zoomout';
$icon-zoomout-x: 140px;
$icon-zoomout-y: 102px;
$icon-zoomout-offset-x: -140px;
$icon-zoomout-offset-y: -102px;
$icon-zoomout-width: 24px;
$icon-zoomout-height: 24px;
$icon-zoomout-total-width: 234px;
$icon-zoomout-total-height: 233px;
$icon-zoomout-image: '/images/sprites.png';
$icon-zoomout: (140px, 102px, -140px, -102px, 24px, 24px, 234px, 233px, '/images/sprites.png', 'icon-zoomout', );
$logo-hover-name: 'logo-hover';
$logo-hover-x: 0px;
$logo-hover-y: 51px;
$logo-hover-offset-x: 0px;
$logo-hover-offset-y: -51px;
$logo-hover-width: 109px;
$logo-hover-height: 51px;
$logo-hover-total-width: 234px;
$logo-hover-total-height: 233px;
$logo-hover-image: '/images/sprites.png';
$logo-hover: (0px, 51px, 0px, -51px, 109px, 51px, 234px, 233px, '/images/sprites.png', 'logo-hover', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 109px;
$logo-height: 51px;
$logo-total-width: 234px;
$logo-total-height: 233px;
$logo-image: '/images/sprites.png';
$logo: (0px, 0px, 0px, 0px, 109px, 51px, 234px, 233px, '/images/sprites.png', 'logo', );
$social-icon-facebook-brand-name: 'social-icon-facebook-brand';
$social-icon-facebook-brand-x: 0px;
$social-icon-facebook-brand-y: 218px;
$social-icon-facebook-brand-offset-x: 0px;
$social-icon-facebook-brand-offset-y: -218px;
$social-icon-facebook-brand-width: 9px;
$social-icon-facebook-brand-height: 15px;
$social-icon-facebook-brand-total-width: 234px;
$social-icon-facebook-brand-total-height: 233px;
$social-icon-facebook-brand-image: '/images/sprites.png';
$social-icon-facebook-brand: (0px, 218px, 0px, -218px, 9px, 15px, 234px, 233px, '/images/sprites.png', 'social-icon-facebook-brand', );
$social-icon-facebook-name: 'social-icon-facebook';
$social-icon-facebook-x: 9px;
$social-icon-facebook-y: 218px;
$social-icon-facebook-offset-x: -9px;
$social-icon-facebook-offset-y: -218px;
$social-icon-facebook-width: 9px;
$social-icon-facebook-height: 15px;
$social-icon-facebook-total-width: 234px;
$social-icon-facebook-total-height: 233px;
$social-icon-facebook-image: '/images/sprites.png';
$social-icon-facebook: (9px, 218px, -9px, -218px, 9px, 15px, 234px, 233px, '/images/sprites.png', 'social-icon-facebook', );
$social-icon-gplus-brand-name: 'social-icon-gplus-brand';
$social-icon-gplus-brand-x: 106px;
$social-icon-gplus-brand-y: 130px;
$social-icon-gplus-brand-offset-x: -106px;
$social-icon-gplus-brand-offset-y: -130px;
$social-icon-gplus-brand-width: 18px;
$social-icon-gplus-brand-height: 12px;
$social-icon-gplus-brand-total-width: 234px;
$social-icon-gplus-brand-total-height: 233px;
$social-icon-gplus-brand-image: '/images/sprites.png';
$social-icon-gplus-brand: (106px, 130px, -106px, -130px, 18px, 12px, 234px, 233px, '/images/sprites.png', 'social-icon-gplus-brand', );
$social-icon-gplus-name: 'social-icon-gplus';
$social-icon-gplus-x: 88px;
$social-icon-gplus-y: 130px;
$social-icon-gplus-offset-x: -88px;
$social-icon-gplus-offset-y: -130px;
$social-icon-gplus-width: 18px;
$social-icon-gplus-height: 12px;
$social-icon-gplus-total-width: 234px;
$social-icon-gplus-total-height: 233px;
$social-icon-gplus-image: '/images/sprites.png';
$social-icon-gplus: (88px, 130px, -88px, -130px, 18px, 12px, 234px, 233px, '/images/sprites.png', 'social-icon-gplus', );
$social-icon-twitter-brand-name: 'social-icon-twitter-brand';
$social-icon-twitter-brand-x: 164px;
$social-icon-twitter-brand-y: 102px;
$social-icon-twitter-brand-offset-x: -164px;
$social-icon-twitter-brand-offset-y: -102px;
$social-icon-twitter-brand-width: 14px;
$social-icon-twitter-brand-height: 13px;
$social-icon-twitter-brand-total-width: 234px;
$social-icon-twitter-brand-total-height: 233px;
$social-icon-twitter-brand-image: '/images/sprites.png';
$social-icon-twitter-brand: (164px, 102px, -164px, -102px, 14px, 13px, 234px, 233px, '/images/sprites.png', 'social-icon-twitter-brand', );
$social-icon-twitter-name: 'social-icon-twitter';
$social-icon-twitter-x: 18px;
$social-icon-twitter-y: 194px;
$social-icon-twitter-offset-x: -18px;
$social-icon-twitter-offset-y: -194px;
$social-icon-twitter-width: 14px;
$social-icon-twitter-height: 13px;
$social-icon-twitter-total-width: 234px;
$social-icon-twitter-total-height: 233px;
$social-icon-twitter-image: '/images/sprites.png';
$social-icon-twitter: (18px, 194px, -18px, -194px, 14px, 13px, 234px, 233px, '/images/sprites.png', 'social-icon-twitter', );
$dahsboard-icon-story-2x-name: 'dahsboard-icon-story@2x';
$dahsboard-icon-story-2x-x: 358px;
$dahsboard-icon-story-2x-y: 0px;
$dahsboard-icon-story-2x-offset-x: -358px;
$dahsboard-icon-story-2x-offset-y: 0px;
$dahsboard-icon-story-2x-width: 110px;
$dahsboard-icon-story-2x-height: 92px;
$dahsboard-icon-story-2x-total-width: 468px;
$dahsboard-icon-story-2x-total-height: 466px;
$dahsboard-icon-story-2x-image: '/images/sprites@2x.png';
$dahsboard-icon-story-2x: (358px, 0px, -358px, 0px, 110px, 92px, 468px, 466px, '/images/sprites@2x.png', 'dahsboard-icon-story@2x', );
$dahsboard-icon-user-2x-name: 'dahsboard-icon-user@2x';
$dahsboard-icon-user-2x-x: 358px;
$dahsboard-icon-user-2x-y: 92px;
$dahsboard-icon-user-2x-offset-x: -358px;
$dahsboard-icon-user-2x-offset-y: -92px;
$dahsboard-icon-user-2x-width: 98px;
$dahsboard-icon-user-2x-height: 100px;
$dahsboard-icon-user-2x-total-width: 468px;
$dahsboard-icon-user-2x-total-height: 466px;
$dahsboard-icon-user-2x-image: '/images/sprites@2x.png';
$dahsboard-icon-user-2x: (358px, 92px, -358px, -92px, 98px, 100px, 468px, 466px, '/images/sprites@2x.png', 'dahsboard-icon-user@2x', );
$dahsboard-icon-visualization-2x-name: 'dahsboard-icon-visualization@2x';
$dahsboard-icon-visualization-2x-x: 358px;
$dahsboard-icon-visualization-2x-y: 192px;
$dahsboard-icon-visualization-2x-offset-x: -358px;
$dahsboard-icon-visualization-2x-offset-y: -192px;
$dahsboard-icon-visualization-2x-width: 96px;
$dahsboard-icon-visualization-2x-height: 88px;
$dahsboard-icon-visualization-2x-total-width: 468px;
$dahsboard-icon-visualization-2x-total-height: 466px;
$dahsboard-icon-visualization-2x-image: '/images/sprites@2x.png';
$dahsboard-icon-visualization-2x: (358px, 192px, -358px, -192px, 96px, 88px, 468px, 466px, '/images/sprites@2x.png', 'dahsboard-icon-visualization@2x', );
$icon-carousel-left-hover-2x-name: 'icon-carousel-left-hover@2x';
$icon-carousel-left-hover-2x-x: 454px;
$icon-carousel-left-hover-2x-y: 192px;
$icon-carousel-left-hover-2x-offset-x: -454px;
$icon-carousel-left-hover-2x-offset-y: -192px;
$icon-carousel-left-hover-2x-width: 14px;
$icon-carousel-left-hover-2x-height: 24px;
$icon-carousel-left-hover-2x-total-width: 468px;
$icon-carousel-left-hover-2x-total-height: 466px;
$icon-carousel-left-hover-2x-image: '/images/sprites@2x.png';
$icon-carousel-left-hover-2x: (454px, 192px, -454px, -192px, 14px, 24px, 468px, 466px, '/images/sprites@2x.png', 'icon-carousel-left-hover@2x', );
$icon-carousel-left-2x-name: 'icon-carousel-left@2x';
$icon-carousel-left-2x-x: 454px;
$icon-carousel-left-2x-y: 216px;
$icon-carousel-left-2x-offset-x: -454px;
$icon-carousel-left-2x-offset-y: -216px;
$icon-carousel-left-2x-width: 14px;
$icon-carousel-left-2x-height: 24px;
$icon-carousel-left-2x-total-width: 468px;
$icon-carousel-left-2x-total-height: 466px;
$icon-carousel-left-2x-image: '/images/sprites@2x.png';
$icon-carousel-left-2x: (454px, 216px, -454px, -216px, 14px, 24px, 468px, 466px, '/images/sprites@2x.png', 'icon-carousel-left@2x', );
$icon-carousel-right-hover-2x-name: 'icon-carousel-right-hover@2x';
$icon-carousel-right-hover-2x-x: 314px;
$icon-carousel-right-hover-2x-y: 260px;
$icon-carousel-right-hover-2x-offset-x: -314px;
$icon-carousel-right-hover-2x-offset-y: -260px;
$icon-carousel-right-hover-2x-width: 14px;
$icon-carousel-right-hover-2x-height: 24px;
$icon-carousel-right-hover-2x-total-width: 468px;
$icon-carousel-right-hover-2x-total-height: 466px;
$icon-carousel-right-hover-2x-image: '/images/sprites@2x.png';
$icon-carousel-right-hover-2x: (314px, 260px, -314px, -260px, 14px, 24px, 468px, 466px, '/images/sprites@2x.png', 'icon-carousel-right-hover@2x', );
$icon-carousel-right-2x-name: 'icon-carousel-right@2x';
$icon-carousel-right-2x-x: 454px;
$icon-carousel-right-2x-y: 240px;
$icon-carousel-right-2x-offset-x: -454px;
$icon-carousel-right-2x-offset-y: -240px;
$icon-carousel-right-2x-width: 14px;
$icon-carousel-right-2x-height: 24px;
$icon-carousel-right-2x-total-width: 468px;
$icon-carousel-right-2x-total-height: 466px;
$icon-carousel-right-2x-image: '/images/sprites@2x.png';
$icon-carousel-right-2x: (454px, 240px, -454px, -240px, 14px, 24px, 468px, 466px, '/images/sprites@2x.png', 'icon-carousel-right@2x', );
$icon-civio-footer-2x-name: 'icon-civio-footer@2x';
$icon-civio-footer-2x-x: 0px;
$icon-civio-footer-2x-y: 284px;
$icon-civio-footer-2x-offset-x: 0px;
$icon-civio-footer-2x-offset-y: -284px;
$icon-civio-footer-2x-width: 218px;
$icon-civio-footer-2x-height: 60px;
$icon-civio-footer-2x-total-width: 468px;
$icon-civio-footer-2x-total-height: 466px;
$icon-civio-footer-2x-image: '/images/sprites@2x.png';
$icon-civio-footer-2x: (0px, 284px, 0px, -284px, 218px, 60px, 468px, 466px, '/images/sprites@2x.png', 'icon-civio-footer@2x', );
$icon-close-white-2x-name: 'icon-close-white@2x';
$icon-close-white-2x-x: 358px;
$icon-close-white-2x-y: 280px;
$icon-close-white-2x-offset-x: -358px;
$icon-close-white-2x-offset-y: -280px;
$icon-close-white-2x-width: 60px;
$icon-close-white-2x-height: 60px;
$icon-close-white-2x-total-width: 468px;
$icon-close-white-2x-total-height: 466px;
$icon-close-white-2x-image: '/images/sprites@2x.png';
$icon-close-white-2x: (358px, 280px, -358px, -280px, 60px, 60px, 468px, 466px, '/images/sprites@2x.png', 'icon-close-white@2x', );
$icon-close-2x-name: 'icon-close@2x';
$icon-close-2x-x: 136px;
$icon-close-2x-y: 344px;
$icon-close-2x-offset-x: -136px;
$icon-close-2x-offset-y: -344px;
$icon-close-2x-width: 40px;
$icon-close-2x-height: 40px;
$icon-close-2x-total-width: 468px;
$icon-close-2x-total-height: 466px;
$icon-close-2x-image: '/images/sprites@2x.png';
$icon-close-2x: (136px, 344px, -136px, -344px, 40px, 40px, 468px, 466px, '/images/sprites@2x.png', 'icon-close@2x', );
$icon-duplicate-2x-name: 'icon-duplicate@2x';
$icon-duplicate-2x-x: 422px;
$icon-duplicate-2x-y: 344px;
$icon-duplicate-2x-offset-x: -422px;
$icon-duplicate-2x-offset-y: -344px;
$icon-duplicate-2x-width: 34px;
$icon-duplicate-2x-height: 30px;
$icon-duplicate-2x-total-width: 468px;
$icon-duplicate-2x-total-height: 466px;
$icon-duplicate-2x-image: '/images/sprites@2x.png';
$icon-duplicate-2x: (422px, 344px, -422px, -344px, 34px, 30px, 468px, 466px, '/images/sprites@2x.png', 'icon-duplicate@2x', );
$icon-eu-footer-2x-name: 'icon-eu-footer@2x';
$icon-eu-footer-2x-x: 218px;
$icon-eu-footer-2x-y: 116px;
$icon-eu-footer-2x-offset-x: -218px;
$icon-eu-footer-2x-offset-y: -116px;
$icon-eu-footer-2x-width: 76px;
$icon-eu-footer-2x-height: 76px;
$icon-eu-footer-2x-total-width: 468px;
$icon-eu-footer-2x-total-height: 466px;
$icon-eu-footer-2x-image: '/images/sprites@2x.png';
$icon-eu-footer-2x: (218px, 116px, -218px, -116px, 76px, 76px, 468px, 466px, '/images/sprites@2x.png', 'icon-eu-footer@2x', );
$icon-fullscreen-back-2x-name: 'icon-fullscreen-back@2x';
$icon-fullscreen-back-2x-x: 44px;
$icon-fullscreen-back-2x-y: 344px;
$icon-fullscreen-back-2x-offset-x: -44px;
$icon-fullscreen-back-2x-offset-y: -344px;
$icon-fullscreen-back-2x-width: 44px;
$icon-fullscreen-back-2x-height: 44px;
$icon-fullscreen-back-2x-total-width: 468px;
$icon-fullscreen-back-2x-total-height: 466px;
$icon-fullscreen-back-2x-image: '/images/sprites@2x.png';
$icon-fullscreen-back-2x: (44px, 344px, -44px, -344px, 44px, 44px, 468px, 466px, '/images/sprites@2x.png', 'icon-fullscreen-back@2x', );
$icon-fullscreen-2x-name: 'icon-fullscreen@2x';
$icon-fullscreen-2x-x: 0px;
$icon-fullscreen-2x-y: 344px;
$icon-fullscreen-2x-offset-x: 0px;
$icon-fullscreen-2x-offset-y: -344px;
$icon-fullscreen-2x-width: 44px;
$icon-fullscreen-2x-height: 44px;
$icon-fullscreen-2x-total-width: 468px;
$icon-fullscreen-2x-total-height: 466px;
$icon-fullscreen-2x-image: '/images/sprites@2x.png';
$icon-fullscreen-2x: (0px, 344px, 0px, -344px, 44px, 44px, 468px, 466px, '/images/sprites@2x.png', 'icon-fullscreen@2x', );
$icon-location-2x-name: 'icon-location@2x';
$icon-location-2x-x: 0px;
$icon-location-2x-y: 388px;
$icon-location-2x-offset-x: 0px;
$icon-location-2x-offset-y: -388px;
$icon-location-2x-width: 36px;
$icon-location-2x-height: 48px;
$icon-location-2x-total-width: 468px;
$icon-location-2x-total-height: 466px;
$icon-location-2x-image: '/images/sprites@2x.png';
$icon-location-2x: (0px, 388px, 0px, -388px, 36px, 48px, 468px, 466px, '/images/sprites@2x.png', 'icon-location@2x', );
$icon-logo-footer-2x-name: 'icon-logo-footer@2x';
$icon-logo-footer-2x-x: 0px;
$icon-logo-footer-2x-y: 204px;
$icon-logo-footer-2x-offset-x: 0px;
$icon-logo-footer-2x-offset-y: -204px;
$icon-logo-footer-2x-width: 176px;
$icon-logo-footer-2x-height: 80px;
$icon-logo-footer-2x-total-width: 468px;
$icon-logo-footer-2x-total-height: 466px;
$icon-logo-footer-2x-image: '/images/sprites@2x.png';
$icon-logo-footer-2x: (0px, 204px, 0px, -204px, 176px, 80px, 468px, 466px, '/images/sprites@2x.png', 'icon-logo-footer@2x', );
$icon-mail-2x-name: 'icon-mail@2x';
$icon-mail-2x-x: 274px;
$icon-mail-2x-y: 284px;
$icon-mail-2x-offset-x: -274px;
$icon-mail-2x-offset-y: -284px;
$icon-mail-2x-width: 42px;
$icon-mail-2x-height: 34px;
$icon-mail-2x-total-width: 468px;
$icon-mail-2x-total-height: 466px;
$icon-mail-2x-image: '/images/sprites@2x.png';
$icon-mail-2x: (274px, 284px, -274px, -284px, 42px, 34px, 468px, 466px, '/images/sprites@2x.png', 'icon-mail@2x', );
$icon-pencil-circle-2x-name: 'icon-pencil-circle@2x';
$icon-pencil-circle-2x-x: 176px;
$icon-pencil-circle-2x-y: 204px;
$icon-pencil-circle-2x-offset-x: -176px;
$icon-pencil-circle-2x-offset-y: -204px;
$icon-pencil-circle-2x-width: 56px;
$icon-pencil-circle-2x-height: 56px;
$icon-pencil-circle-2x-total-width: 468px;
$icon-pencil-circle-2x-total-height: 466px;
$icon-pencil-circle-2x-image: '/images/sprites@2x.png';
$icon-pencil-circle-2x: (176px, 204px, -176px, -204px, 56px, 56px, 468px, 466px, '/images/sprites@2x.png', 'icon-pencil-circle@2x', );
$icon-pencil-white-2x-name: 'icon-pencil-white@2x';
$icon-pencil-white-2x-x: 356px;
$icon-pencil-white-2x-y: 344px;
$icon-pencil-white-2x-offset-x: -356px;
$icon-pencil-white-2x-offset-y: -344px;
$icon-pencil-white-2x-width: 34px;
$icon-pencil-white-2x-height: 32px;
$icon-pencil-white-2x-total-width: 468px;
$icon-pencil-white-2x-total-height: 466px;
$icon-pencil-white-2x-image: '/images/sprites@2x.png';
$icon-pencil-white-2x: (356px, 344px, -356px, -344px, 34px, 32px, 468px, 466px, '/images/sprites@2x.png', 'icon-pencil-white@2x', );
$icon-pencil-2x-name: 'icon-pencil@2x';
$icon-pencil-2x-x: 322px;
$icon-pencil-2x-y: 344px;
$icon-pencil-2x-offset-x: -322px;
$icon-pencil-2x-offset-y: -344px;
$icon-pencil-2x-width: 34px;
$icon-pencil-2x-height: 34px;
$icon-pencil-2x-total-width: 468px;
$icon-pencil-2x-total-height: 466px;
$icon-pencil-2x-image: '/images/sprites@2x.png';
$icon-pencil-2x: (322px, 344px, -322px, -344px, 34px, 34px, 468px, 466px, '/images/sprites@2x.png', 'icon-pencil@2x', );
$icon-plus-circle-2x-name: 'icon-plus-circle@2x';
$icon-plus-circle-2x-x: 294px;
$icon-plus-circle-2x-y: 116px;
$icon-plus-circle-2x-offset-x: -294px;
$icon-plus-circle-2x-offset-y: -116px;
$icon-plus-circle-2x-width: 58px;
$icon-plus-circle-2x-height: 58px;
$icon-plus-circle-2x-total-width: 468px;
$icon-plus-circle-2x-total-height: 466px;
$icon-plus-circle-2x-image: '/images/sprites@2x.png';
$icon-plus-circle-2x: (294px, 116px, -294px, -116px, 58px, 58px, 468px, 466px, '/images/sprites@2x.png', 'icon-plus-circle@2x', );
$icon-preview-2x-name: 'icon-preview@2x';
$icon-preview-2x-x: 218px;
$icon-preview-2x-y: 284px;
$icon-preview-2x-offset-x: -218px;
$icon-preview-2x-offset-y: -284px;
$icon-preview-2x-width: 56px;
$icon-preview-2x-height: 36px;
$icon-preview-2x-total-width: 468px;
$icon-preview-2x-total-height: 466px;
$icon-preview-2x-image: '/images/sprites@2x.png';
$icon-preview-2x: (218px, 284px, -218px, -284px, 56px, 36px, 468px, 466px, '/images/sprites@2x.png', 'icon-preview@2x', );
$icon-search-2x-name: 'icon-search@2x';
$icon-search-2x-x: 286px;
$icon-search-2x-y: 344px;
$icon-search-2x-offset-x: -286px;
$icon-search-2x-offset-y: -344px;
$icon-search-2x-width: 36px;
$icon-search-2x-height: 34px;
$icon-search-2x-total-width: 468px;
$icon-search-2x-total-height: 466px;
$icon-search-2x-image: '/images/sprites@2x.png';
$icon-search-2x: (286px, 344px, -286px, -344px, 36px, 34px, 468px, 466px, '/images/sprites@2x.png', 'icon-search@2x', );
$icon-settings-2x-name: 'icon-settings@2x';
$icon-settings-2x-x: 282px;
$icon-settings-2x-y: 260px;
$icon-settings-2x-offset-x: -282px;
$icon-settings-2x-offset-y: -260px;
$icon-settings-2x-width: 32px;
$icon-settings-2x-height: 24px;
$icon-settings-2x-total-width: 468px;
$icon-settings-2x-total-height: 466px;
$icon-settings-2x-image: '/images/sprites@2x.png';
$icon-settings-2x: (282px, 260px, -282px, -260px, 32px, 24px, 468px, 466px, '/images/sprites@2x.png', 'icon-settings@2x', );
$icon-share-2x-name: 'icon-share@2x';
$icon-share-2x-x: 390px;
$icon-share-2x-y: 344px;
$icon-share-2x-offset-x: -390px;
$icon-share-2x-offset-y: -344px;
$icon-share-2x-width: 32px;
$icon-share-2x-height: 32px;
$icon-share-2x-total-width: 468px;
$icon-share-2x-total-height: 466px;
$icon-share-2x-image: '/images/sprites@2x.png';
$icon-share-2x: (390px, 344px, -390px, -344px, 32px, 32px, 468px, 466px, '/images/sprites@2x.png', 'icon-share@2x', );
$icon-story-big-2x-name: 'icon-story-big@2x';
$icon-story-big-2x-x: 218px;
$icon-story-big-2x-y: 0px;
$icon-story-big-2x-offset-x: -218px;
$icon-story-big-2x-offset-y: 0px;
$icon-story-big-2x-width: 140px;
$icon-story-big-2x-height: 116px;
$icon-story-big-2x-total-width: 468px;
$icon-story-big-2x-total-height: 466px;
$icon-story-big-2x-image: '/images/sprites@2x.png';
$icon-story-big-2x: (218px, 0px, -218px, 0px, 140px, 116px, 468px, 466px, '/images/sprites@2x.png', 'icon-story-big@2x', );
$icon-story-brand-2x-name: 'icon-story-brand@2x';
$icon-story-brand-2x-x: 316px;
$icon-story-brand-2x-y: 284px;
$icon-story-brand-2x-offset-x: -316px;
$icon-story-brand-2x-offset-y: -284px;
$icon-story-brand-2x-width: 40px;
$icon-story-brand-2x-height: 32px;
$icon-story-brand-2x-total-width: 468px;
$icon-story-brand-2x-total-height: 466px;
$icon-story-brand-2x-image: '/images/sprites@2x.png';
$icon-story-brand-2x: (316px, 284px, -316px, -284px, 40px, 32px, 468px, 466px, '/images/sprites@2x.png', 'icon-story-brand@2x', );
$icon-story-2x-name: 'icon-story@2x';
$icon-story-2x-x: 88px;
$icon-story-2x-y: 344px;
$icon-story-2x-offset-x: -88px;
$icon-story-2x-offset-y: -344px;
$icon-story-2x-width: 48px;
$icon-story-2x-height: 40px;
$icon-story-2x-total-width: 468px;
$icon-story-2x-total-height: 466px;
$icon-story-2x-image: '/images/sprites@2x.png';
$icon-story-2x: (88px, 344px, -88px, -344px, 48px, 40px, 468px, 466px, '/images/sprites@2x.png', 'icon-story@2x', );
$icon-table-2x-name: 'icon-table@2x';
$icon-table-2x-x: 248px;
$icon-table-2x-y: 260px;
$icon-table-2x-offset-x: -248px;
$icon-table-2x-offset-y: -260px;
$icon-table-2x-width: 34px;
$icon-table-2x-height: 24px;
$icon-table-2x-total-width: 468px;
$icon-table-2x-total-height: 466px;
$icon-table-2x-image: '/images/sprites@2x.png';
$icon-table-2x: (248px, 260px, -248px, -260px, 34px, 24px, 468px, 466px, '/images/sprites@2x.png', 'icon-table@2x', );
$icon-tool-brand-2x-name: 'icon-tool-brand@2x';
$icon-tool-brand-2x-x: 214px;
$icon-tool-brand-2x-y: 344px;
$icon-tool-brand-2x-offset-x: -214px;
$icon-tool-brand-2x-offset-y: -344px;
$icon-tool-brand-2x-width: 36px;
$icon-tool-brand-2x-height: 36px;
$icon-tool-brand-2x-total-width: 468px;
$icon-tool-brand-2x-total-height: 466px;
$icon-tool-brand-2x-image: '/images/sprites@2x.png';
$icon-tool-brand-2x: (214px, 344px, -214px, -344px, 36px, 36px, 468px, 466px, '/images/sprites@2x.png', 'icon-tool-brand@2x', );
$icon-tool-2x-name: 'icon-tool@2x';
$icon-tool-2x-x: 250px;
$icon-tool-2x-y: 344px;
$icon-tool-2x-offset-x: -250px;
$icon-tool-2x-offset-y: -344px;
$icon-tool-2x-width: 36px;
$icon-tool-2x-height: 36px;
$icon-tool-2x-total-width: 468px;
$icon-tool-2x-total-height: 466px;
$icon-tool-2x-image: '/images/sprites@2x.png';
$icon-tool-2x: (250px, 344px, -250px, -344px, 36px, 36px, 468px, 466px, '/images/sprites@2x.png', 'icon-tool@2x', );
$icon-visualization-brand-2x-name: 'icon-visualization-brand@2x';
$icon-visualization-brand-2x-x: 176px;
$icon-visualization-brand-2x-y: 344px;
$icon-visualization-brand-2x-offset-x: -176px;
$icon-visualization-brand-2x-offset-y: -344px;
$icon-visualization-brand-2x-width: 38px;
$icon-visualization-brand-2x-height: 36px;
$icon-visualization-brand-2x-total-width: 468px;
$icon-visualization-brand-2x-total-height: 466px;
$icon-visualization-brand-2x-image: '/images/sprites@2x.png';
$icon-visualization-brand-2x: (176px, 344px, -176px, -344px, 38px, 36px, 468px, 466px, '/images/sprites@2x.png', 'icon-visualization-brand@2x', );
$icon-visualization-2x-name: 'icon-visualization@2x';
$icon-visualization-2x-x: 418px;
$icon-visualization-2x-y: 280px;
$icon-visualization-2x-offset-x: -418px;
$icon-visualization-2x-offset-y: -280px;
$icon-visualization-2x-width: 50px;
$icon-visualization-2x-height: 48px;
$icon-visualization-2x-total-width: 468px;
$icon-visualization-2x-total-height: 466px;
$icon-visualization-2x-image: '/images/sprites@2x.png';
$icon-visualization-2x: (418px, 280px, -418px, -280px, 50px, 48px, 468px, 466px, '/images/sprites@2x.png', 'icon-visualization@2x', );
$icon-zoomin-2x-name: 'icon-zoomin@2x';
$icon-zoomin-2x-x: 232px;
$icon-zoomin-2x-y: 204px;
$icon-zoomin-2x-offset-x: -232px;
$icon-zoomin-2x-offset-y: -204px;
$icon-zoomin-2x-width: 48px;
$icon-zoomin-2x-height: 48px;
$icon-zoomin-2x-total-width: 468px;
$icon-zoomin-2x-total-height: 466px;
$icon-zoomin-2x-image: '/images/sprites@2x.png';
$icon-zoomin-2x: (232px, 204px, -232px, -204px, 48px, 48px, 468px, 466px, '/images/sprites@2x.png', 'icon-zoomin@2x', );
$icon-zoomout-2x-name: 'icon-zoomout@2x';
$icon-zoomout-2x-x: 280px;
$icon-zoomout-2x-y: 204px;
$icon-zoomout-2x-offset-x: -280px;
$icon-zoomout-2x-offset-y: -204px;
$icon-zoomout-2x-width: 48px;
$icon-zoomout-2x-height: 48px;
$icon-zoomout-2x-total-width: 468px;
$icon-zoomout-2x-total-height: 466px;
$icon-zoomout-2x-image: '/images/sprites@2x.png';
$icon-zoomout-2x: (280px, 204px, -280px, -204px, 48px, 48px, 468px, 466px, '/images/sprites@2x.png', 'icon-zoomout@2x', );
$logo-hover-2x-name: 'logo-hover@2x';
$logo-hover-2x-x: 0px;
$logo-hover-2x-y: 102px;
$logo-hover-2x-offset-x: 0px;
$logo-hover-2x-offset-y: -102px;
$logo-hover-2x-width: 218px;
$logo-hover-2x-height: 102px;
$logo-hover-2x-total-width: 468px;
$logo-hover-2x-total-height: 466px;
$logo-hover-2x-image: '/images/sprites@2x.png';
$logo-hover-2x: (0px, 102px, 0px, -102px, 218px, 102px, 468px, 466px, '/images/sprites@2x.png', 'logo-hover@2x', );
$logo-2x-name: 'logo@2x';
$logo-2x-x: 0px;
$logo-2x-y: 0px;
$logo-2x-offset-x: 0px;
$logo-2x-offset-y: 0px;
$logo-2x-width: 218px;
$logo-2x-height: 102px;
$logo-2x-total-width: 468px;
$logo-2x-total-height: 466px;
$logo-2x-image: '/images/sprites@2x.png';
$logo-2x: (0px, 0px, 0px, 0px, 218px, 102px, 468px, 466px, '/images/sprites@2x.png', 'logo@2x', );
$social-icon-facebook-brand-2x-name: 'social-icon-facebook-brand@2x';
$social-icon-facebook-brand-2x-x: 0px;
$social-icon-facebook-brand-2x-y: 436px;
$social-icon-facebook-brand-2x-offset-x: 0px;
$social-icon-facebook-brand-2x-offset-y: -436px;
$social-icon-facebook-brand-2x-width: 18px;
$social-icon-facebook-brand-2x-height: 30px;
$social-icon-facebook-brand-2x-total-width: 468px;
$social-icon-facebook-brand-2x-total-height: 466px;
$social-icon-facebook-brand-2x-image: '/images/sprites@2x.png';
$social-icon-facebook-brand-2x: (0px, 436px, 0px, -436px, 18px, 30px, 468px, 466px, '/images/sprites@2x.png', 'social-icon-facebook-brand@2x', );
$social-icon-facebook-2x-name: 'social-icon-facebook@2x';
$social-icon-facebook-2x-x: 18px;
$social-icon-facebook-2x-y: 436px;
$social-icon-facebook-2x-offset-x: -18px;
$social-icon-facebook-2x-offset-y: -436px;
$social-icon-facebook-2x-width: 18px;
$social-icon-facebook-2x-height: 30px;
$social-icon-facebook-2x-total-width: 468px;
$social-icon-facebook-2x-total-height: 466px;
$social-icon-facebook-2x-image: '/images/sprites@2x.png';
$social-icon-facebook-2x: (18px, 436px, -18px, -436px, 18px, 30px, 468px, 466px, '/images/sprites@2x.png', 'social-icon-facebook@2x', );
$social-icon-gplus-brand-2x-name: 'social-icon-gplus-brand@2x';
$social-icon-gplus-brand-2x-x: 212px;
$social-icon-gplus-brand-2x-y: 260px;
$social-icon-gplus-brand-2x-offset-x: -212px;
$social-icon-gplus-brand-2x-offset-y: -260px;
$social-icon-gplus-brand-2x-width: 36px;
$social-icon-gplus-brand-2x-height: 24px;
$social-icon-gplus-brand-2x-total-width: 468px;
$social-icon-gplus-brand-2x-total-height: 466px;
$social-icon-gplus-brand-2x-image: '/images/sprites@2x.png';
$social-icon-gplus-brand-2x: (212px, 260px, -212px, -260px, 36px, 24px, 468px, 466px, '/images/sprites@2x.png', 'social-icon-gplus-brand@2x', );
$social-icon-gplus-2x-name: 'social-icon-gplus@2x';
$social-icon-gplus-2x-x: 176px;
$social-icon-gplus-2x-y: 260px;
$social-icon-gplus-2x-offset-x: -176px;
$social-icon-gplus-2x-offset-y: -260px;
$social-icon-gplus-2x-width: 36px;
$social-icon-gplus-2x-height: 24px;
$social-icon-gplus-2x-total-width: 468px;
$social-icon-gplus-2x-total-height: 466px;
$social-icon-gplus-2x-image: '/images/sprites@2x.png';
$social-icon-gplus-2x: (176px, 260px, -176px, -260px, 36px, 24px, 468px, 466px, '/images/sprites@2x.png', 'social-icon-gplus@2x', );
$social-icon-twitter-brand-2x-name: 'social-icon-twitter-brand@2x';
$social-icon-twitter-brand-2x-x: 328px;
$social-icon-twitter-brand-2x-y: 204px;
$social-icon-twitter-brand-2x-offset-x: -328px;
$social-icon-twitter-brand-2x-offset-y: -204px;
$social-icon-twitter-brand-2x-width: 28px;
$social-icon-twitter-brand-2x-height: 26px;
$social-icon-twitter-brand-2x-total-width: 468px;
$social-icon-twitter-brand-2x-total-height: 466px;
$social-icon-twitter-brand-2x-image: '/images/sprites@2x.png';
$social-icon-twitter-brand-2x: (328px, 204px, -328px, -204px, 28px, 26px, 468px, 466px, '/images/sprites@2x.png', 'social-icon-twitter-brand@2x', );
$social-icon-twitter-2x-name: 'social-icon-twitter@2x';
$social-icon-twitter-2x-x: 36px;
$social-icon-twitter-2x-y: 388px;
$social-icon-twitter-2x-offset-x: -36px;
$social-icon-twitter-2x-offset-y: -388px;
$social-icon-twitter-2x-width: 28px;
$social-icon-twitter-2x-height: 26px;
$social-icon-twitter-2x-total-width: 468px;
$social-icon-twitter-2x-total-height: 466px;
$social-icon-twitter-2x-image: '/images/sprites@2x.png';
$social-icon-twitter-2x: (36px, 388px, -36px, -388px, 28px, 26px, 468px, 466px, '/images/sprites@2x.png', 'social-icon-twitter@2x', );
$spritesheet-width: 234px;
$spritesheet-height: 233px;
$spritesheet-image: '/images/sprites.png';
$spritesheet-sprites: ($dahsboard-icon-story, $dahsboard-icon-user, $dahsboard-icon-visualization, $icon-carousel-left-hover, $icon-carousel-left, $icon-carousel-right-hover, $icon-carousel-right, $icon-civio-footer, $icon-close-white, $icon-close, $icon-duplicate, $icon-eu-footer, $icon-fullscreen-back, $icon-fullscreen, $icon-location, $icon-logo-footer, $icon-mail, $icon-pencil-circle, $icon-pencil-white, $icon-pencil, $icon-plus-circle, $icon-preview, $icon-search, $icon-settings, $icon-share, $icon-story-big, $icon-story-brand, $icon-story, $icon-table, $icon-tool-brand, $icon-tool, $icon-visualization-brand, $icon-visualization, $icon-zoomin, $icon-zoomout, $logo-hover, $logo, $social-icon-facebook-brand, $social-icon-facebook, $social-icon-gplus-brand, $social-icon-gplus, $social-icon-twitter-brand, $social-icon-twitter, );
$spritesheet: (234px, 233px, '/images/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 468px;
$retina-spritesheet-height: 466px;
$retina-spritesheet-image: '/images/sprites@2x.png';
$retina-spritesheet-sprites: ($dahsboard-icon-story-2x, $dahsboard-icon-user-2x, $dahsboard-icon-visualization-2x, $icon-carousel-left-hover-2x, $icon-carousel-left-2x, $icon-carousel-right-hover-2x, $icon-carousel-right-2x, $icon-civio-footer-2x, $icon-close-white-2x, $icon-close-2x, $icon-duplicate-2x, $icon-eu-footer-2x, $icon-fullscreen-back-2x, $icon-fullscreen-2x, $icon-location-2x, $icon-logo-footer-2x, $icon-mail-2x, $icon-pencil-circle-2x, $icon-pencil-white-2x, $icon-pencil-2x, $icon-plus-circle-2x, $icon-preview-2x, $icon-search-2x, $icon-settings-2x, $icon-share-2x, $icon-story-big-2x, $icon-story-brand-2x, $icon-story-2x, $icon-table-2x, $icon-tool-brand-2x, $icon-tool-2x, $icon-visualization-brand-2x, $icon-visualization-2x, $icon-zoomin-2x, $icon-zoomout-2x, $logo-hover-2x, $logo-2x, $social-icon-facebook-brand-2x, $social-icon-facebook-2x, $social-icon-gplus-brand-2x, $social-icon-gplus-2x, $social-icon-twitter-brand-2x, $social-icon-twitter-2x, );
$retina-spritesheet: (468px, 466px, '/images/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$dahsboard-icon-story-group-name: 'dahsboard-icon-story';
$dahsboard-icon-story-group: ('dahsboard-icon-story', $dahsboard-icon-story, $dahsboard-icon-story-2x, );
$dahsboard-icon-user-group-name: 'dahsboard-icon-user';
$dahsboard-icon-user-group: ('dahsboard-icon-user', $dahsboard-icon-user, $dahsboard-icon-user-2x, );
$dahsboard-icon-visualization-group-name: 'dahsboard-icon-visualization';
$dahsboard-icon-visualization-group: ('dahsboard-icon-visualization', $dahsboard-icon-visualization, $dahsboard-icon-visualization-2x, );
$icon-carousel-left-hover-group-name: 'icon-carousel-left-hover';
$icon-carousel-left-hover-group: ('icon-carousel-left-hover', $icon-carousel-left-hover, $icon-carousel-left-hover-2x, );
$icon-carousel-left-group-name: 'icon-carousel-left';
$icon-carousel-left-group: ('icon-carousel-left', $icon-carousel-left, $icon-carousel-left-2x, );
$icon-carousel-right-hover-group-name: 'icon-carousel-right-hover';
$icon-carousel-right-hover-group: ('icon-carousel-right-hover', $icon-carousel-right-hover, $icon-carousel-right-hover-2x, );
$icon-carousel-right-group-name: 'icon-carousel-right';
$icon-carousel-right-group: ('icon-carousel-right', $icon-carousel-right, $icon-carousel-right-2x, );
$icon-civio-footer-group-name: 'icon-civio-footer';
$icon-civio-footer-group: ('icon-civio-footer', $icon-civio-footer, $icon-civio-footer-2x, );
$icon-close-white-group-name: 'icon-close-white';
$icon-close-white-group: ('icon-close-white', $icon-close-white, $icon-close-white-2x, );
$icon-close-group-name: 'icon-close';
$icon-close-group: ('icon-close', $icon-close, $icon-close-2x, );
$icon-duplicate-group-name: 'icon-duplicate';
$icon-duplicate-group: ('icon-duplicate', $icon-duplicate, $icon-duplicate-2x, );
$icon-eu-footer-group-name: 'icon-eu-footer';
$icon-eu-footer-group: ('icon-eu-footer', $icon-eu-footer, $icon-eu-footer-2x, );
$icon-fullscreen-back-group-name: 'icon-fullscreen-back';
$icon-fullscreen-back-group: ('icon-fullscreen-back', $icon-fullscreen-back, $icon-fullscreen-back-2x, );
$icon-fullscreen-group-name: 'icon-fullscreen';
$icon-fullscreen-group: ('icon-fullscreen', $icon-fullscreen, $icon-fullscreen-2x, );
$icon-location-group-name: 'icon-location';
$icon-location-group: ('icon-location', $icon-location, $icon-location-2x, );
$icon-logo-footer-group-name: 'icon-logo-footer';
$icon-logo-footer-group: ('icon-logo-footer', $icon-logo-footer, $icon-logo-footer-2x, );
$icon-mail-group-name: 'icon-mail';
$icon-mail-group: ('icon-mail', $icon-mail, $icon-mail-2x, );
$icon-pencil-circle-group-name: 'icon-pencil-circle';
$icon-pencil-circle-group: ('icon-pencil-circle', $icon-pencil-circle, $icon-pencil-circle-2x, );
$icon-pencil-white-group-name: 'icon-pencil-white';
$icon-pencil-white-group: ('icon-pencil-white', $icon-pencil-white, $icon-pencil-white-2x, );
$icon-pencil-group-name: 'icon-pencil';
$icon-pencil-group: ('icon-pencil', $icon-pencil, $icon-pencil-2x, );
$icon-plus-circle-group-name: 'icon-plus-circle';
$icon-plus-circle-group: ('icon-plus-circle', $icon-plus-circle, $icon-plus-circle-2x, );
$icon-preview-group-name: 'icon-preview';
$icon-preview-group: ('icon-preview', $icon-preview, $icon-preview-2x, );
$icon-search-group-name: 'icon-search';
$icon-search-group: ('icon-search', $icon-search, $icon-search-2x, );
$icon-settings-group-name: 'icon-settings';
$icon-settings-group: ('icon-settings', $icon-settings, $icon-settings-2x, );
$icon-share-group-name: 'icon-share';
$icon-share-group: ('icon-share', $icon-share, $icon-share-2x, );
$icon-story-big-group-name: 'icon-story-big';
$icon-story-big-group: ('icon-story-big', $icon-story-big, $icon-story-big-2x, );
$icon-story-brand-group-name: 'icon-story-brand';
$icon-story-brand-group: ('icon-story-brand', $icon-story-brand, $icon-story-brand-2x, );
$icon-story-group-name: 'icon-story';
$icon-story-group: ('icon-story', $icon-story, $icon-story-2x, );
$icon-table-group-name: 'icon-table';
$icon-table-group: ('icon-table', $icon-table, $icon-table-2x, );
$icon-tool-brand-group-name: 'icon-tool-brand';
$icon-tool-brand-group: ('icon-tool-brand', $icon-tool-brand, $icon-tool-brand-2x, );
$icon-tool-group-name: 'icon-tool';
$icon-tool-group: ('icon-tool', $icon-tool, $icon-tool-2x, );
$icon-visualization-brand-group-name: 'icon-visualization-brand';
$icon-visualization-brand-group: ('icon-visualization-brand', $icon-visualization-brand, $icon-visualization-brand-2x, );
$icon-visualization-group-name: 'icon-visualization';
$icon-visualization-group: ('icon-visualization', $icon-visualization, $icon-visualization-2x, );
$icon-zoomin-group-name: 'icon-zoomin';
$icon-zoomin-group: ('icon-zoomin', $icon-zoomin, $icon-zoomin-2x, );
$icon-zoomout-group-name: 'icon-zoomout';
$icon-zoomout-group: ('icon-zoomout', $icon-zoomout, $icon-zoomout-2x, );
$logo-hover-group-name: 'logo-hover';
$logo-hover-group: ('logo-hover', $logo-hover, $logo-hover-2x, );
$logo-group-name: 'logo';
$logo-group: ('logo', $logo, $logo-2x, );
$social-icon-facebook-brand-group-name: 'social-icon-facebook-brand';
$social-icon-facebook-brand-group: ('social-icon-facebook-brand', $social-icon-facebook-brand, $social-icon-facebook-brand-2x, );
$social-icon-facebook-group-name: 'social-icon-facebook';
$social-icon-facebook-group: ('social-icon-facebook', $social-icon-facebook, $social-icon-facebook-2x, );
$social-icon-gplus-brand-group-name: 'social-icon-gplus-brand';
$social-icon-gplus-brand-group: ('social-icon-gplus-brand', $social-icon-gplus-brand, $social-icon-gplus-brand-2x, );
$social-icon-gplus-group-name: 'social-icon-gplus';
$social-icon-gplus-group: ('social-icon-gplus', $social-icon-gplus, $social-icon-gplus-2x, );
$social-icon-twitter-brand-group-name: 'social-icon-twitter-brand';
$social-icon-twitter-brand-group: ('social-icon-twitter-brand', $social-icon-twitter-brand, $social-icon-twitter-brand-2x, );
$social-icon-twitter-group-name: 'social-icon-twitter';
$social-icon-twitter-group: ('social-icon-twitter', $social-icon-twitter, $social-icon-twitter-2x, );
$retina-groups: ($dahsboard-icon-story-group, $dahsboard-icon-user-group, $dahsboard-icon-visualization-group, $icon-carousel-left-hover-group, $icon-carousel-left-group, $icon-carousel-right-hover-group, $icon-carousel-right-group, $icon-civio-footer-group, $icon-close-white-group, $icon-close-group, $icon-duplicate-group, $icon-eu-footer-group, $icon-fullscreen-back-group, $icon-fullscreen-group, $icon-location-group, $icon-logo-footer-group, $icon-mail-group, $icon-pencil-circle-group, $icon-pencil-white-group, $icon-pencil-group, $icon-plus-circle-group, $icon-preview-group, $icon-search-group, $icon-settings-group, $icon-share-group, $icon-story-big-group, $icon-story-brand-group, $icon-story-group, $icon-table-group, $icon-tool-brand-group, $icon-tool-group, $icon-visualization-brand-group, $icon-visualization-group, $icon-zoomin-group, $icon-zoomout-group, $logo-hover-group, $logo-group, $social-icon-facebook-brand-group, $social-icon-facebook-group, $social-icon-gplus-brand-group, $social-icon-gplus-group, $social-icon-twitter-brand-group, $social-icon-twitter-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
