@import 'bootstrap/variables';
@import '_variables';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'scss/sprites';

// Story New
.story-new{
  .story-new-selector > p{
    margin: 1.5*$grid-gutter-width 0;
  }

  .form-default{
    margin-bottom: 0;
  }
}

.story-select-visualization-list{
  background: $gray-lighter;
  padding: $grid-gutter-width/2 0;

  .visualization-item{
    display: block;
    background: $gray-lighter;
    border-bottom: 1px solid $gray-light;
    padding: 2*$grid-gutter-width/3 $grid-gutter-width/3;
    @include transition( background 0.3s ease-out );

    &:last-child{
      border-bottom: none;
    }

    .item-type-icon,
    .item-info{
      display: inline-block;
    }

    .item-type-icon{
      position: relative;
      top: 3px;
      margin-right: $grid-gutter-width/3;
      @include retina-sprite( $icon-visualization-brand-group );
    }

    .item-info h3{
      color: $gray-dark;
      font-size: 0.857em;
      text-transform: uppercase;
      font-weight: 400;
      margin: 0;
    }

    .btn-invert{
      margin-top: -4px;
      background: transparent;
    }

    &:hover{
      background: white;
      text-decoration: none;

      .btn-invert{
        display: block;
        color: white;
        background: $brand-primary;
      }
    }
  }

  .pagination{
    margin-top: $grid-gutter-width;
  }
}


// Story Cover
.story-cover{
  position: absolute;
  top: 82px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 70;
  
  .item-preview{
    border-radius: 0;
    height: 100%;

    .item-info-container-inner{
      max-width: 560px;
    }

    .item-info{
      .item-title h3{
        font-size: 3.429em;
        margin: 0;
      }
      p{
        font-size: 1em;
        color: white;
      }
    }

    .item-type-icon{
      top: auto;
      bottom: $grid-gutter-width/2;
    }

    .item-picture {
      height: 100%;

      > img{
        height: 100%;
        width: auto;
      }
    }
  }
}

// Hide Visualization Info at Story Cover
.stories.show .visualization-info,
.stories.show .visualization-description{
  display: none;
}