@import 'bootstrap/variables';
@import '_variables';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'scss/sprites';

// Story New
.story-new{
  .story-new-selector > p{
    margin: 1.5*$grid-gutter-width 0;
  }

  .form-default{
    margin-bottom: 0;
  }
}

.story-select-visualization-list{
  background: $gray-lighter;
  padding: $grid-gutter-width/2 0;

  // No Visualizations Yet message
  > .container > .text-center{
    margin: $grid-gutter-width/2 0;

    > p{
      margin-bottom: $grid-gutter-width;
    }
  }

  .visualization-item{
    display: block;
    background: $gray-lighter;
    border-bottom: 1px solid $gray-light;
    padding: 2*$grid-gutter-width/3 $grid-gutter-width/3;
    @include transition( background 0.3s ease-out );

    &:last-child{
      border-bottom: none;
    }

    .item-type-icon,
    .item-info{
      display: inline-block;
    }

    .item-type-icon{
      position: relative;
      top: 3px;
      margin-right: $grid-gutter-width/3;
      @include retina-sprite( $icon-visualization-brand-group );
    }

    .item-info h3{
      color: $gray-dark;
      font-size: 0.857em;
      text-transform: uppercase;
      font-weight: 400;
      margin: 0;
    }

    .btn-invert{
      margin-top: -4px;
      background: transparent;
    }

    &:hover{
      background: white;
      text-decoration: none;

      .btn-invert{
        display: block;
        color: white;
        background: $brand-primary;
      }
    }
  }

  .pagination{
    margin-top: $grid-gutter-width;
  }
}


// Story Cover
.story-cover{
  position: absolute;
  top: 84px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 70;

  .item-preview{
    border-radius: 0;
    height: 100%;

    .item-info-container-inner{
      max-width: 560px;
    }

    .item-info{
      .item-title h3{
        font-size: 1.8em;
        margin: 0;
      }
      .item-description{
        color: white;
        font-size: 1em;
        margin-top: $grid-gutter-width;
        font-style: normal;
      }
    }

    .item-type-icon{
      top: auto;
      bottom: $grid-gutter-width/2;
    }

    .item-picture {
      height: 100%;

      > img{
        height: 100%;
        width: auto;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .item-preview{
      .item-info{
        .item-title h3{
          font-size: 3.429em;
        }
      }
    }
  }
}

// Story Info
.story-info{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  border-radius: 0;
  color: $gray;
  border-color: $gray-lighter;
  //background: $gray-blue;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  @include transition( right 0.4s ease-out );
  @include box-shadow( 0 0 10px rgba(0, 0, 0, 0.2) );

  &.active{
    right: 0;
  }

  .panel-heading{
    color: $gray;
    line-height: 30px;
    border-radius: 0;
    border: none;
    padding: $grid-gutter-width/2 $grid-gutter-width/3;
    background: $gray-lighter;  // $gray-blue-dark;
    //background: rgba(255, 255, 255, 0.8);
    //border-bottom: 1px solid $gray-lighter;

    .close{
      border-radius: $grid-gutter-width/2;
      text-indent: -9999px;
      opacity: 1;
      position: absolute;
      right: $grid-gutter-width/3;
      top: $grid-gutter-width/2;
      @include retina-sprite( $icon-close-brand-group );

      &:hover{
        background-color: white;
      }
    }

    .index-header{
      padding-left: $grid-gutter-width/2;
    }
    .chapter-header{
      text-align: center;
    }

    .index-back-btn{
      display: block;
      position: absolute;
      left: $grid-gutter-width/3;
      top: $grid-gutter-width/2;
      border: 2px solid $brand-primary;
      width: $grid-gutter-width;
      height: $grid-gutter-width;
      border-radius: $grid-gutter-width/2;
      text-indent: -9999px;
      overflow: hidden;

      .icon-story-index{
        display: block;
        margin-top: 7px;
        margin-left: 3px;
        @include retina-sprite( $icon-list-group );
      }

      &:hover{
        background: white;
      }
    }

    .chapters-navigation{
      margin-top: -10px;

      .chapters-tracker,
      .chapter-navigation{
        display: inline-block;
      }

      .chapter-navigation{
        position: relative;
        width: $grid-gutter-width;
        height: $grid-gutter-width;
        top: $grid-gutter-width/3;
        margin: 0 $grid-gutter-width/6;
        border-radius: $grid-gutter-width/2;
        text-indent: -9999px;
        overflow: hidden;
      }

      .prev-chapter-icon,
      .next-chapter-icon{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -3px;
        margin-top: -6px;
      }

      .prev-chapter-icon{
        @include retina-sprite( $icon-carousel-left-group );
      }
      .next-chapter-icon{
        @include retina-sprite( $icon-carousel-right-group );
      }

      .chapter-navigation-prev:hover .prev-chapter-icon{
        @include retina-sprite( $icon-carousel-left-hover-group );
      }
      .chapter-navigation-next:hover .next-chapter-icon{
        @include retina-sprite( $icon-carousel-right-hover-group );
      }
    }
  }

  .panel-body{
    padding: $grid-gutter-width/3;
  }

  .chapters-list{
    padding: 0;

    li{
      position: relative;
      list-style: none;

      .chapter{
        display: block;
        //color: $text-color;
        font-weight: 300;
        padding: $grid-gutter-width/3;
        margin-bottom: $grid-gutter-width/6;
        border-left: 4px solid $brand-primary;
        background: $gray-lighter;  // $gray-blue-dark;
        @include transition( background 0.3s ease-out );

        .index{
          display: inline-block;
          color: $brand-primary;
          width: $grid-gutter-width;
          height: $grid-gutter-width;
          border-radius: $grid-gutter-width/2;
          line-height: -4 + $grid-gutter-width;
          margin-right: $grid-gutter-width/6;
          text-align: center;
          font-weight: 400;
          border: 2px solid $brand-primary;
        }

        &.active,
        &:hover,
        &:focus{
          color: white;
          text-decoration: none;
          background: $brand-primary;

          .index{
            color: white;
            border-color: white;
          }
        }
      }
    }
  }

  .chapter-content{
    padding: $grid-gutter-width/6;

    .actions{
      margin-top: $grid-gutter-width/2;
    }

    .picture{
      float: left;
      width: 50%;
      margin-right: $grid-gutter-width/2;
      margin-top: $grid-gutter-width/6;
    }

    .description{
      font-weight: 300;

      strong{
        font-weight: 400;    
      }
    }
  }
}


// Hide Visualization Info at Story Cover
.stories.show .visualization-info,
.stories.show .visualization-description{
  display: none;
}

// Clear visualization-graph-info right transition
.stories .visualization-graph-info{
  @include transition( right 0s linear );
}
.stories .story-info{
  @include transition( right 0.5s ease-out );
}

.stories .story-info,
.stories .visualization-graph-info{
  width: 100%;
  max-width: 460px;
  right: -470px;

  &.active{
    right: 0;
  }
}