@import 'bootstrap/variables';
@import '_variables';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'scss/sprites';

// Signup
.devise-page{

  .page-header{

    .lead{
      max-width: 460px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  form{

    > p > a{
      font-size: 0.857em;
    }

    .actions{
      //margin-top: $grid-gutter-width;

      .devise-links{
        font-size: 0.857em;

        p{
          margin-bottom: $grid-gutter-width/6;
        }
      }
    }
  }

  .form-group{
    em{
      font-size: 0.857em;
      font-weight: 300;
      font-style: normal;
    }
  }
}

.user-dashboard{

  .user-info{
    margin: 5+$grid-gutter-width/2 0 1.5*$grid-gutter-width;

    .media-left{
      padding-right: 5+$grid-gutter-width/2;
    }

    .media-object{
      border: 10px solid $gray-lighter;
    }

    .media-body > p{
      margin-bottom: $grid-gutter-width/2;

      > a{
        color: $gray-semi-light;

        &:hover{
          color: $brand-primary;
          text-decoration: none;
        }
      }
    }
  }

  h2{
    font-size: 1.6em;
    font-weight: 300;
    margin: $grid-gutter-width/2 0 8px;
  }

  .user-actions{
    margin-bottom: 1.5*$grid-gutter-width;
    text-align: center;
    &>div {
      width: 157px;
      margin: 0 15px;
      display: inline-block;
    }
  }

  .dashboard-items{
    background: $gray-lighter;
    padding: 2*$grid-gutter-width 0;
  }
  @media (min-width: $screen-sm-min) {
    .user-info{
      margin: 1.5*$grid-gutter-width 0 2*$grid-gutter-width;
      .media-left{
        padding-right: $grid-gutter-width;
      }
      .media-object{
        border: 20px solid $gray-lighter;
      }
    }
    h2 {
      font-size: 3em;
    }
    .user-actions {
      &>div {
        width: 33.333333333%;
        margin: 0;
        display: block;
      }
    }
  }
}

#terms-of-service-modal .terms-of-service-modal-content{
  max-height: 380px;
  overflow-y: auto;
  padding-right: 2*$grid-gutter-width/3; 
}