@import 'bootstrap/variables';
@import '_variables';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'scss/sprites';

// Signup
.devise-page{

  .page-header{
    text-align: center;
    margin-bottom: 1.5*$grid-gutter-width;

    .lead{
      max-width: 460px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  form{
    margin-bottom: 3*$grid-gutter-width;

    > p > a{
      font-size: 12px;
    }

    .actions{
      margin-top: $grid-gutter-width;

      .devise-links{
        font-size: 12px;
        padding: 8px 0;
      }
    }
  }

  .form-group{
    em{
      font-size: 12px;
      font-weight: 300;
      font-style: normal;
    }
  }
}

.user-settings{
  .profile-picture{
    margin-bottom: 1.5*$grid-gutter-width;

    .media-left{
      padding-right: 1.5*$grid-gutter-width;
    }
  
    .media-body{
      font-size: 12px;

      .media-heading{
        margin: $grid-gutter-width/2 0;
        text-transform: uppercase;
      }

      > p{
        color: $gray-semi-light;
        margin-right: $grid-gutter-width/2;
        margin-bottom: $grid-gutter-width/2;
      }
    }
  }
}

.user-dashboard{

  .user-info{
    margin: $grid-gutter-width 0 2*$grid-gutter-width;

    .media-left{
      padding-right: $grid-gutter-width;
    }

    .media-object{
      border: 20px solid $gray-lighter;
    }

    .media-body > p{
      margin-bottom: $grid-gutter-width/2;

      > a{
        color: $gray-semi-light;

        &:hover{
          color: $brand-primary;
          text-decoration: none;
        }
      }
    }
  }

  h2{
    font-size: 3em;
    font-weight: 300;
    margin: $grid-gutter-width/2 0 8px;
  }

  .user-social-networks{
    padding: 0;
    
    li{
      float: left;
      margin-right: $grid-gutter-width/2;

      a{
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        border: 2px solid $brand-primary;
        text-indent: -9999px;
        background: transparent;
        @include transition( background 0.3s ease-out );
        
        &.twitter .icon{
          margin-top: 7px;
          margin-left: 6px;
          @include sprite-social-icon-twitter-brand();
        }
        &.facebook .icon{
          margin-top: 6px;
          margin-left: 10px;
          @include sprite-social-icon-facebook-brand();
        }

        &:hover{
          background: mix($brand-primary, white, 25%);
        }
      }
     }
  }

  .user-actions{
    margin-bottom: 1.5*$grid-gutter-width;
  }

  .dashboard-items{
    background: $gray-lighter;
    padding: 2*$grid-gutter-width 0;
  }

  .btn-dashboard{

    .btn-dashboard-icon{
      position: relative;
      display: block;
      height: 128px;
      width: 128px;
      margin: 0 auto;
      border-radius: 64px;
      border: 3px solid $brand-primary;
      background: transparent;
      @include transition( background 0.3s ease-out );
    }

    .btn-dashboard-icon-sprite{
      margin: 32px auto 0;
    }

    .btn-dashboard-icon-detail{
      position: absolute;
      top: 4px;
      right: 0;
      @include sprite-icon-plus-circle();
    }

    .btn-dashboard-title{
      display: block;
      font-size: 0.857em;
      text-transform: uppercase;
      padding: $grid-gutter-width/2 0;
    }

    &.btn-dashboard-story .btn-dashboard-icon-sprite{
      @include sprite-dahsboard-icon-story();
    }
    &.btn-dashboard-visualization .btn-dashboard-icon-sprite{
      margin-top: 36px;
      @include sprite-dahsboard-icon-visualization();
    }
    &.btn-dashboard-settings{
      .btn-dashboard-icon-sprite{
        @include sprite-dahsboard-icon-user();
      }
      .btn-dashboard-icon-detail{
        @include sprite-icon-pencil-circle();
      }
    }

    &:hover{
      color: $brand-primary;
      text-decoration: none;

      .btn-dashboard-icon{
        background: mix($brand-primary, white, 25%);
      }
    }
  }
}