@import 'bootstrap/variables';
@import '_variables';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'bootstrap/mixins/clearfix';
@import 'scss/sprites';

.visualization-header{
  position: relative;
  background: $body-bg;
  padding: $grid-gutter-width/2 0 $grid-gutter-width;
  //@include box-shadow( 0px 0 12px 0px rgba(0,0,0,0.5) );

  h2{
    font-size: 3em;
    margin: 0;
  }

  .dropdown{
    margin-top: 8px;

    .icon-tool{
      float: right;
      margin-top: 4px;
      margin-left: 4px;
      @include retina-sprite( $icon-tool-group );
    }

    &:hover{
      .icon-tool{
        @include retina-sprite( $icon-tool-brand-group );
      }
    }

    &.open{
      .btn{
        color: white;
        background: $brand-primary;
        border-color: $brand-primary;
      }
      .icon-tool{
        @include retina-sprite( $icon-tool-group );
      }
    }

    .dropdown-menu > li > a{
      position: relative;
      padding-left: 50px;

      > i{
        position: absolute;
        top: $grid-gutter-width/2;
        left: $grid-gutter-width/2;
      }

      .icon-edit{
        @include retina-sprite( $icon-pencil-white-group );
      }
      .icon-preview{
        @include retina-sprite( $icon-preview-sm-white-group );
      }
      .icon-publish{
        @include retina-sprite( $icon-publish-white-group );
      }
      .icon-unpublish{
        @include retina-sprite( $icon-unpublish-white-group );
      }
      .icon-duplicate{
        @include retina-sprite( $icon-duplicate-white-group );
      }
      .icon-story{
        @include retina-sprite( $icon-story-white-group );
      }
      .icon-trash{
        @include retina-sprite( $icon-trash-white-group );
      }

      &:hover{
        .icon-edit{
          @include retina-sprite( $icon-pencil-group );
        }
        .icon-preview{
          @include retina-sprite( $icon-preview-sm-group );
        }
        .icon-publish{
          @include retina-sprite( $icon-publish-group );
        }
        .icon-unpublish{
          @include retina-sprite( $icon-unpublish-group );
        }
        .icon-duplicate{
          @include retina-sprite( $icon-duplicate-group );
        }
        .icon-story{
          @include retina-sprite( $icon-story-brand-group );
        }
        .icon-trash{
          @include retina-sprite( $icon-trash-danger-group );
        }
      }
    }
  }

  /* .visualization-status{
    display: inline-block;
    margin-top: 8px;
    margin-left: 15px;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    line-height: 1em;
    font-size: 0.813em;
    letter-spacing: 0.05em;
    font-weight: 300;
    text-transform: uppercase;

    &.draft{
      background: $brand-warning;
    }
    &.public{
      background: $brand-success;
    }
  } */
}

.visualization-graph{

  //display: none;
  width: 100%;
  background: white;
  
  .visualization-header{
    z-index: 90;

    .visualization-status{
      display: inline-block;
      margin-top: 8px;
      margin-left: 15px;
      padding: 4px 8px;
      border-radius: 4px;
      color: white;
      line-height: 1em;
      font-size: 0.813em;
      letter-spacing: 0.05em;
      font-weight: 300;
      text-transform: uppercase;

      &.draft{
        background: $brand-warning;
      }
      &.public{
        background: $brand-success;
      }
    }
  }

  .visualization-graph-container{
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: 60;

    > img{
      width: 100%;
      height: auto;
      //height: 500px;
    }
  }

  .visualization-graph-component{
    width: 100%;
    height: 100%;
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    //background: $gray-lighter;
   
    .node{
      cursor: pointer;

      .node-circle{
        stroke-width: 0;
        stroke-opacity: 0.4;
        @include transition( stroke-width, 0.3s, ease-out );
      }

      .node-circle.active{
        stroke-width: 20px !important;
      }
    }

    .relation {
      fill: none;
      stroke: $gray-semi-light;
      stroke-width: 1.5px;
      stroke-dasharray: 2, 2;

      &.weaken{
        opacity: 0.5;
      }

      &.highlighted,
      &.highlighted.weaken{
        //stroke-width: 2px;
        opacity: 1;
      }
    }

    .node-label{
      text-shadow: 0px 1px 0 $gray-lighter;
      fill: $gray;
      font-size: 0.857em;
      font-weight: 400;
      text-anchor: middle;

      &.weaken{
        opacity: 0;
      }

      &.highlighted,
      &.highlighted.weaken,
      &.highlighted.hide{
        display: inline !important;
        fill: $gray-darker;
        opacity: 1;
      }
    }

    #arrow{
      fill: white;
      stroke: $gray-semi-light;
      stroke-width: 1.5px;
    }
  }

  .visualization-graph-menu-navigation,
  .visualization-graph-menu-actions{
    position: absolute;
    top: $grid-gutter-width/2;
  }

  .visualization-graph-menu-navigation{
    left: $grid-gutter-width/2;

    .btn{
      display: block;
      min-width: auto;
      background: transparent;
      border: none;
      border-radius: 12px;
      margin-bottom: 12px;
      padding: 0;
      @include transition( opacity 0.3s ease-out );
      background-color: white;

      &:hover{
        opacity: 0.7;
      }

      &.zoomin{
        @include retina-sprite( $icon-zoomin-group );
      }
      &.zoomout{
        @include retina-sprite( $icon-zoomout-group );
      }
      &.fullscreen{
        border-radius: 0;
        margin-left: 1px;
        @include retina-sprite( $icon-fullscreen-group );
      }
    }
  }

  .visualization-graph-menu-actions{
    right: $grid-gutter-width/2;
    width: 45px;
    
    .btn-search{
      position: relative;
      padding: 8px 15px;
      background: white;

      > .search-icon{
        @include clearfix;
        @include retina-sprite( $icon-search-group );
        
      }

      .search-input{
        position: absolute;
        right: 0;
        top: 0;
        display: none;
      }

      &:hover{
        .search-input{
          display: block;
        }
      }
    }

    .btn-share{
      float: right;
      background-color: white;
      @include clearfix;

      .icon-share{
        @include retina-sprite( $icon-share-group );
        
        display: inline-block;
        position: relative;
        top: 2px;
        margin-left: $grid-gutter-width/3;
      }

      .title{
        display: none;
      }

      &:hover{
        color: $brand-primary;
        border-color: white;
        background: white;

        .title{
          display: inline;
        }
      }
    }
  }

  .visualization-graph-panel-configuration{
    position: absolute;
    top: 10px;
    right: -400px;
    width: 300px;
    z-index: 100;
    @include transition( left 0.5s ease-out );

    &.active{
      right: 10px;
    }

    .close{
      position: absolute;
      right: 12px;
      top: 17px;
    }
  }

  .visualization-graph-info{
    position: absolute;
    top: 0;
    bottom: 0;
    right: -350px;
    width: 350px;
    margin: 0;
    border-radius: 0;
    color: $gray;
    background: $gray-blue;
    @include transition( right 0.5s ease-out );

    &.active{
      right: 0;
    }

    .panel-heading{
      border-radius: 0;
      border: none;
      padding: $grid-gutter-width/2;
      background: $gray-blue-dark;
      @include clearfix();
      
      .close{
        border-radius: $grid-gutter-width/2;
        text-indent: -9999px;
        opacity: 1;
        @include retina-sprite( $icon-close-white-group );
        
        @include transition( background-color 0.3s ease-out );

        &:hover{
          background-color: darken( $gray-blue-dark, 15% );
        }
      }

      .btn-primary{
        color: white;
        border-color: white;
        background: transparent;
        min-width: auto;
        padding: 0 $grid-gutter-width/2;

        .btn-icon-pencil{
          float: left;
          margin-top: 5px;
          margin-right: $grid-gutter-width/3;
          @include retina-sprite( $icon-pencil-white-group );
          
        }

        &:hover{
          background: darken( $gray-blue-dark, 15% );
        }
      }
    }
  
    .panel-body{

      .name{
        margin: 0 0 $grid-gutter-width/3;
      }

      .description{
        font-size: 0.857em;

        del{
          font-style: none;
          text-decoration: underline;
        }
      }
    }
  }
}

body.fullscreen{
  overflow: hidden;
  
  .visualization-graph{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;

    .visualization-graph-menu-navigation .btn.fullscreen{
      @include retina-sprite( $icon-fullscreen-back-group );
      
    }
  }
}

.visualization-info{
  padding: $grid-gutter-width 0;

  strong{
    display: block;
    margin-bottom: $grid-gutter-width/2;
    color: $gray;
    font-size: 1.571em;
    font-weight: 300;
  }

  .user-label{
    margin-top: -7px;
  }

  .visualization-based-on{
    font-size: 0.786em;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .visualization-status{
    color: $gray;
    font-size: 0.786em;
    text-transform: uppercase;
    margin-top: 1px;
    margin-right: $grid-gutter-width/2;
    line-height: $grid-gutter-width;
  }

  .visualization-status-icon{
    float: left;
    width: $grid-gutter-width;
    height: $grid-gutter-width;
    border-radius: $grid-gutter-width/2;
    margin-right: $grid-gutter-width/3;
    border: 2px solid $brand-primary;
  }

  .visualization-status-icon-sprite{
    display: block;
    position: relative;
    top: 7px;
    left: 4px;
    @include retina-sprite( $icon-table-group );
  }

  .btn-collapse{
    margin-top: 1.5*$grid-gutter-width;
  }

  .collapsed-label-icon,
  .collapsible-label-icon{
    @include retina-sprite( $icon-table-group );
  }

  .collapsed-label-icon,
  .collapsible-label-icon{
    display: inline-block;
    position: relative;
    margin-right: 5px;
    top: 2px;
  }
}

.visualization-description{
  background: $gray-lighter;
  padding-bottom: $grid-gutter-width;

  h3{
    float: left;
    color: $gray;
    font-size: 1.571em;
    font-weight: 300;
    margin: $grid-gutter-width 0;
  }

  .btn-edit-circle{
    margin-top: $grid-gutter-width - 2px;
  }

  .visualization-description-content{
    clear: both;
    color: $gray;
    font-size: 0.929em;
    font-weight: 300;

    strong{
      font-weight: normal;
    }

    del{
      font-style: normal;
      text-decoration: underline;
    }
  }
  
  .visualization-description-buttons{
    margin-top: 25px + (2*$grid-gutter-width);

    .btn-invert{
      position: relative;
      width: 100%;
      text-align: left;
      text-indent: 30px;
      background: transparent;

      span{
        position: absolute;
        left: 15px;
      }

      &:hover{
        background: $brand-primary;
      }
    }

    .btn-icon-story{
      top: 5px;
      @include retina-sprite( $icon-story-brand-group );
      
    } 
    .btn-icon-visualization{
      top: 5px;
      @include retina-sprite( $icon-visualization-brand-group );
      
    }        
    .btn-icon-pencil{
      top: 5px;
      @include retina-sprite( $icon-pencil-group );
      
    }
    .btn-icon-duplicate{
      top: 6px;
      @include retina-sprite( $icon-duplicate-group );
      
    }
  }
}

.visualization-table{
  width: 100%;
  background: $body-bg;
  //@include box-shadow( 0px 0 12px 0px rgba(0,0,0,0.6) );

  &.affix{
    position: fixed;
    top: 74px;
  }

  .visualization-table-scrollbar{
    height: 42px;
    color: white;
    background: $brand-yellow;
    text-align: center;

    p{
      font-size: 0.857em;
      line-height: 42px;
      text-transform: uppercase;
    }
  }

  .visualization-table-header{
    margin-top: 20px;
    //padding: 15px 0;
    //height: 64px;
    //background: mix( $gray-light, $gray-lighter, 40% );

    .nav-tabs{
      border: none;

      > li{
        margin-right: $grid-gutter-width/3;

        > a{
          font-size: 0.857em;
          text-transform: uppercase;
          border: 2px solid $brand-primary;
          border-bottom: none;
          border-radius: 6px 6px 0 0;
          min-width: 120px;
          text-align: center;
          padding: 12px;

          &:hover{
            color: $brand-primary;
            background: mix( $gray-blue-light, white, 50% );
            @include transition( background 0.3s ease-out );
          }
        }
      }

      > li.active > a, 
      > li.active > a:hover, 
      > li.active > a:focus{
        color: $brand-primary;
        background: $gray-blue-light;
        border-color: $gray-blue-light;
      }
    }
  }

  .tab-content{
    clear: both;
    float: none;
    position: relative;
    margin-bottom: $grid-gutter-width;

    .btn-toolbar{
      position: absolute;
      top: -1.5*$grid-gutter-width;
      right: 0;
    }
  }

  .handsontable{

    .add-custom-column{
      float: right;
      display: block;
      margin-top: $grid-gutter-width/6;
      margin-right: $grid-gutter-width/3;
      @include retina-sprite( $icon-plus-circle-nofill-group );
    }
    
    .icon-trash{
      display: block;
      margin-top: 4px;
      cursor: pointer;
      text-indent: -9999px;
      @include retina-sprite( $icon-trash-group );
      @include transition( opacity 0.3s ease-out );

      &:hover{
        opacity: 0.7;
      }
    }

    .icon-plus{
      display: block;
      margin-top: 2px;
      cursor: pointer;
      text-indent: -9999px;
      opacity: 0.5;
      @include retina-sprite( $icon-plus-circle-nofill-group );
      @include transition( opacity 0.3s ease-out );

      &:hover{
        opacity: 0.7;
      }
    }

    .icon-table{
      display: block;
      margin-top: 2px;
      text-indent: -9999px;
      cursor: pointer;
      @include retina-sprite( $icon-table-circle-group );
      @include transition( opacity 0.3s ease-out );

      &:hover{
        opacity: 0.7;
      }
    }

    .htCheckboxRendererInput{
      display: none;
    }

    .icon-visible{
      display: block;
      margin-top: 5px;
      cursor: pointer;
      text-indent: -9999px;
      opacity: 0.3;
      @include retina-sprite( $icon-preview-group );

      &.active{
        opacity: 1;
      }
    }

    .icon-direction{
      display: block;
      margin-top: 2px;
      cursor: pointer;
      text-indent: -9999px;
      opacity: 0.3;
      @include retina-sprite( $icon-no-direction-group );

      &.active{
        opacity: 1;
        @include retina-sprite( $icon-direction-group );
      }
    }
  }

  .table{
    color: $gray;
    font-size: 0.857em;

    > thead > tr > th, 
    > thead > tr > td, 
    > tbody > tr > th, 
    > tbody > tr > td, 
    > tfoot > tr > th, 
    > tfoot > tr > td{
      padding: $grid-gutter-width/3;
    }

    > thead > tr > th{
      color: $gray;
      text-transform: uppercase;
      font-weight: normal;
      background-color: $gray-blue-light;
      border: none;
    }
    > tbody{
      font-weight: 300;
    }
  }
}

// Share & Embed Panel
#visualization-share{

  h4{
    font-size: 28px;
    line-height: 1.375em;
    font-weight: 300;
    margin: $grid-gutter-width 0 $grid-gutter-width/2;
  }

  .social-networks-btns{
    width: 138px;
    margin: $grid-gutter-width/2 auto;

    li{
      margin: 0 7px;

      a{
        border-color: white;

        &.twitter .icon{
          @include retina-sprite( $social-icon-twitter-group );
          
        }
        &.facebook .icon{
          @include retina-sprite( $social-icon-facebook-group );
          
        }

        &:hover{
          background: mix($brand-primary, white, 75%);
        }
      }
    }
  }

  .form-inline{
    text-align: center;

    .form-group{
      margin: 0 $grid-gutter-width/6;
    }
  }

  .checkbox{
    margin-left: 2*$grid-gutter-width;
  }

  .form-control{
    border: none;
  }

  input[type="number"]{
    width: 80px;
    text-align: center;
  }

  .btn-primary{
    border-color: white;
    margin: $grid-gutter-width auto;
  }
}

.visualization-related-items{
  padding: $grid-gutter-width 0 1.5*$grid-gutter-width;
  border-bottom: 1px solid $gray-lighter;
  background: $gray-lighter;

  .section-title{
    margin-top: 0;
  }
}

#visualization-table-view{
  position: relative;
  background: $gray-lighter;
  padding-top: $grid-gutter-width;

  table{
    border-bottom: 1px solid $gray-light;
  }

  // .title{
  //   padding-bottom: 10px;  

  //   .close{
  //     position: absolute;
  //     top: 20px;
  //     right: 15px;
  //   }
  // }
}

// Visualization Edit
body.visualizations.show{
  .visualization-table-relations{
    display: none;
  }
}

// Visualization Edit
body.visualizations.edit{

  .visualization-graph{
    position: absolute;
    top: 91px;
    z-index: 90;

    &.affix{
      position: fixed;
      top: -91px;
    }
  }

  .visualization-graph-container.affix{
    position: fixed;
    top: 0;
  }

  .visualization-table{
    position: relative;
    //top: -50px; // 550px;
    z-index: 99;
  }
}
