@import 'bootstrap/variables';
@import '_variables';
@import 'bootstrap/mixins/vendor-prefixes';
@import 'bootstrap/mixins/clearfix';
@import 'scss/sprites';

// Define nodes colors
$node-color-1: #ef9387;
$node-color-2: #fccf80;
$node-color-3: #fee378;
$node-color-4: #d9d070;
$node-color-5: #82a389;
$node-color-6: #87948f;
$node-color-7: #89b5df;
$node-color-8: #aebedf;
$node-color-9: #c6a1bc;
$node-color-10: #f1b6ae;
$node-color-11: #a8a6a0;
$node-color-12: #e0deda;


.visualization-header{
  position: relative;
  background: $body-bg;
  padding: $grid-gutter-width/2 0;  // $grid-gutter-width;
  //@include box-shadow( 0px 0 12px 0px rgba(0,0,0,0.5) );

  h2{
    font-size: 2em;
    margin: 0 0 $grid-gutter-width/2;
    width: 100%;
  }

  .dropdown{
    margin-top: 2px;

    .icon-tool{
      display: inline-block;
      vertical-align: top;
      margin-top: 4px;
      margin-left: 4px;
      @include retina-sprite( $icon-tool-group );
    }
    button[aria-expanded="true"],
    button[aria-expanded="true"]:focus:hover {
      .icon-tool{
        @include retina-sprite( $icon-tool-group );
      }
    }

    button:hover,
    button[aria-expanded="false"]:focus {
      .icon-tool{
        @include retina-sprite( $icon-tool-brand-group );
      }
    }

    &.open{
      .btn{
        color: white;
        background: $brand-primary;
        border-color: $brand-primary;
      }
      .icon-tool{
        @include retina-sprite( $icon-tool-group );
      }
    }

    .dropdown-menu > li > a{
      position: relative;
      padding-left: 50px;

      > i{
        position: absolute;
        top: $grid-gutter-width/2;
        left: $grid-gutter-width/2;
      }

      .icon-edit{
        @include retina-sprite( $icon-pencil-white-group );
      }
      .icon-preview{
        @include retina-sprite( $icon-preview-sm-white-group );
      }
      .icon-publish{
        @include retina-sprite( $icon-publish-white-group );
      }
      .icon-unpublish{
        @include retina-sprite( $icon-unpublish-white-group );
      }
      .icon-duplicate{
        @include retina-sprite( $icon-duplicate-white-group );
      }
      .icon-story{
        @include retina-sprite( $icon-story-white-group );
      }
      .icon-trash{
        @include retina-sprite( $icon-trash-white-group );
      }

      &:hover{
        .icon-edit{
          @include retina-sprite( $icon-pencil-group );
        }
        .icon-preview{
          @include retina-sprite( $icon-preview-sm-group );
        }
        .icon-publish{
          @include retina-sprite( $icon-publish-group );
        }
        .icon-unpublish{
          @include retina-sprite( $icon-unpublish-group );
        }
        .icon-duplicate{
          @include retina-sprite( $icon-duplicate-group );
        }
        .icon-story{
          @include retina-sprite( $icon-story-brand-group );
        }
        .icon-trash{
          @include retina-sprite( $icon-trash-danger-group );
        }
      }
    }
  }

  .btn-edit-circle {
    margin-top: $grid-gutter-width/6;
  }

  /* .visualization-status{
    display: inline-block;
    margin-top: 8px;
    margin-left: 15px;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    line-height: 1em;
    font-size: 0.813em;
    letter-spacing: 0.05em;
    font-weight: 300;
    text-transform: uppercase;

    &.draft{
      background: $brand-warning;
    }
    &.public{
      background: $brand-success;
    }
  } */
  @media (min-width: $screen-sm-min) {
    h2 {
      font-size: 2.5em;
      width: auto;
      padding-left: 0;
    }
    .dropdown {
      margin-top: 4px;
    }
  }
  @media (max-width: $screen-sm-min - 1) {
    .btn-edit-circle {
      display: none;
    }
    .dropdown {
      float: none !important;
      clear: both;
      .dropdown-menu {
        left: 0;
        right: auto;
        &:before {
          left: 15px;
          margin-left: 0;
        }
      }
    }
  }
}

.visualization-graph{

  //display: none;
  width: 100%;
  background: white;

  .visualization-header{
    z-index: 90;

    .visualization-status{
      display: inline-block;
      margin-top: 8px;
      margin-left: 15px;
      padding: 4px 8px;
      border-radius: 4px;
      color: white;
      line-height: 1em;
      font-size: 0.813em;
      letter-spacing: 0.05em;
      font-weight: 300;
      text-transform: uppercase;

      &.draft{
        background: $brand-warning;
      }
      &.public{
        background: $brand-success;
      }
    }
  }

  .visualization-graph-container{
    position: relative;
    height: 100%;
    overflow: hidden;
    z-index: 60;

    > img{
      width: 100%;
      height: auto;
      //height: 500px;
    }
  }

  .visualization-graph-component{
    width: 100%;
    height: 560px;
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;

    &.loading{
      background: url(/images/loader.gif) no-repeat center center transparent;
    }

    .visualization-empty-msg{
      display: none;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin-top: -3em;
      color: $gray;
      font-weight: 300;
      text-align: center;
    }
   
    .node{
      cursor: pointer;
      stroke-width: 20px;
      stroke-opacity: 0;
      paint-order: stroke;
     
      &.active{
        stroke-opacity: 0.4;
      }
    }

    .relation {
      fill: none;
      stroke: lighten( desaturate( $brand-primary, 80% ), 15% ); //mix(  $brand-primary, $gray-light, 25% ); // lighten( $gray-semi-light, 10% );
      stroke-width: 1px;
      opacity: 0.8;

      &.weaken,
      &.disabled{
        opacity: 0.3;
      }

      &.highlighted,
      &.highlighted.weaken{
        opacity: 1;
        stroke-dasharray: none;
      }
    }

    .relations-cont.line-dashed .relation{
      stroke: $gray-semi-light;
      stroke-linecap: square;
      stroke-dasharray: 3, 3;
    }
    .relations-cont.line-dotted .relation{
      stroke: $gray;
      stroke-linecap: round;
      stroke-dasharray: 0, 3;
    }

    .node-label{
      fill: $gray-dark;
      font-size: 0.857em;
      font-weight: 300;
      letter-spacing: 0;
      text-anchor: middle;
      text-shadow: 0 1px 2px white;

      tspan{
        opacity: 0;

        &.first-line,
        &.ellipsis{
          opacity: 1;
        }
      }

      &.complete{
        tspan{
          opacity: 1;

          &.ellipsis{
            opacity: 0;
          }
        }
      }

      &.weaken,
      &.disabled{
        opacity: 0;
      }

      &.highlighted,
      &.highlighted.weaken,
      &.highlighted.hide{
        display: inline !important;
        fill: $gray-darker;
        opacity: 1;

        tspan{
          opacity: 1;

          &.ellipsis{
            opacity: 0;
          }
        }
      }

      

      &.size-1{
        fill: lighten( $gray-dark, 10% );
        font-size: 0.786em;
      }
      &.size-2{
        fill: lighten( $gray-dark, 5% );
        font-size: 0.857em;
      }
      &.size-3{
        fill: $gray-dark;
        font-size: 0.929em;
      }
      &.size-4{
        fill: darken( $gray-dark, 5% );
        font-size: 1.071em;
      }
    }

    .relations-labels-cont,
    .nodes-labels-cont{
      pointer-events: none; // Allow mouse events in underlaying layers like nodes
    }

    .relation-label{
      fill: lighten( desaturate( $brand-primary, 80% ), 8% ); //lighten( $gray, 10% );
      font-size: 0.714em;
      font-weight: 300;
      //text-shadow: 2px 0 1px white, -2px 0 1px white;
      letter-spacing: 0;
    }

    .arrow-marker{
      fill: white;
      stroke: $gray-semi-light;
      stroke-width: 2px;
    }
  }

  .visualization-graph-menu-navigation,
  .visualization-graph-menu-actions{
    position: absolute;
    top: $grid-gutter-width/2;
  }

  .visualization-graph-menu-navigation{
    left: $grid-gutter-width/2;

    .btn{
      display: block;
      min-width: auto;
      background: transparent;
      border: none;
      border-radius: 12px;
      margin-bottom: 12px;
      padding: 0;
      overflow: hidden;
      min-width: 0;
      @include transition( opacity 0.3s ease-out );
      background-color: white;

      &:hover{
        opacity: 0.7;
      }

      &.zoomin{
        @include retina-sprite( $icon-zoomin-group );
      }
      &.zoomout{
        @include retina-sprite( $icon-zoomout-group );
      }
      &.fullscreen{
        border-radius: 0;
        margin-left: 1px;
        @include retina-sprite( $icon-fullscreen-group );
      }
    }
  }

  .visualization-graph-menu-actions{
    right: $grid-gutter-width/2;
    width: 45px;

    .btn-search{
      position: relative;
      float: right;
      right: -6px;
      padding: 8px 12px;
      background: white;

      > .search-icon{
        display: block;
        @include clearfix;
        @include retina-sprite( $icon-search-group );
      }

      .search-form{
        position: absolute;
        right: 0;
        top: 0;
        width: 180px;
        margin: 0;
        display: none;

        &.focus{
          display: block;
        }

        .form-control{
          padding-right: 5px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          max-width: 145px;
        }
        .btn{
          cursor: auto;
        }
      }

      &:hover{
        .search-form{
          display: block;
        }
      }

      span.twitter-typeahead .tt-menu{
        font-size: 0.857em;
        margin-left: 2+$grid-gutter-width/3;
        width: 156px;
        min-width: 156px;
      }
    }

    .btn-share,
    .btn-configure,
    .btn-story-info{
      float: right;
      background-color: white;
      min-width: 0;
      border-radius: 4px;
      padding: 0 $grid-gutter-width/6;
      margin: 2px 0;
      font-size: 0.857em;
      line-height: 2*$grid-gutter-width/3;
      @include clearfix;

      .title{
        display: none;
        position: relative;
        top: -1px;
        font-weight: normal;
        margin-right: $grid-gutter-width/6;
      }

      &:hover,
      &:focus{
        color: $brand-primary;
        border-color: white;
        background: white;
      }

      &:hover .title{
        display: inline;
      }
    }

    .btn-share .icon-share{
      @include retina-sprite( $icon-share-group );
      display: inline-block;
      position: relative;
      top: 2px;
      right: -1px;
    }

    .btn-configure .icon-configure{
      @include retina-sprite( $icon-configuration-group );
      display: inline-block;
      position: relative;
      top: 2px;
      right: 0px;
    }

    .btn-story-info{
      position: relative;
      top: -2px;
      right: -5px;
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
      border-radius: 20px;
      border: none;
      background: $brand-primary;

      .title{
        position: absolute;
        top: 10px;
        right: 38px;
        margin-right: $grid-gutter-width/3;
      }

      .icon-story-info{
        @include retina-sprite( $icon-story-white-group );
        display: inline-block;
        position: relative;
        top: 3px;
        right: 0;
      }

      &:hover,
      &:focus{
        background: $brand-primary;
      }
    }
  }

  .panel{
    border-radius: 0;
    border-color: $gray-lighter;
    @include box-shadow( 0 0 10px rgba(0, 0, 0, 0.2) );
  }
  
  .panel-heading{
    color: $gray;
    border-radius: 0;
    border: none;
    padding: $grid-gutter-width/2 $grid-gutter-width/3;
    background: $gray-lighter;  // $gray-blue-dark;
    @include clearfix();

    .close{
      border-radius: $grid-gutter-width/2;
      text-indent: -9999px;
      opacity: 1;
      @include retina-sprite( $icon-close-brand-group );
      @include transition( background-color 0.3s ease-out );

      &:hover{
        background-color: white;
      }
    }

    .btn-primary{
      color: $brand-primary;
      background: transparent;
      min-width: auto;
      padding: 0 $grid-gutter-width/2;

      .btn-icon-pencil{
        float: left;
        margin-top: 5px;
        margin-right: $grid-gutter-width/3;
        @include retina-sprite( $icon-pencil-group );
      }

      &:hover{
        background: white;
      }
    }
  }

  .visualization-graph-panel-configuration{
    position: absolute;
    top: 0;
    bottom: 0;
    right: -410px;
    width: 100%;
    margin: 0;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    @include transition( right 0.4s ease-out );

    &.active{
      right: 0;
    }

    .panel-heading h4{
      margin: $grid-gutter-width/6 0;
      float: left;
    }

    .nav-tabs{

      > li{
        width: 33.33%;
        text-transform: uppercase;
        text-align: center;

        > a{
          color: $gray;
          font-size: 0.875em;

          &:hover{
            background: $gray-lighter;
          }
        }

        &.active{
          > a,
          > a:hover,
          > a:focus{
            color: $brand-primary;
            background: white;
          }
        }
      }
    }

    .tab-content > .tab-pane{
      padding-top: $grid-gutter-width/2;

      label{
        display: block;
        margin-bottom: $grid-gutter-width/6;
      }
    }

    .dropdown .dropdown-menu li,
    .dropdown .dropdown-toggle .text{
      text-transform: capitalize;
    }

    .nodes-color-column-container,
    .nodes-size-column-container{
      margin-top: $grid-gutter-width/3;
    }

    .switch-container{
      margin-bottom: $grid-gutter-width/3;
    }
  }

  .visualization-graph-legend{
    display: none;
    position: absolute;
    bottom: $grid-gutter-width/3;
    right: $grid-gutter-width/3;
    margin: 0;
    background: rgba(255,255,255,0.86);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: $gray-lighter;

    ul{
      margin: 0;
      padding: 0;
    }

    li{
      clear: both;
      position: relative;
      list-style: none;
      font-size: 0.786em;
      letter-spacing: 0.01em;
      font-weight: 300;
    }

    .panel-body{
      padding: 0 $grid-gutter-width/3 $grid-gutter-width/3;
    }

    .visualization-graph-legend-title{
      font-size: 0.857em;
      margin-bottom: 8px;
    }

    .visualization-graph-legend-color,
    .visualization-graph-legend-size{
      display: none;
      padding-top: $grid-gutter-width/3
    }

    .visualization-graph-legend-size{
      li{
        margin-bottom: 5px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    .visualization-graph-legend-color{
      li{
        line-height: 12px;
        margin-bottom: 3px;
      }
    }

    .visualization-graph-legend-square{
      display: block;
      float: left;
      width: 12px;
      height: 12px;
      margin-bottom: 3px;
      margin-right: 5px;
    }

    .visualization-graph-legend-circle{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: $gray-light;
    }

    .visualization-graph-legend-size-amount{
      margin-left: 50px;
    }  
  }
}

.visualization-graph-info{
  position: absolute;
  top: 0;
  bottom: 0;
  right: -360px;
  width: 100%;
  max-width: 350px;
  margin: 0;
  color: $gray;
  //background:  $gray-blue;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  @include transition( right 0.4s ease-out );

  &.active{
    right: 0;
  }

  .panel-body{

    .name{
      margin: $grid-gutter-width/6 0 $grid-gutter-width/2;
    }

    .description{
      //font-size: 0.857em;
      font-weight: 300;
      margin-bottom: $grid-gutter-width/2;

      del{
        font-style: none;
        text-decoration: underline;
      }

      strong{
        font-weight: 400;
      }
    }

    .picture{
      margin: $grid-gutter-width/2 0;
    }

    .custom-fields{
      font-weight: 300;

      // Custom Fields Table
      .table{ 
        > tbody{
          border-bottom: 1px solid $table-border-color;

          > tr > td{
            padding-left: 0;
            padding-right: 0;
          }
        }
      }

      strong{
        font-size: 0.857em;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

body.fullscreen{
  overflow: hidden;

  .visualization-graph{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;

    .visualization-graph-menu-navigation .btn.fullscreen{
      @include retina-sprite( $icon-fullscreen-back-group );

    }
  }
}

.visualization-info{
  padding: $grid-gutter-width 0 2*$grid-gutter-width/3;

  .row > div {
    margin-bottom: 5+$grid-gutter-width/2;
    display: inline-block;
    vertical-align: top;
    &:last-child {
      margin-bottom: $grid-gutter-width/3;
      display: block;
    }
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
    @media (max-width: $screen-sm-min - 1) {
      &:last-child {
        button {
          float: none !important;
        }
      }
    }
  }

  strong{
    display: block;
    margin-bottom: $grid-gutter-width/2;
    color: $gray;
    font-size: 1.3em;
    font-weight: 300;
    @media (min-width: $screen-sm-min) {
      font-size: 1.571em;
    }
  }

  .user-label{
    margin-top: -7px;
  }

  .visualization-based-on{
    font-size: 0.786em;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .visualization-status{
    color: $gray;
    font-size: 0.786em;
    text-transform: uppercase;
    margin-top: 1px;
    margin-right: $grid-gutter-width/2;
    margin-bottom: $grid-gutter-width/3;
    line-height: $grid-gutter-width;
  }

  .visualization-status-icon{
    float: left;
    width: $grid-gutter-width;
    height: $grid-gutter-width;
    border-radius: $grid-gutter-width/2;
    margin-right: $grid-gutter-width/3;
    border: 2px solid $brand-primary;
  }

  .visualization-status-icon-sprite{
    display: block;
    position: relative;
    top: 7px;
    left: 4px;
    @include retina-sprite( $icon-table-group );
  }

  .btn{
    .icon-edit,
    .icon-duplicate{
      display: inline-block;
      position: relative;
      top: 4px;
      margin-right: 5px;
    }

    .icon-edit{
      @include retina-sprite( $icon-pencil-white-group );
    }
    &:hover .icon-edit{
      @include retina-sprite( $icon-pencil-group );
    }

    .icon-duplicate{
      @include retina-sprite( $icon-duplicate-white-group );
    }
    &:hover .icon-duplicate{
      @include retina-sprite( $icon-duplicate-group );
    }
  }

  .btn-collapse{
    margin-bottom: $grid-gutter-width/2;

    .collapsed-label-icon,
    .collapsible-label-icon{
      @include retina-sprite( $icon-table-group );
    }

    .collapsed-label-icon,
    .collapsible-label-icon{
      display: inline-block;
      position: relative;
      margin-right: 5px;
      top: 2px;
    }

    &:hover,
    &:focus{
      .collapsed-label-icon,
      .collapsible-label-icon{
        @include retina-sprite( $icon-table-white-group );
      }
    }
  }

  .text-right{
    text-align: left;
    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
  }
}

.visualization-description{
  background: $gray-lighter;
  padding-bottom: $grid-gutter-width;

  h3{
    float: left;
    color: $gray;
    font-size: 1.571em;
    font-weight: 300;
    margin: $grid-gutter-width 0 2*$grid-gutter-width/3;
  }

  .btn-edit-circle{
    margin-top: $grid-gutter-width - 2px;
  }

  .visualization-description-content{
    clear: both;
    color: $gray;
    font-weight: 300;

    strong{
      font-weight: normal;
    }

    del{
      font-style: normal;
      text-decoration: underline;
    }
  }

  .visualization-description-buttons{
    margin-top: 25px + (2*$grid-gutter-width);

    .btn-invert{
      position: relative;
      width: 100%;
      text-align: left;
      text-indent: 30px;
      background: transparent;

      span{
        position: absolute;
        left: 15px;
      }

      &:hover{
        background: $brand-primary;
      }
    }

    .btn-icon-story{
      top: 5px;
      @include retina-sprite( $icon-story-brand-group );

    }
    .btn-icon-visualization{
      top: 5px;
      @include retina-sprite( $icon-visualization-brand-group );

    }
    .btn-icon-pencil{
      top: 5px;
      @include retina-sprite( $icon-pencil-group );

    }
    .btn-icon-duplicate{
      top: 6px;
      @include retina-sprite( $icon-duplicate-group );

    }
  }
}

.visualization-table{
  width: 100%;
  background: $body-bg;
  //@include box-shadow( 0px 0 12px 0px rgba(0,0,0,0.6) );

  &.affix{
    position: fixed;
    top: 74px;
  }

  .visualization-table-scrollbar{
    height: 40px;
    color: white;
    background: $brand-yellow;
    text-align: center;

    p{
      font-size: 0.857em;
      line-height: 42px;
      text-transform: uppercase;
    }

    a{
      color: white;
    }
  }

  .visualization-table-header{
    margin-top: $grid-gutter-width/2;

    .btn.pull-right {
      margin-bottom: $grid-gutter-width/3;
    }

    .nav-tabs{
      border: none;

      > li{
        margin-right: $grid-gutter-width/3;

        > a{
          font-size: 0.857em;
          text-transform: uppercase;
          border: 2px solid $brand-primary;
          border-bottom: none;
          border-radius: 6px 6px 0 0;
          min-width: 120px;
          text-align: center;
          padding: 12px;

          &:hover{
            color: $brand-primary;
            background: mix( $gray-blue-light, white, 50% );
            @include transition( background 0.3s ease-out );
          }
        }
      }

      > li.active > a,
      > li.active > a:hover,
      > li.active > a:focus{
        color: $brand-primary;
        background: $gray-blue-light;
        border-color: $gray-blue-light;
      }
    }
  }

  .tab-content{
    clear: both;
    float: none;
    position: relative;
    margin-bottom: $grid-gutter-width;

    .btn-toolbar{
      background: $gray-blue-light;
      padding: $grid-gutter-width/3;
      margin:0;
      .btn {
        float: none;
        display: inline-block;
        vertical-align: bottom;
        margin: $grid-gutter-width/6;
      }
    }

    /*
    .add-custom-column{
      display: block;
      position: absolute;
      top: 6px;
      right: 6px;
      @include retina-sprite( $icon-plus-circle-nofill-group );
      background-color: $gray-blue-light;
      border-radius: 11px;
      z-index: 900;

      &:hover{
        background-color: white;
      }
    }
    */
    @media (min-width: $screen-sm-min) {
      .btn-toolbar {
        position: absolute;
        top: -44px;
        right: 0;
        background: none;
        padding: 0;
        .btn {
          margin:0;
        }
      }
    }
  }

  .handsontable{

    @mixin handsontable-icon($icon, $margin-top: 0px) {
      display: block;
      margin-top: $margin-top;
      cursor: pointer;
      text-indent: -9999px;
      @include retina-sprite( $icon );
    }

    .add-custom-column{
      float: right;
      display: block;
      margin-top: $grid-gutter-width/6;
      margin-right: $grid-gutter-width/3;
      @include retina-sprite( $icon-plus-circle-nofill-group );
    }

    .icon-trash{
      @include handsontable-icon( $icon-trash-group, 4px );
      @include transition( opacity 0.3s ease-out );

      &:hover{
        opacity: 0.7;
      }
    }

    .icon-duplicate{
      @include handsontable-icon( $icon-duplicate-group, 4px );
      @include transition( opacity 0.3s ease-out );

      &:hover{
        opacity: 0.7;
      }
    }

    .icon-plus{
      @include handsontable-icon( $icon-plus-circle-nofill-group, 2px );
      opacity: 0.5;
      @include transition( opacity 0.3s ease-out );

      &:hover{
        opacity: 0.7;
      }
    }

    .icon-table{
      @include handsontable-icon( $icon-table-circle-group, 2px );
      @include transition( opacity 0.3s ease-out );

      &:hover{
        opacity: 0.7;
      }
    }

    .icon-visible{
      @include handsontable-icon( $icon-preview-group, 5px );
      opacity: 0.3;
      @include retina-sprite( $icon-preview-group );

      &.active{
        opacity: 1;
      }
    }

    .icon-direction{
      @include handsontable-icon( $icon-no-direction-group, 2px );
      opacity: 0.3;

      &.active{
        opacity: 1;
        @include retina-sprite( $icon-direction-group );
      }
    }

    .icon-image{
      @include handsontable-icon( $icon-image-group, 2px );
      opacity: 0.3;

      &.active{
        opacity: 1;
      }
    }
  }

  .table{
    color: $gray;
    font-size: 0.857em;

    > thead > tr > th,
    > thead > tr > td,
    > tbody > tr > th,
    > tbody > tr > td,
    > tfoot > tr > th,
    > tfoot > tr > td{
      padding: $grid-gutter-width/3;
    }

    > thead > tr > th{
      color: $gray;
      text-transform: uppercase;
      font-weight: normal;
      background-color: $gray-blue-light;
      border: none;
    }
    > tbody{
      font-weight: 300;
    }
  }
}

// Share & Embed Panel
#visualization-share {

  .panel-heading{
    background: none;
  }

  h4{
    font-size: 1.4em;
    line-height: 1.375em;
    font-weight: 300;
    margin: 0 0 $grid-gutter-width/2;
  }

  .social-networks-btns{
    width: 138px;
    margin: $grid-gutter-width/2 auto $grid-gutter-width;

    li{
      margin: 0 7px;

      a{
        border-color: white;

        &.twitter .icon{
          @include retina-sprite( $social-icon-twitter-group );

        }
        &.facebook .icon{
          @include retina-sprite( $social-icon-facebook-group );

        }

        &:hover{
          background: mix($brand-primary, white, 75%);
        }
      }
    }
  }

  .embed-form{
    label{
      margin-bottom: $grid-gutter-width/6;
    }
    .checkbox label{
      text-transform: uppercase;
    }
  }

  .form-control{
    border: none;
  }

  input[type="number"]{
    width: 80px;
    text-align: center;
  }

  .btn-primary{
    border-color: white;
    margin: $grid-gutter-width auto;
  }
  @media (min-width: $screen-sm-min) {
    h4 {
      font-size: 1.714em;
    }
  }
}

.visualization-related-items{
  padding: $grid-gutter-width 0 1.5*$grid-gutter-width;
  border-bottom: 1px solid $gray-lighter;
  background: $gray-lighter;

  .section-title{
    margin-top: 0;
  }
}

#visualization-table-view{
  position: relative;
  background: $gray-lighter;
  padding-top: $grid-gutter-width/3;

  table{
    border-bottom: 1px solid $gray-light;
    background: white;
  }

  .icon-visible{
    display: block;
    text-indent: -9999px;
    opacity: 0.3;
    @include retina-sprite( $icon-preview-group );

    &.active{
      opacity: 1;
    }
  }

  // .title{
  //   padding-bottom: 10px;

  //   .close{
  //     position: absolute;
  //     top: 20px;
  //     right: 15px;
  //   }
  // }
  @media (min-width: $screen-sm-min) {
    padding-top: $grid-gutter-width;
  }
}

#visualization-graph-panel-configuration-tab-content{

  .configuration-label{
    font-size: 0.875em;
    text-transform: uppercase;
    line-height: 32px;
    margin-bottom: 0;
  }

  hr{
    margin-top: $grid-gutter-width/2;
    margin-bottom: $grid-gutter-width/2;
  }

  #nodes-color{

    .color-solid p{
      cursor: auto;
      display: block;
    }

    .color-solid-selector{
      padding: 0;
      width: 100%;
      margin: $grid-gutter-width/3 0 0;
      display: block;

      li{
        display: inline-block;
        list-style: none;
        width: 2*$grid-gutter-width/3;
        height: 2 + 2*$grid-gutter-width/3;
        border: none;
        cursor: pointer;

        &.color-1{
          background: $node-color-1;
        }
        &.color-2{
          background: $node-color-2;
        }
        &.color-3{
          background: $node-color-3;
        }
        &.color-4{
          background: $node-color-4;
        }
        &.color-5{
          background: $node-color-5;
        }
        &.color-6{
          background: $node-color-7;
        }
        &.color-7{
          background: $node-color-9;
        }
        &.color-8{
          background: $node-color-10;
        }

        &.active{
          outline: 2px solid $gray;
        }

        &:hover{
          outline: 1px solid white;
        }
      }
    }

    .color-qualitative,
    .color-quantitative{
      background-repeat: no-repeat;
      background-position: 8px 28px;
      padding-bottom: 36px;
    }
    .color-qualitative{
      background-image: url('/images/color-scale-qualitative.png');
    }
    .color-quantitative{
      background-image: url('/images/color-scale-quantitative.png');
    }
  }

  #nodes-size{

    li{
      padding-left: 45px;
      height: 40px;

      &:before{
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        display: inline-block;
        width: 30px;
        height: 30px;
        overflow: hidden;
        background: url('/images/nodes-size-sprite.png') no-repeat 0 0 transparent;
      }

      &.size-m:before{
        background-position: 0 -30px;
      }
      &.size-l:before{
        background-position: 0 -2*30px;
      }
      &.size-xl:before{
        background-position: 0 -3*30px;
      }
      &.size-relations:before{
        background-position: 0 -4*30px;
      }
    }
  }
}


#add-custom-column-form{
  margin-bottom: 2*$grid-gutter-width/3;
}

// Visualization Edit
body.visualizations.show{
  .visualization-table-relations{
    display: none;
  }
}
body.show{
  // Setup scroll for visualization table view
  .visualization-table .tab-content .tab-pane{
    overflow-x: auto;
    overflow-y: auto;
    max-height: 480px;
  }
}

// Visualization Edit
body.visualizations.edit,
body.pages.demo{

  .visualization-graph{
    position: absolute;
    top: 86px;
    z-index: 90;

    &.affix{
      position: fixed;
      top: -86px;
    }
  }
  &.fullscreen {
    overflow: hidden;

    .visualization-header {
      display: none;
    }

    .visualization-graph{
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 999;
      &.affix {
        top: 0;
      }
    }
  }

  .visualization-graph-info{
    bottom: $grid-gutter-width/6;
  }

  .visualization-graph-container.affix{
    position: fixed;
    top: 0;
  }

  .visualization-table{
    position: relative;
    top: 700px;
    overflow: hidden;
    z-index: 99;
  }

  .footer{
    display: none;
  }
}

// Date Selector
.date-type-selector{
  height: 2*$grid-gutter-width;

  .radio{
    margin-right: $grid-gutter-width/3;
    label{
      text-transform: uppercase;
    }
  }
}
.date-forms{
  .form-group{
    margin-bottom: 2*$grid-gutter-width/3;
  }
}

// Visualization New
.visualization-new{
  margin-bottom: 2*$grid-gutter-width;

  > .row > .col-sm-6{
    text-align: center;
  }

  hr{
    margin-bottom: $grid-gutter-width;
  }

  .form-default{
    margin-bottom: 0;
  }

  .btn-circle-lg .btn{
    margin: $grid-gutter-width/2 0;
  }

  .template-advice{
    p{
      font-size: 0.875em;
      margin: $grid-gutter-width/2 0 $grid-gutter-width;
    }
    .btn{
      margin: 0 $grid-gutter-width/4;
    }
  }
}

#visualization_name{
  margin-bottom: $grid-gutter-width;
}

#table-image-modal{
  #upload-description{
    padding-bottom: 2*$grid-gutter-width/3;
  }
  #node-image-form{
    margin-bottom: 0;
  }
  #upload-error-msg{
    padding: $grid-gutter-width/3 $grid-gutter-width/2;
    font-size: 0.875em;
    margin-bottom: 0;
  }
  .actions{
    margin-bottom: 2*$grid-gutter-width/3;
  }
}

#table-add-column-nodes-modal,
#table-add-column-relations-modal{
  .modal-body{
    form{
      margin-bottom: 2*$grid-gutter-width/3;

      .btn-primary{
        margin-top: $grid-gutter-width/6;
      }
    }
  }
}

// Network Analysis Modal
#network-analysis-modal{

  .modal-body{
    padding: 2*$grid-gutter-width/3 $grid-gutter-width $grid-gutter-width/3;
  }

  .modal-content.loading{
    background: url(/images/loader.gif) no-repeat center center white;
  }

  .modal-title{
    color: $gray;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.75em;
    text-transform: uppercase;
  }

  .modal-description{
    color: $gray;
    font-weight: 300;
    margin-bottom: $grid-gutter-width/2;
  }

  .icon-question{
    display: inline-block;
    position: relative;
    top: 4px;
    left: 0;
    @include retina-sprite( $icon-question-group );
    cursor: pointer;
  }

  label{
    padding-right: $grid-gutter-width/6;
    margin-bottom: 0;
    cursor: pointer;
  }

  .bootstrap-switch{
    margin-bottom: 2*$grid-gutter-width/3;
  }

  .alert{
    font-size: 0.857em;
    font-weight: 400;
    padding: $grid-gutter-width/3 $grid-gutter-width/2;
    margin: 2*$grid-gutter-width/3 0 $grid-gutter-width/6;
  }
}

// Demo Popover
.popover-demo{
  z-index: 1040;
  
  .popover-title{
    color: $brand-primary;
    font-size: 18px;
    font-weight: 400;
    background: white;
  }
}