.bundle
.byebug_history
.dockerignore
.DS_Store
.env
.git
.gitignore
.idea
.node-version
.python-version
.ruby-version
app/frontend/javascripts/dist/d3.js
app/frontend/javascripts/dist/d3.js.map
Dockerfile
docker-compose.yml
log/
public/assets/
public/webpack/
public/uploads/
node_modules/
tmp/
vendor/bundle
vendor/cache
