.container-fluid
  %h3 Datasets list
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th Visualization
        %th Nodes
        %th Relations
    %tbody
      - @datasets.each do |dataset|
        %tr
          %td= dataset.id
          - unless dataset.visualization.nil?
            %td= dataset.visualization.name
          - else
            %td
          - unless dataset.nodes.nil?
            %td= dataset.nodes.count
          - else
            %td
          - unless dataset.relations.nil?
            %td= dataset.relations.count
          - else
            %td
