#contact.collapse
  .well.container-fluid
    .row
      .col-sm-4.border
        %h3 Contact us
        %p If you need help or have any inquires, you can contact us using our different channels
      .col-sm-4
        %row
          .col-sm-5.border
            %p
              %span.icon-email
              %a{:href => "mailto:hello@onodo.org"}
                hello@onodo.org
          .col-sm-7.border
            %p
              %span.icon-maps
              %strong Fundación Ciudadana Civio
              %br
              C/ Sebastián Elcano 32
              %br
              28003 Madrid
            %p
              %a{href: '#', title: 'View in Google Maps', target: '_blank'} 
                View in Google Maps
      .col-sm-4
        %ul.social-links
          %li
            %a.twitter{:href => '#'}
              %span.icon
                Twitter
          %li
            %a.facebook{:href => '#'}
              %span.icon
                Facebook
        
    %a.close{:href => "#contact", "data-toggle" => "collapse", "aria-expanded" => "true", "aria-controls" => "contact"}
      %span{"aria-hidden" => "true"}
        Close