#contact.collapse
  .well.container-fluid
    .row
      %h3= t '.title'
      %p= t '.text'
      .contact-item
        %p
          %span.icon-email
          %a{href: "mailto:contacto@civio.es"}
            contacto@civio.es
      .contact-item
        %p
          %span.icon-maps
          %a{href: 'https://civio.es', title: t('common.civio_foundation'), target: '_blank'}
            civio.es
      .contact-item
        %ul.social-links
          %li
            %a.twitter{href: 'https://twitter.com/Onodo_', title: 'Twitter Onodo', target: '_blnk'}
              %span.icon
                Twitter
          / %li
          /   %a.facebook{href: '#'}
          /     %span.icon
          /       Facebook

    %a.close{:href => "#contact", "data-toggle" => "collapse", "aria-expanded" => "true", "aria-controls" => "contact"}
      %span{"aria-hidden" => "true"}
        = t 'common.close'
