#contact.collapse
  .well.container-fluid
    .row
      .col-sm-4.border
        %h3= t '.title'
        %p= t '.text'
      .col-sm-5
        .row
          .col-sm-6.border
            %p
              %span.icon-email
              %a{:href => "mailto:contacto@civio.es"}
                contacto@civio.es
          .col-sm-6.border
            %p
              %span.icon-maps
              %strong Fundación Ciudadana Civio
              %br
              C/ Sebastián Elcano 32
              %br
              28003 Madrid
            %p
              %a{href: 'https://goo.gl/maps/mYJ1FtPNRd22', title: t('.view_in_google_maps'), target: '_blank'}
                = t '.view_in_google_maps'
      .col-sm-3
        %ul.social-links
          %li
            %a.twitter{href: 'https://twitter.com/Onodo_', title: 'Twitter Onodo', target: '_blnk'}
              %span.icon
                Twitter
          / %li
          /   %a.facebook{href: '#'}
          /     %span.icon
          /       Facebook

    %a.close{:href => "#contact", "data-toggle" => "collapse", "aria-expanded" => "true", "aria-controls" => "contact"}
      %span{"aria-hidden" => "true"}
        = t 'common.close'
