#contact.collapse
  .well.container-fluid
    .row
      .col-sm-4.border
        %h3 Contact us
        %p If you need help or have any inquires, you can contact us using our different channels
      .col-sm-4
        %row
          .col-sm-5.border
            %p
              %a{:href => "mailto:hello@onodo.org"}
                hello@onodo.org
          .col-sm-7.border
            %p
              %strong Fundación Ciudadana Civio
              C/ Sebastián Elcano 32
              28003 Madrid
            %p
              %a{:href => "#", "title" => "View in Google Maps"} 
              View in Google Maps
      .col-sm-4
        %ul.social-links
          %li
            %a.twitter
              Twitter
          %li
            %a.facebook
              Facebook
        
    %a.close{:href => "#contact", "data-toggle" => "collapse", "aria-expanded" => "true", "aria-controls" => "contact"}
      %span{"aria-hidden" => "true"}
        Close