%footer.footer
  .container
    .row
      %section.col-sm-4
        %p 
          © 2015 | Onodo is a proyect by Fundación Ciudadana Civio
        %a.logo-icon{href: "/", title: "Onodo"}
          Onodo 
        %a.civio-icon{href: "http://www.civio.es/", target: "_blank", title: "Fundación Ciudadana Civio"}
          Civio
      %section.bordered.col-sm-4
        .row
          %ul.col-sm-6
            %li
              %a{href: "/explore"}
                Explore
            %li
              %a{href: "/gallery"}
                Gallery
            %li
              %a{href: "#contact", "data-toggle" => "collapse", "aria-expanded" => "true", "aria-controls" => "contact"}
                Contact
          %ul.col-sm-6
            %li
              = link_to "Login", new_user_session_path
            %li
              = link_to "Sign up", new_user_registration_path
      %section.col-sm-4
        .social-icons
          %p
            %strong
              Follow us:
          %ul
            %li
              %a.twitter{href: 'https://twitter.com/Onodo_', title: 'Twitter Onodo', target: '_blank'}
                Twitter
            / %li
            /   %a.facebook{href: '#'}
            /     Facebook
        %form#mc-embedded-subscribe-form.form-inline{name: "mc-embedded-subscribe-form", method: "post", action: "http://civio.us4.list-manage1.com/subscribe/post?u=9416fe6b76f2c3f985c1f8e0f&amp;id=9d5b4c8cda", target: "_blank"}
          .form-group 
            %label{for: "mce-EMAIL"}
              Subscribe:
            %input#mce-EMAIL.email{type: "email", required: "require", placeholder: "Email", name: "EMAIL"}
            %button.btn.btn-sm.btn-default{type: "submit"}
              Send
        %p.footer-info
          %span.eu-icon
          This project has received funds from the 7th European Union Programme for research, technology development and demonstration, under the grant num. 61133