%footer.footer
  .container-fluid
    %p © 2015 | Onodo is a proyect by
    %a.civio-logo{:href => "http://civio.es", :target => "_blank", :title => "Fundación Ciudadana Civio"} Fundación Ciudadana Civio