.visualization-graph-legend.panel.panel-default
  //.panel-heading
  //  Legend
  .panel-body
    .visualization-graph-legend-color
      %p.visualization-graph-legend-title
        Node type
      %ul
    .visualization-graph-legend-size
      %p.visualization-graph-legend-title
        Relevance
      %ul