.visualization-graph-panel-configuration.panel.panel-default
  .panel-heading
    %h4 Settings
    %button.close{type: "button", "aria-label" => "Close"}
  .panel-body
    %ul#visualization-graph-panel-configuration-tabs.nav.nav-tabs{ role: "tablist" }
      %li.active{ role: "presentation" }
        %a#nodes-tab{ href: "#nodes", role: "tab", "data-toggle": "tab" }
          Nodes
      %li{ role: "presentation" }
        %a#relations-tab{ href: "#relations", role: "tab", "data-toggle": "tab" }
          Relations
      %li{ role: "presentation" }
        %a#advanced-tab{ href: "#advanced", role: "tab", "data-toggle": "tab" }
          Advanced
    #visualization-graph-panel-configuration-tab-content.tab-content
      #nodes.tab-pane.fade.in.active{ role: "tabpanel" }
        .form-group
          %label
            Nodes Size
          %select#nodes-size.form-control
            %option{ value: 6 }
              Small
            %option{ value: 11 }
              Medium
            %option{ value: 14 }
              Large
            %option{ value: 18 }
              Extra Large
            %option{ value: 1 }
              Based on number of relations
        .checkbox
          %label{ :for => "hideLabels" }
            = check_box_tag :hideLabels
            Hide Node Labels
        .checkbox
          %label{ :for => "hideNoRelations" }
            = check_box_tag :hideNoRelations
            Hide Nodes without relations
      #relations.tab-pane.fade{ role: "tabpanel" }
        .form-group
          %label{ for: "curvature"}
            Relations curvature
          %input#curvature.form-control.slider{name: "curvature", type: "text", "data-slider-min": "0.5", "data-slider-max": "10", "data-slider-step": "0.001", "data-slider-scale": "logarithmic"}
      #advanced.tab-pane.fade{ role: "tabpanel" }
        -# Attributes from https://github.com/mbostock/d3/wiki/Force-Layout
        .form-group
          %label{ for: "linkdistante"}
            Link Distance
          %input#linkdistance.form-control.slider{name: "linkDistance", type: "text", "data-slider-min": "10", "data-slider-max": "200"}
        .form-group
          %label{ for: "linkstrengh"}
            Link Strength
          %input#linkstrength.form-control.slider{name: "linkStrength", type: "text", "data-slider-min": "0", "data-slider-max": "1", "data-slider-step": "0.01"}
        .form-group
          %label{ for: "friction"}
            Friction
          %input#friction.form-control.slider{name: "friction", type: "text", "data-slider-min": "0", "data-slider-max": "1", "data-slider-step": "0.01"}
        .form-group
          %label{ for: "charge"}
            Charge
          %input#charge.form-control.slider{name: "charge", type: "text", "data-slider-min": "-200", "data-slider-max": "200"}
        .form-group
          %label{ for: "theta"}
            Theta
          %input#theta.form-control.slider{name: "theta", type: "text", "data-slider-min": "0", "data-slider-max": "1", "data-slider-step": "0.01"}
        .form-group
          %label{ for: "gravity"}
            Gravity
          %input#gravity.form-control.slider{name: "gravity", type: "text", "data-slider-min": "0", "data-slider-max": "1", "data-slider-step": "0.01"}
        %button#reset-defaults.btn.tbn-sm.btn-primary.btn-invert
          Reset defaults

