.visualization-graph-menu-actions
  .btn-search
    %span.search-icon
    %form.form-inline.search-form
      .form-group
        %input.form-control{type: "text", placeholder: "SEARCH NODE" }
      %button.btn.btn-default{type: "button"}
  %button.btn.btn-default.btn-transparent.btn-share{type: "button"}
    %span.title
      = t '.share'
    %span.icon-share
  - if defined? story
    %button.btn.btn-default.btn-transparent.btn-story-info{type: "button"}
      %span.title
        = t '.story_index'
      %span.icon-story-info
  - elsif defined? edit
    %button.btn.btn-default.btn-transparent.btn-configure{type: "button"}
      %span.title
        = t '.settings'
      %span.icon-configure
