#table-image-modal.table-edit-modal.modal.fade{ tabindex: "-1", role: "dialog"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h4.modal-title
          = t '.node_image'
        %button.close{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
      .modal-body
