.item-preview
  .container-fluid
    .row.no-gutter
      .item-picture.col-sm-5
        %p.item-type Visualization
      .item-info.col-sm-7
        %a{:href => visualization_path(visualization), :title => visualization.name} 
          %h4= visualization.name
        - if visualization.description?
          %p= visualization.description
        %hr
        %p 
          %i.glyphicon.glyphicon-user
          The Buffalo Daily