.visualization-graph-panel-configuration.panel.panel-default
  .panel-heading
    %h4 Settings
    %button.close{type: "button", "aria-label" => "Close"}
  .panel-body
    %ul#visualization-graph-panel-configuration-tabs.nav.nav-tabs{ role: "tablist" }
      %li.active{ role: "presentation" }
        %a#nodes-tab{ href: "#nodes", role: "tab", "data-toggle": "tab" }
          Nodes
      %li{ role: "presentation" }
        %a#relations-tab{ href: "#relations", role: "tab", "data-toggle": "tab" }
          Relations
      %li{ role: "presentation" }
        %a#advanced-tab{ href: "#advanced", role: "tab", "data-toggle": "tab" }
          Advanced
    #visualization-graph-panel-configuration-tab-content.tab-content
      #nodes.tab-pane.fade.in.active{ role: "tabpanel" }
        .row
          .col-sm-5
            %p.configuration-label
              Nodes Color
          .col-sm-7.text-right
            #nodes-color.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                %span.caret
              %ul.dropdown-menu
                %li.color-solid
                  %p
                    Solid
                  %ul.color-solid-selector
                    %li.color.color-1{ 'data-value': 'solid-1' }
                    %li.color.color-2{ 'data-value': 'solid-2' }
                    %li.color.color-3{ 'data-value': 'solid-3' }
                    %li.color.color-4{ 'data-value': 'solid-4' }
                    %li.color.color-5{ 'data-value': 'solid-5' }
                    %li.color.color-6{ 'data-value': 'solid-7' }
                    %li.color.color-7{ 'data-value': 'solid-9' }
                    %li.color.color-8{ 'data-value': 'solid-10' }
                %li.color-quantitative{ 'data-value': 'quantitative' }
                  %p
                    Quantitative
                %li.color-qualitative{ 'data-value': 'qualitative' }
                  %p
                    Qualitative
        .row.nodes-color-column-container.hide
          .col-sm-5
            %p.configuration-label
              Based on column
          .col-sm-7.text-right
            #nodes-color-column.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                %span.caret
              %ul.dropdown-menu
                %li{ 'data-value': 'type' }
                  %p
                    Type
        %hr
        .row
          .col-sm-5
            %p.configuration-label
              Nodes Size
          .col-sm-7.text-right
            #nodes-size.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                %span.caret
              %ul.dropdown-menu
                %li.size-s{ 'data-value': 6 }
                  %p
                    Small
                %li.size-m{ 'data-value': 11 }
                  %p
                    Medium
                %li.size-l{ 'data-value': 14 }
                  %p
                    Large
                %li.size-xl{ 'data-value': 18 }
                  %p
                    Extra Large
                %li.size-relations{ 'data-value': 1 }
                  %p
                    Based on number of relations
        %hr
        .row
          .col-sm-6
            %p.configuration-label.configuration-switch-label
              Show Nodes Label
          .col-sm-6.text-right
            = check_box_tag :showNodesLabel, 1, false, data: { "size" => "small" }
        %hr
        .row
          .col-sm-6
            %p.configuration-label.configuration-switch-label
              Show Nodes Image
          .col-sm-6.text-right
            = check_box_tag :showNodesImage, 1, false, data: { "size" => "small" }
      #relations.tab-pane.fade{ role: "tabpanel" }
        .form-group
          %label{ for: "curvature"}
            Relations curvature
          %input#curvature.form-control.slider{name: "curvature", type: "text", "data-slider-min": "0.5", "data-slider-max": "10", "data-slider-step": "0.001", "data-slider-scale": "logarithmic"}
        .row
          .col-sm-6
            %p.configuration-label
              Relations line style
          .col-sm-6.text-right
            %select#relations-line-style.form-control
              %option{ value: 0 }
                Solid
              %option{ value: 1 }
                Dashed
              %option{ value: 2 }
                Dotted
      #advanced.tab-pane.fade{ role: "tabpanel" }
        -# Attributes from https://github.com/mbostock/d3/wiki/Force-Layout
        .form-group
          %label{ for: "linkdistante"}
            Link Distance
          %input#linkdistance.form-control.slider{name: "linkDistance", type: "text", "data-slider-min": "10", "data-slider-max": "200"}
        .form-group
          %label{ for: "linkstrengh"}
            Link Strength
          %input#linkstrength.form-control.slider{name: "linkStrength", type: "text", "data-slider-min": "-60", "data-slider-max": "-10"}
        %button#reset-defaults.btn.tbn-sm.btn-primary.btn-invert
          Reset defaults

