.items-preview-header
  - unless defined? hide_selector
    - if show_visualizations
      %a.btn.btn-default.btn-transparent{ href: "#{params[:controller] == 'pages' ? '/explore/stories' : params[:action] =~ /dashboard/ ? stories_dashboard_path : stories_users_path(@user)}" }
        Stories
      .btn.btn-default.btn-primary
        Visualizations
    - else
      .btn.btn-default.btn-primary
        Stories
      %a.btn.btn-default.btn-transparent{ href: "#{params[:controller] == 'pages' ? '/explore/visualizations' : params[:action] =~ /dashboard/ ? visualizations_dashboard_path : visualizations_users_path(@user)}" }
        Visualizations  
  / .search-input.pull-right
  /   .input-group
  /     %input.form-control{:type => "text"}
  /     %span.input-group-btn
  /       %button.btn.btn-default{:type => "button"}
  /         %span.search-icon
  / .items-orderby.pull-right
  /   Order by
  /   %a.active{href: '#', title: 'The popularity is based on the number of embeded & social shares', data: {toggle: 'tooltip', placement: 'bottom'}}
  /     Popularity
  /   %a{href: '#', title: 'Most recent items first', data: {toggle: 'tooltip', placement: 'bottom'}}
  /     Most recent