.visualization-graph-menu-navigation
  %button.btn.zoomin{ type: "button", title: t('.zoom_in'), data: {toggle: "tooltip", placement: "right"} }
  %button.btn.zoomout{type: "button", title: t('.zoom_out'), data: {toggle: "tooltip", placement: "right"} }
  %button.btn.fullscreen{type: "button", title: t('.fullscreen'), data: {toggle: "tooltip", placement: "right"} }