.visualization-graph-menu-actions
  .btn-search
    %span.search-icon
    .search-input
      .input-group
        %input.form-control{type: "text", placeholder: "SEARCH NODE" }
        %span.input-group-btn
          %button.btn.btn-default{type: "button"}
            %span.search-icon
  %button.btn.btn-default.btn-transparent.btn-share{type: "button"}
    %span.title
      Share it
    %span.icon-share
  - if defined? edit
    %button.btn.btn-default.btn-transparent.btn-configure{type: "button"}
      %span.title
        Settings
      %span.icon-configure