.visualization-graph-info.panel.panel-default
  .panel-heading
    - if defined? edit
      %a.btn.btn-default.btn-primary
        %span.btn-icon-pencil
        = t 'common.edit'
    %button.close{type: "button", "aria-label" => t('common.close')}
      %span{"aria-hidden" => "true"}
        &times
  .panel-body
    // Here we insert visualization-graph-info handlebars template
