/ data offset top: 74 (viz-graph-header) + 500 (viz-graph)
.visualization-table.container-fluid
  
  .visualization-table-scrollbar.row
    %p 
      %a{ href: "#" }
        Scroll to Edit
    %i.icon-arrow-down

  .visualization-table-header
    %ul#visualization-table-selector.nav.nav-tabs.pull-left{ role: "tablist" }
      %li.active{ role: "presentation" }
        %a{ href: "#nodes", role: "tab", "data-toogle": "tab" } Nodes
      %li{ role: "presentation" }
        %a{ href: "#relations", role: "tab", "data-toogle": "tab" } Relationships
   
  .tab-content
    #nodes.tab-pane.active{ role: "tabpanel" }
      .btn-toolbar{ role: "group" }
        %a#visualization-add-node-btn.btn.btn-primary{ href: "#" }
          Add Node
        %button.btn.btn-primary.btn-invert{ type: "button" }
          Network Analysis
      .visualization-table-nodes
    #relations.tab-pane{ role: "tabpanel" }
      .btn-toolbar{ role: "group" }
        %a#visualization-add-relation-btn.btn.btn-primary{ href: "#" }
          Add Relationship
      .visualization-table-relations

/  = react_component 'Nodes', { data: @nodes }