.visualization-graph-legend.panel.panel-default
  //.panel-heading
  //  Legend
  .panel-body
    .visualization-graph-legend-size
      %p.visualization-graph-legend-title
        Relevance
      %ul
        %li.visualization-graph-legend-lg
          %span.visualization-graph-legend-circle
          %span.visualization-graph-legend-size-amount
        %li.visualization-graph-legend-md
          %span.visualization-graph-legend-circle
          %span.visualization-graph-legend-size-amount
        %li.visualization-graph-legend-sm
          %span.visualization-graph-legend-circle
          %span.visualization-graph-legend-size-amount
    .visualization-graph-legend-color
      %p.visualization-graph-legend-title
        Node type
      %ul