#table-add-column-nodes-modal.table-edit-modal.modal.fade{ tabindex: "-1", role: "dialog"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h4.modal-title
          Add Custom Column To Nodes
        %button.close{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
      .modal-body
        %form#add-custom-column-nodes-form
          .form-group
            %label
              Custom Column Name
            %input#add-custom-column-name.form-control{type: "text"}
          .form-group
            %label
              Custom Column Type
            %select.form-control#add-custom-column-type
              %option{ value: 'string' }
                String
              %option{ value: 'number' }
                Number
              %option{ value: 'boolean' }
                Boolean
          %button.btn.btn-primary{ type: "submit" }
            Add Column

