.story-info.panel.panel-default.active
  .panel-heading
    Story Index
    %button.close{type: "button", "aria-label" => "Close"}
      %span{"aria-hidden" => "true"}
        &times
  .panel-body
    - if @story.chapters
      %ul.chapters-list
        - @story.chapters.each_with_index do |chapter, index|
          %li
            %span.index
              = index
            %span.title
              = chapter.name
    - if defined? edit
      %a.btn.btn-default.btn-primary{ href: new_story_chapter_path(@story) }
        Add Chapter