.user-label
  - if defined? align and align == 'left'
    -# TODO!!! Add user picture default
    .user-picture
      %img{ src: user.avatar_url(:small)}
    %span.user-name
      = user.name
  - else
    %span.user-name
      = user.name
    -# TODO!!! Add user picture default
    .user-picture
      %img{ src: user.avatar_url(:small) }
