.user-label
  - if defined? align and align == 'left'
    -# TODO!!! Add user picture default
    .user-picture
      %img{ src: (defined? user.picture) ? user.picture : "http://lorempixel.com/30/30/" }
    %span.user-name
      = user.name
  - else
    %span.user-name
      = user.name
    -# TODO!!! Add user picture default
    .user-picture
      %img{ src: (defined? user.picture) ? user.picture : "http://lorempixel.com/30/30/" }