.visualization-info
  .container
    .row
      .col-sm-4
        %strong Created by
        %p
          %i.glyphicon.glyphicon-user
          = @visualization.author.name
      .col-sm-4
        %strong Status
        - if @visualization.published?
          %p.visualization-status.public Public
        - else
          %p.visualization-status.draft Draft
      .col-sm-4
        %button.btn.btn-default.btn-collapse.collapsed.pull-right{ type: "button", "aria-controls" => "visualization-table-view", data: { toggle: "collapse", target: "#visualization-table-view" } }
          %span.collapsible-label
            %i.glyphicon.glyphicon-plus
            View Data Table
          %span.collapsed-label
            %i.glyphicon.glyphicon-minus
            Hide Data Table

  - if @visualization.description?
    %hr
    .container
      .row
        .col-sm-8
          %strong Description
          %p= @visualization.description