.visualization-info
  .container
    .row
      .col-sm-4
        %strong Created by
        = render 'partials/user_label', :user => @visualization.author, :align => 'left'
      .col-sm-4
        - if defined? current_user and current_user == @visualization.author
          %strong Status
          - if @visualization.published?
            .visualization-status 
              .visualization-status-icon
                %span.visualization-status-icon-sprite
              Public
          - else
            .visualization-status.pull-left 
              .visualization-status-icon
                %span.visualization-status-icon-sprite
              Draft
            = link_to "Publish", {:controller => "visualizations", :action => "publish", :id => @visualization.id}, {:method => :post, :class => "btn btn-default btn-primary"}
      .col-sm-4
        %button.btn.btn-default.btn-invert.btn-collapse.collapsed.pull-right{ type: "button", "aria-controls" => "visualization-table-view", data: { toggle: "collapse", target: "#visualization-table-view" } }
          %span.collapsible-label
            %span.collapsible-label-icon
            View Data Table
          %span.collapsed-label
            %span.collapsed-label-icon
            Hide Data Table

= render 'partials/visualization_table_view'

- if @visualization.description?
  .visualization-description
    .container
      .row
        .col-md-8.col-lg-9
          %h3 Description
          - if defined? current_user and current_user == @visualization.author
            %a.btn-edit-circle{ href: edit_visualization_path(@visualization)+'/info', title: "Edit Visualization Info", data: {toggle: "tooltip", placement: "right"} }
              .btn-edit-circle-icon
          .visualization-description-content= @visualization.description.html_safe
        - if defined? current_user and current_user == @visualization.author
          .visualization-description-buttons.col-md-4.col-lg-3
            %p
              %a.btn.btn-default.btn-invert{ href: new_story_path }
                %span.btn-icon-story
                Create Story
            %p
              %a.btn.btn-default.btn-invert{ href: new_visualization_path }
                %span.btn-icon-visualization
                Create Visualization
            %p
              %a.btn.btn-default.btn-invert{ href: edit_visualization_path(@visualization) }
                %span.btn-icon-pencil
                Edit Visualization
            %p
              %a.btn.btn-default.btn-invert{ href: edit_visualization_path(@visualization)+'/info' }
                %span.btn-icon-pencil
                Edit Description
            %p
              %a.btn.btn-default.btn-invert{ href: "#" }
                %span.btn-icon-duplicate
                Duplicate Visualization
