.visualization-header
  .container-fluid
    %h2.pull-left= @visualization.name
    - if defined? edit
      - if @visualization.published?
        %span.visualization-status.public Public
      - else
        %span.visualization-status.draft Draft

    .pull-right.dropdown
      %button#actions-dropdown.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %i.glyphicon.glyphicon-wrench
        Actions
        %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "actions-dropdown"}
        - if defined? edit and !@visualization.published?
          %li
            %a{href: edit_visualization_path(@visualization)+'/info'} Edit info
          %li
            %a{href: "#"} Duplicate visualization
          %li
            %a{href: "#"} Preview visualization
          %li.divider{:role => "separator"}
          %li
            %a.text-danger{href: "#"} Delete
        - elsif defined? edit and @visualization.published?
          %li
            %a{href: edit_visualization_path(@visualization)+'/info'} Edit info
          %li
            %a{href: "#"} Duplicate visualization
          %li
            = link_to "Make private", {:controller => "visualizations", :action => "unpublish", :id => @visualization.id}, {:method => :post}
          %li
            %a{href: "#"} Preview visualization
          %li
            %a{href: "#"} Create story
          %li
            %a{href: "#"} Your related stories
          %li.divider{:role => "separator"}
          %li
            %a.text-danger{href: "#"} Delete
        - else
          %li
            %a{href: "#"} Create story
          %li
            %a{href: "#"} Duplicate visualization
          %li
            %a{href: edit_visualization_path(@visualization)} Edit visualization

    - if defined? edit and !@visualization.published?
      = link_to "Publish", {:controller => "visualizations", :action => "publish", :id => @visualization.id}, {:class => 'btn btn-default btn-primary pull-right', :method => :post}

    .clearfix