.visualization-graph-menu-navigation.btn-group-vertical{role: "group"}
  %button.btn.btn-default.zoomin{type: "button"}
    %i.glyphicon.glyphicon-plus
  %button.btn.btn-default.zoomout{type: "button"}
    %i.glyphicon.glyphicon-minus
  %button.btn.btn-default.fullscreen{type: "button"}
    %i.glyphicon.glyphicon-fullscreen