.visualization-graph-container
  -#%img.img-responsive{:src => 'http://placehold.it/1920x820'}
  .visualization-graph-btn-top.btn-group{:role => "group"}
    %button.btn.btn-default.search{:type => "button"}
      %i.glyphicon.glyphicon-search
    %button.btn.btn-default.share{"data-target" => "#graph-share-modal", "data-toggle" => "modal", :type => "button"}
      %i.glyphicon.glyphicon-share
  .visualization-graph-component