.visualization-graph-menu-actions.btn-group-vertical{role: "group"}
  %button.btn.btn-default.search{type: "button"}
    %i.glyphicon.glyphicon-search
  %button.btn.btn-default.share{type: "button", data: {target: "#visualization-share-modal", toggle: "modal"}}
    %i.glyphicon.glyphicon-share
  %button.btn.btn-default.configure{type: "button"}
    %i.glyphicon.glyphicon-cog