.visualization-graph-container
  = render 'partials/visualization_graph_menu_navigation'
  = render 'partials/visualization_graph_menu_actions'
  = render 'partials/visualization_graph_panel_configuration'
  -#%img.img-responsive{:src => 'http://placehold.it/1920x820'}
  .visualization-graph-component