.visualization-graph-menu-navigation
  %button.btn.zoomin{ type: "button", title: "Zoom In", data: {toggle: "tooltip", placement: "right"} }
  %button.btn.zoomout{type: "button", title: "Zoom Out", data: {toggle: "tooltip", placement: "right"} }
  %button.btn.fullscreen{type: "button", title: "Fullscreen", data: {toggle: "tooltip", placement: "right"} }