.visualization-header
  .container-fluid
    %h2.pull-left= @visualization.name
    - if defined? edit or (defined? current_user and current_user == @visualization.author)
      %a.btn-edit-circle{ href: edit_visualization_path(@visualization)+'/info', title: "Edit Visualization Info", data: {toggle: "tooltip", placement: "right"} }
        .btn-edit-circle-icon
      .pull-right.dropdown
        %button#actions-dropdown.btn.btn-default.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Actions
          -#%span.caret
          %span.icon-tool
        %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-primary{"aria-labelledby" => "actions-dropdown"}
          - if defined? edit
            %li
              %a.active{ href: visualization_path(@visualization) } 
                Preview visualization
            %li
              - if @visualization.published?
                = link_to "Unpublish", {:controller => "visualizations", :action => "unpublish", :id => @visualization.id}, {:method => :post, :class => "active"}
              - else
                = link_to "Publish", {:controller => "visualizations", :action => "publish", :id => @visualization.id}, {:method => :post, :class => "active"}
            %li
              %a.active{ href: edit_visualization_path(@visualization)+'/info' } 
                Edit visualization info
          - else
            %li
              %a.active{ href: edit_visualization_path(@visualization) }
                Edit visualization
          %li
            %a{href: "#"} 
              Duplicate visualization
          %li
            %a{href: "#"} 
              Create story from visualization
          - if defined? edit
            %li
              %a.text-danger{ href: "#visualization-delete-modal", data: {toggle: "modal"} }
                Delete visualization
      .clearfix