.visualization-graph-info.panel.panel-default
  .panel-heading
  .panel-body

%script#visualization-graph-info-template{:type => "text/template"}
  %h3.name
    {{ name }}
  .picture
  .description
    {{ description }}