.visualization-graph-panel-configuration.panel.panel-default
  .panel-heading
    %h4 Configuration
    %button.close{type: "button", "aria-label" => "Close"}
      %span{"aria-hidden" => "true"}
        &times
  .panel-body
    -# Attributes drom https://github.com/mbostock/d3/wiki/Force-Layout
    .checkbox
      %label{ :for => "hideLabels" }
        = check_box_tag :hideLabels
        Hide labels
    .checkbox
      %label{ :for => "hideNoRelations" }
        = check_box_tag :hideNoRelations
        Hide nodes without relations
    %p
      linkDistance
    %input#linkdistante{name: "linkDistance", type: "range", min: "10", max: "200", value: "60"}
    %p
      linkStrength
    %input#linkstrengh{name: "linkStrength", type: "range", min: "0", max: "1", value: "1", step: "0.01"}
    %p
      friction
    %input#friction{name: "friction", type: "range", min: "0", max: "1", value: "0.9", step: "0.01"}
    %p
      charge
    %input#charge{name: "charge", type: "range", min: "-200", max: "200", value: "-100"}
    %p
      theta
    %input#theta{name: "theta", type: "range", min: "0", max: "1", value: "0.8", step: "0.01"}
    %p
      gravity
    %input#gravity{name: "gravity", type: "range", min: "0", max: "1", value: "0.1", step: "0.01"}

