.user-dashboard.container-fluid
  .media
    .media-left
      %img.media-object{:src => 'http://placehold.it/150x150'}
    .media-body
      %p Hi!
      %h2= current_user.name
      -# TODO! Add site to User model
      %p
        %a{href: 'http://www.usersite.com', title: 'www.usersite.com'}
          www.usersite.com
      %hr
      %p
        %strong What do you want to do?
      %a.btn.btn-default.btn-primary{href: new_visualization_path} Create a Visualization
      %a.btn.btn-default.btn-primary{href: '#'} Create a Story
      %a.btn.btn-default{href: user_path(current_user)+'/settings'} Edit your settings
  = render 'partials/user_visualizations', :visualizations => @visualizations, :stories => []