.container-fluid
  %h2= current_user.email
  %hr
  %p
    %strong What do you want to do?
  %a.btn.btn-default.btn-primary{href: new_visualization_path} Create a Visualization
  %a.btn.btn-default.btn-primary{href: '#'} Create a Story
  %a.btn.btn-default{href: user_path(current_user)+'/settings'} Edit your settings
