.container-fluid
  .row
    -#.home-background
    .jumbotron.text-center
      .home-icon
      %h2 Relationships are complicated
      %p.lead Let's create visualizations to understand them
      %hr.separator.separator-white.separator-small
      %a.btn.btn-primary{:href => new_user_registration_path, :title => "Signup"} Signup
      %a.btn.btn-primary{:href => "/explore", :title => "Explore"} Explore
      %a.btn.btn-primary{:href => "#", :title => "Demo"} Demo
  .row.features.features-easey.text-center
    %h3 We make it easy
    .container
      .row
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-creation
          %h4 1. Quick creation
          %p Using our node & relationship table template, you are ready to go. Import it, duplicate it from another visualization or create it from scratch
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-information
          %h4 2. Rich information
          %p You can add to each node all the data you need (text, media & links)
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-share
          %h4 3. Share it anywhere
          %p Share & embed the visualization or story wherever you want. We provide you some stats to track it
  .row.features.features-great.text-center
    %h3 We make it great
    .container
      .row
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-collaboration
          %h4 Collaborations
          %p You can add collaborators to your visualization o duplicate the users visualizations to start your own
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-preview
          %h4 Live preview
          %p View the final result of the visualization as you edit the nodes & relationships
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-story
          %h4 Do you want to tell a story?
          %p You can create your own story with chapters that reveal how the relationship network developed
  #gallery-carousel.row
    %p.section-title 
      These are the latest additions to our gallery
    -#%a.btn.btn-default.btn-primary{:href => '/gallery'} 
    -#  %i.glyphicon.glyphicon-plus
    -#    View More
    .gallery-carousel-container.container
      .row
        - @visualizations.each do |item|
          .col-sm-6
            = render 'partials/item_preview', :item => item
  .brands.container
    %p.section-title 
      The are using Onodo
      %ul
        %li
          %img{ src: "http://lorempixel.com/140/30/" }
        %li
          %img{ src: "http://lorempixel.com/140/30/" }
        %li
          %img{ src: "http://lorempixel.com/140/30/" }
        %li
          %img{ src: "http://lorempixel.com/140/30/" }
  .row
    .text-center
      %a.btn.btn-lg.btn-primary{:href => "/nodes", :title => "See all Nodes & Realtions"} See all Nodes & Relations
