.container-fluid
  %h2.text-center Welcome to Onodo!
  %hr
  .text-center
    %a.btn.btn-lg.btn-primary{:href => "/visualizations", :title => "Explore a Visualization"} Explore a Visualization
  %p
  .text-center
    %a.btn.btn-lg.btn-primary{:href => "/nodes", :title => "See all Nodes & Realtions"} See all Nodes & Relations