%p
  %a{:href => "http://www.civio.es/", :target => '_blank'} Fundación Ciudadana Civio
  (en adelante Civio), impulsora de <i>onodo.org</i> cumple con los requisitos establecidos en la Ley 34/2002, de 11 de Julio, de Servicios de la Sociedad de la Información y Comercio Electrónico, en la Ley 56/2007, de 28 de diciembre de Medidas de Impulso de la Sociedad de la Información, así­ como en la Ley Orgánica 15/1999, de 13 de diciembre, sobre Protección de Datos de Carácter Personal y su normativa de desarrollo (RD 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de Desarrollo de la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal) a tal fin ha creado las siguientes condiciones de uso:
%p Civio, inscrita en el registro de fundaciones el 3 de febrero de 2012 con el NÚMERO 1441, promueve y protege el derecho de acceso a la información en Europa como herramienta para la defensa de nuestras libertades civiles y los derechos humanos, para facilitar la participación pública en la toma de decisiones, y para exigir que el gobierno rinda cuentas.
%p
  Para cualquier duda o consulta contacte con Civio en:
%blockquote
  Fundación Ciudadana Civio
  %br
  Email: info@civio.es
%p
%p Las presentes Condiciones de Uso regulan el acceso y la utilización de la plataforma, incluyendo los contenidos y los servicios puestos a disposición de los Usuarios en y/o a través de la Comunidad, bien por Civio, bien por sus Usuarios, bien por cualesquiera terceros.
%p
  %strong PRIMERO: OBJETO DEL SERVICIO
%p <i>onodo.org</i> ofrece principalmente un servicio gratuito donde los Usuarios registrados podrán acceder a una plataforma abierta para realizar solicitudes de acceso a la información a administraciones públicas españolas.
%p
  %strong SEGUNDO: CONDICIONES
%p
  El uso de <i>onodo.org</i> se sujetará a las siguientes Condiciones, las cuales podrán ser actualizadas periódicamente, no obstante <i>onodo.org</i> avisará de la modificación de las Condiciones Generales o de la
  = succeed "." do
    %a{:href => "/privacy-policy", :target => '_blank'} Política de Privacidad
  Si el Usuario decide no aceptar las Condiciones deberá abstenerse de acceder y/o utilizar los contenidos y/o servicios ofrecidos en la plataforma.
%p <i>onodo.org</i> se reserva el derecho de mejorar, modificar o suprimir, unilateralmente y sin previo aviso, servicios y/o contenidos de dicha Comunidad atendiendo a los más diversos criterios.
%p Obligación de hacer un uso correcto del portal: El Usuario se compromete a hacer un uso adecuado de la plataforma y a no emplearla para incurrir en actividades ilícitas o contrarias a la buena fe y al ordenamiento legal (a título meramente indicativo y no exhaustivo); provocar daños en los sistemas físicos y lógicos del responsable, de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados, sin olvidar todos aquellos que vulneren o transgredan el honor, la intimidad personal o familiar y a la imagen de las personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un tercero como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos o la imagen de terceros; la realización de actos de competencia desleal y publicidad ilícita como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos; la falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los contenidos dejando el Usuario, en todo caso, indemne a <i>onodo.org</i> frente a cualquier reclamación, judicial o extrajudicial.
%p <i>onodo.org</i> excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a los contenidos prestados o suministrados por cualesquiera terceros ajenos.
%p Uso y Custodia del nombre de Usuario y de la contraseña. El Usuario se compromete a hacer un uso diligente de la contraseña y el nombre de Usuario y a mantener ambos en secreto. Será de exclusiva responsabilidad del Usuario mantener la confidencialidad de su contraseña, asumiendo por tanto cuantos daños, gastos y/o perjuicios de todo tipo se deriven del quebrantamiento de esta obligación o de la revelación de la contraseña, así como del mal uso que, como consecuencia de la infracción de su deber de custodia, pudiera hacer un tercero.
%p Cancelación del acceso, servicios y contenidos. <i>onodo.org</i> podrá, a su sola discreción, denegar, retirar, suspender y/o bloquear en cualquier momento y sin necesidad de previo aviso el acceso a los contenidos o a la propia plataforma a aquellos Usuarios que incumplan estas Condiciones, pudiendo eliminar su cuenta y toda la información y archivos relativos a la misma o, en su caso, denegarle el acceso a tales archivos o a la propia plataforma. <i>onodo.org</i> no asumirá responsabilidad alguna por la cancelación del acceso a la misma. <i>onodo.org</i> se reserva la facultad de limitar, total o parcialmente, el acceso a determinados Usuarios, así como de cancelar, suspender, bloquear o eliminar determinado tipo de contenidos mediante la utilización de instrumentos tecnológicos aptos al efecto, si tuviese conocimiento efectivo de que la actividad o la información almacenada y/o difundida es ilícita o de que lesiona bienes o derechos de un tercero.
%p Asimismo el Usuario que lo considere oportuno tiene la posibilidad, de informar a <i>onodo.org</i> de aquellos contenidos/usuarios que puedan estar vulnerando dichas condiciones. En caso que <i>onodo.org</i> compruebe la veracidad de dichas denuncias podrá, según lo establecido en los párrafos anteriores borrar/cancelar los contenidos/usuarios denunciados.
%p Comunicaciones y notificaciones: Todas las comunicaciones y notificaciones realizadas se considerarán eficaces a todos los efectos cuando se realicen a través de correo electrónico al e-mail que haya podido suministrar el Usuario. El Usuario reconoce expresamente que dichos datos han sido suministrados por el mismo y son del todo veraces.
%p Baja de la plataforma: En el caso de que el Usuario quiera darse de baja de la plataforma puede realizarlo poniéndose en contacto con el equipo de <i>onodo.org</i>. En ese caso su perfil será borrado si bien las preguntas realizadas por el usuario a través de la plataforma permanecerán en la misma.
%p
  %strong TERCERO: PROPIEDAD INTELECTUAL E INDUSTRIAL
%p El contenido, así como la información objeto de propiedad intelectual cuya titularidad corresponda a <i>onodo.org</i> o a los Usuarios registrados puesta a disposición en la plataforma (salvo que no se especifique expresamente otra cosa) podrá reproducirse, comunicarse públicamente, transformarse o extraerse libremente de forma no exclusiva, de manera total o parcial, por cualquier persona, en cualquier formato, sin ninguna restricción temporal ni territorial y, para cualquier uso legítimo posterior, bajo las siguientes condiciones: Deberá indicarse siempre, y, en todo caso, la autoría y deberá compartirse igual en cumplimiento con la licencia Creative Commons 3.0 By - SA que rige en la presente plataforma.
%p En cuanto a los derechos de propiedad industrial que pudieran corresponder a dichos contenidos, así como todas las marcas, nombres comerciales o cualquier otro signo distintivo son propiedad de <i>onodo.org</i> o de sus legítimos propietarios, quedando reservados todos los derechos sobre los mismos.
%p <i>onodo.org</i> no será responsable de cualquier perjuicio que pudiera derivarse de la utilización de los contenidos, servicios e información incluida en este sitio web por parte de los usuarios, o de la infracción por parte de éstos de cualquier disposición legal vigente.
%p
  %strong CUARTO: MENORES DE EDAD
%p La plena responsabilidad en la determinación de los concretos contenidos y servicios a los que acceden los menores de edad corresponde a los mayores a cuyo cargo se encuentran. Queda prohibido el acceso y uso del Portal a los menores de edad no autorizados. <i>onodo.org</i> entiende que desde el momento en que un menor de edad accede al Portal, cuenta con el permiso de sus padres, de su tutor o de su representante legal.
%p Como Internet hace posible el acceso a contenidos que pueden no ser apropiados para menores, se informa a los Usuarios de que existen mecanismos, en particular programas informáticos de filtro y bloqueo, que permiten limitar los contenidos disponibles y, aunque no resultan infalibles, son de especial utilidad para controlar y restringir los materiales a los que pueden acceder los menores.
%p
  %strong QUINTO: COOKIES Y ENLACES
%p <i>onodo.org</i> informa al Usuario que la plataforma utiliza cookies, considerándose tales ficheros de información alojados en el propio terminal del Usuario y que sirven para facilitar la navegación del Usuario por el portal (ej.: no solicitar nuevamente Usuario y/o contraseña). En ningún caso las cookies recogerán ni realizarán ningún tipo de tratamiento de datos de carácter personal. De todas formas, el Usuario tiene la posibilidad de configurar el navegador de tal modo que impida la instalación de estos archivos.
%p <i>onodo.org</i> no asume ninguna responsabilidad sobre los enlaces externos que, en su caso, pudieran incluirse en el portal, ya que no tiene ningún tipo de control sobre los mismos, por lo que el Usuario accede bajo su exclusiva responsabilidad al contenido y en las condiciones de uso que rijan en los mismos.
%p
  %strong SEXTO: POLITICA DE PRIVACIDAD
%p
  <i>onodo.org</i> protege los datos personales según lo establecido en la Ley Orgánica de Protección de Datos y el Reglamento de Medidas de Seguridad. La información sobre la protección de datos personales se encuentra recogida en la
  = succeed "." do
    %a{:href => "/privacy-policy", :target => '_blank'} Política de Privacidad
%p A tal fin ha adoptado las medidas necesarias para evitar la alteración, pérdida, tratamiento o acceso no autorizado de los datos personales, habida cuenta en todo momento del estado de la tecnología, no obstante, el Usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables.
%p
  En el caso de que se incluyan en la plataforma datos de carácter personal referentes a personas fí­sicas distintas deberá, con carácter previo a su inclusión informarles de los extremos contenidos en la
  = succeed "." do
    %a{:href => "/privacy-policy", :target => '_blank'} Política de Privacidad
%p
  %strong SEPTIMO: DURACIÓN Y TERMINACIÓN
%p La plataforma tiene, en principio, una duración indefinida. <i>onodo.org</i>, no obstante, está autorizada para dar por terminada o suspender la plataforma en cualquier momento. Cuando ello sea razonablemente posible, <i>onodo.org</i> advertirá previamente la terminación o suspensión de la web a fin de que los Usuarios puedan retirar sus contenidos.
%strong OCTAVO: LEGISLACIÓN APLICABLE
%p La normativa vigente determinará las leyes que deban regir y la jurisdicción que deba conocer de las relaciones entre onodo.org y los Usuarios.
%p
  (Estas Condiciones de Uso son una adaptación de las creadas por
  = succeed "," do
    %a{:href => "http://www.goteo.org/legal/terms", :target => '_blank'} la Fundación Fuentes Abiertas para Goteo
  bajo licencia Creative Commons.)