%p
  %a{:href => "http://www.civio.es/", :target => '_blank'} Fundación Ciudadana Civio
  (hereinafter Civio), follows the requirements established in Spanish Law 34/2002, 11th July of Services for an Information Society and for Electronic Commerce, in Law 56/2007, dated December 28th on Measures to Promote the Information Society, as well as Organic Law 15/1999, dated December 13th, on the Protection of Personal Data and the implementing regulations (RD 1720/2007, dated December 21, approving the Implementing Regulation Act 15/1999 on Protection of Personal Data), and, to this end, it has created the following Terms of Use:
%p Civio, registered in the Spanish foundation registry on February 3rd of 2012, under number 1441, promotes and protects the right of access to information in Europe as a tool for the defense of our civil liberties and human rights, to facilitate public participation in decision making and to hold government accountable. 
%p
  If you have any doubts or inquiries, contact Civio at:
%blockquote
  Fundación Ciudadana Civio
  %br
  Email: contacto@civio.es
%p
%p These Terms of Use regulate the access to and use of the platform, including the content and services made available to users by Civio, either by their users or by any third party.
%p
  %strong FIRST: AIM OF THE SERVICE
%p Onodo offers a free service where registered users can access an open platform to create interactive visualizations of nodes and relationships, and then tell stories with them and/or insert them into any web page.
%p
  %strong SECOND: TERMS
%p
  The use of Onodo is subject to the following terms, which may be updated periodically, in which case Onodo will apprise users of any changes to the General Terms or the
  = succeed "." do
    %a{:href => "/privacy-policy", :target => '_blank'} Privacy Policy
  If the user does not accept the terms, they should not access the system nor use the contents or services offered by the platform.
%p Onodo reserves the right to improve, modify, or eliminate, unilaterally and without prior notice, those services and/or contents of said community following a wide range of criteria.
%p Obligación de hacer un uso correcto del portal: El Usuario se compromete a hacer un uso adecuado de la plataforma y a no emplearla para incurrir en actividades ilícitas o contrarias a la buena fe y al ordenamiento legal (a título meramente indicativo y no exhaustivo); provocar daños en los sistemas físicos y lógicos del responsable, de sus proveedores o de terceras personas, introducir o difundir en la red virus informáticos o cualesquiera otros sistemas físicos o lógicos que sean susceptibles de provocar los daños anteriormente mencionados, sin olvidar todos aquellos que vulneren o transgredan el honor, la intimidad personal o familiar y a la imagen de las personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un tercero como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos o la imagen de terceros; la realización de actos de competencia desleal y publicidad ilícita como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos; la falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los contenidos dejando el Usuario, en todo caso, indemne a <i>onodo.org</i> frente a cualquier reclamación, judicial o extrajudicial.
%p The user is the sole responsible of the content and files made available on the platform, and therefore commits to not publishing (or uploading) any file (i.e., video, audio, text, etc.) which could be subject to intellectual (or industrial) property rights or third parties, unless the legal owner of said rights has provided them with a formal license or authorisation compatible with the license in force on this platform.
%p Onodo waives any responsibility for damages of any kind that might be caused by the content loaned or provided by any third party.
%p Use and Custody of the User name and Password: The user agrees to make diligent use of the password and user name, and to maintain both secret. The confidentiality of the password will be an exclusive responsibility of the user, thus assuming any damages and costs of any kind derived from breaking this regulation or from revealing their password, as well as the misuse by a third party, as a consequence of their revealing their password.
%p Cancellation of Access, Services and Content: Onodo reserves the right to, at its own discretion, refuse, retire, suspend and/or block, at any time and without warning, access to the content and to the platform itself to those users who fail to comply with these conditions, also having the capacity to delete their account and all information and files relative to it, or, if the case might be, deny them access to those files or to the platform itself. Onodo will not be held responsible for the cancellation of access to the platform. Onodo reserves the right to fully or partially limit the access of certain Users, as well as to cancel, suspend, block or delete certain kinds of content through the use of technological tools adequate to that effect, if it has reliable knowledge that the stored and/or disseminated data or activity is illicit or that it violates the assets or rights of a third party.
%p Furthermore, should the user consider this adequate, they will have the possibility of informing Onodo of those contents/users that might be violating said conditions. Should Onodo prove the veracity of these complaints, it will have power, according to what has been established in the preceding paragraphs, to delete/cancel offending contents/users.
%p Communication and notifications: All communication and notifications made will be considered effective when made to the email address provided by the user. The user expressly acknowledges that such data has been supplied by himself/herself and are completely accurate.
%p Leaving the platform: In the case that the user wants to unsubscribe from the platform, the user can do this by contacting the team of Onodo. In that case, the profile will be deleted and both the user’s visualizations as well as the stories created by the user through the platform will be removed alike.
%p
  %strong THIRD: INTELLECTUAL AND INDUSTRIAL PROPERTY
%p The contents, as well as the data subject to the intellectual property of Onodo or of the registered users provided on the platform (unless there is an explicit statement to the contrary) can be reproduced, publicly communicated, transformed or freely extracted in part or in whole, by anyone, in any format, with no restriction of time or territory, for any further legitimate use, under the following conditions: Indication must always be made of the authorship, and the content must be shared under the same conditions of the Creative Commons 3.0 By - SA license, which is in force on this platform.
%p Regarding the industrial property rights of this content, as well as trademarks, or any other distinctive sign, these are the property of Onodo or of their legitimate owners, with all rights on them being reserved.
%p Onodo will not be held responsible for any damages derived from the use of the contents, services and information included on this web site by the Users, or of the breach on behalf of the latter of any current legislation.
%p
  %strong FOURTH: COOKIES AND LINKS
%p Onodo informs the user that the platform uses cookies, understood as data files stored on the user's own terminal and which are used to ease the user's browsing of the platform (e.g., not having to repeatedly ask the user for their user name and/or password). Under no circumstances will these cookies store or make any kind of treatment of data of a personal nature. In any case, the user has the possibility of configuring their browser to disable the installation of these files.
%p Onodo will not be held responsible for the external links, which might be included on the platform, since it has no means of control on them. Therefore, the users access the content under their own responsibility and under the conditions of use imposed by them.
%p
  %strong FIFTH: PRIVACY POLICY
%p
  Onodo protects personal data, in compliance with the Spanish Data Protection Law and the Security Measures Regulation. The information about the protection of personal data is held in the 
  = succeed "." do
    %a{:href => "/privacy-policy", :target => '_blank'} Privacy Policy.
%p For this purpose, Onodo has adopted the necessary measures to avoid the alteration, loss, treatment or unauthorised access to personal data, bearing in mind that, considering the current state of technology, the user should nevertheless be aware that online security measures are not fail-safe.
%p
  In the case of including on the platform personal data referring to third parties, the user should, prior to including these details, inform said third parties of the restrictions detailed in the 
  = succeed "." do
    %a{:href => "/privacy-policy", :target => '_blank'} Privacy Policy.
%p
  %strong SIXTH: DURATION AND TERMINATION
%p The platform has, in principle, indefinite duration. However, Onodo is authorized to terminate or suspend the platform at any time. When this becomes reasonably plausible, Onodo will notify the termination or suspension, so that users can retire their contents.
%p
%strong SEVENTH: APPLICABLE LEGISLATION
%p Current legislation will determine the laws which will be in force and the jurisdiction which should be informed of the relationship between Onodo and the users.
%p
  (These Terms of Conditions are an adaptation of those created by
  = succeed "," do
    %a{:href => "http://www.goteo.org/legal/terms", :target => '_blank'} Fundación Fuentes Abiertas
  licensed under creative commons.)