.container
  .page-header
    %h2 Explore
    %p.lead Take a look to the visualizations & stories Onodo users are creating

.explore-navbar.container
  - if defined?(@visualizations)
    %a.btn.btn-default.btn-transparent{ href: '/explore/stories' }
      Stories
    .btn.btn-default.btn-primary
      Visualizations
  - else
    .btn.btn-default.btn-primary
      Stories
    %a.btn.btn-default.btn-transparent{ href: '/explore/visualizations' }
      Visualizations
  .explore-search.pull-right
    .input-group
      %input.form-control{:type => "text"}
      %span.input-group-btn
        %button.btn.btn-default{:type => "button"}
          %i.glyphicon.glyphicon-search
  -# TODO!!! Add tooltips with info  to each button   
  .explore-orderby.pull-right
    Order by
    %a.active{href: '#', title: 'Popularity'} Popularity
    %a{href: '#', title: 'Most recent'} Most recent

.page-items
  .container
    .row
      -unless @items.blank?
        - @items.each do |item| 
          .col-sm-6
            = render 'partials/item_preview', :item => item
        .col-sm-12.text-center
          = paginate @items
      -else
        .text-center
        - if defined?(@visualizations)
          %p
            You haven't create any visualization yet
          %a.btn.btn-default.btn-primary{href: new_visualization_path(), title: 'Start creating one'}
            Start creating one
        - else
          %p
            You haven't create any story yet
          %a.btn.btn-default.btn-primary{href: new_story_path(), title: 'Start creating one'}
            Start creating one
