.container
  .page-header
    %h2= t '.title'
    %p.lead= t '.lead'

.container
  = render 'partials/items_preview_header', :visualizations => @visualizations

.page-items
  .container
    = render 'partials/items_preview_list', :items => @items, :visualizations => @visualizations, :paginate => true
