.container
  .page-header
    %h2= t '.title'
    %p.lead= t '.lead'

.container
  = render 'partials/items_preview_header', :show_visualizations => @show_visualizations, :hide_selector => true

.page-items
  .container
    = render 'partials/items_preview_list', :items => @items, :show_visualizations => @show_visualizations, :paginate => true
