.container-fluid
  %h2 Explore
  %p.lead Take a look to the visualizations & stories Onodo users are creating
  %hr
  = render 'partials/visualizations_stories_tabs', :visualizations => @visualizations, :stories => @stories, :search => true