.container
  .page-header
    %h2 Gallery
    %p.lead Amazing relationship visualization & stories curated by the Onodo Team
.page-items
  .container
    - @items.each do |item|
      = render 'partials/item_preview', :item => item, :large => true