.modal-header
  %h4.modal-title
    Do you want to delete this chapter?
  %button.close{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
.modal-body
  %p Be careful, deleting can't be undone.
  %p
    %strong
      Are you sure?
.modal-footer
  = button_to "Yes", @chapter, :method => :delete, :class => "btn btn-danger"
  %button.btn.btn-primary.btn-invert{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
    Cancel