// Setup variables

// Colors
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:           #227eff;
// $brand-success:         #5cb85c !default;
// $brand-info:            #5bc0de !default;
// $brand-warning:         #f0ad4e !default;
// $brand-danger:          #d9534f !default;

$body-bg:               #fff !default;

$text-color:            #222 !default;

$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Tipography
$font-family-regular:   "Montserrat Regular", Helvetica, Arial, sans-serif;
$font-family-light:     "Montserrat Light", Helvetica, Arial, sans-serif;
$font-family-bold:      "Montserrat Bold", Helvetica, Arial, sans-serif;

// Components
$border-radius-base:    0 !default;
$border-radius-large:   0 !default;
$border-radius-small:   0 !default;

// Navbar
$navbar-margin-bottom: 0;
$navbar-default-bg: #fff;

// Buttons
$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             #fff;

$btn-invert-color:              $brand-primary;
$btn-invert-bg:                 #fff;
$btn-invert-border:             $brand-primary;

$btn-transparent-color:         $brand-primary;
$btn-transparent-bg:            transparent;    

$btn-line-height:               28px;

// $btn-success-color:              #fff !default;
// $btn-success-bg:                 $brand-success !default;
// $btn-success-border:             darken($btn-success-bg, 5%) !default;

// $btn-info-color:                 #fff !default;
// $btn-info-bg:                    $brand-info !default;
// $btn-info-border:                darken($btn-info-bg, 5%) !default;

// $btn-warning-color:              #fff !default;
// $btn-warning-bg:                 $brand-warning !default;
// $btn-warning-border:             darken($btn-warning-bg, 5%) !default;

// $btn-danger-color:               #fff !default;
// $btn-danger-bg:                  $brand-danger !default;
// $btn-danger-border:              darken($btn-danger-bg, 5%) !default;

// $btn-link-disabled-color:        $gray-light !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;

// Panel

// Table

// Tooltip

// Styles

// Jumbotron

$jumbotron-padding:              30px !default;
$jumbotron-color:                inherit !default;
// $jumbotron-font-size:            ceil(($font-size-base * 1.5)) !default;
// $jumbotron-heading-font-size:    ceil(($font-size-base * 4.5)) !default;