%div{:align => "center", :style => "min-height:100%!important;width:100%!important;font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;line-height:1.6!important;text-align:center!important;background:#f9f9fb;margin:0;padding:0"}
  %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;margin:0;padding:0"}
    %tbody
      %tr{:height => "40", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
  %table{:align => "center", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;background:#f9f9fb;margin:0;padding:0"}
    %tbody
      %tr{:height => "40", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
      %tr{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;display:block!important;width:100%;background:#f9f9fb;margin:0;padding:0", :valign => "top !important"}
          %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:600px!important;text-align:center!important;border-collapse:collapse!important;display:inline-block!important;margin:0;padding:20px 0"}
            %tbody
              %tr{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                  %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;margin:0;padding:0"}
                    %tbody
                      %tr{:height => "70", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                          %a{ :href => "http://www.alpha.onodo.org/", :style => "text-decoration:none!important;font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0", :target => "_blank"}
                            %img{:alt => "Onodo", :height => "51", :src => "http://static.redradix.com/civio/onodo.png", :width => "109"}/
                      %tr{:height => "31", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                  %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;margin:0;padding:0", :width => "100%"}
                    %tbody
                      %tr{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                          %h2{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:24px!important;color:#343d4d!important;font-weight:600!important;margin:0;padding:0"} Hello #{@user.name}!
                      %tr{:height => "31", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                  %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;border-radius:5px!important;overflow:hidden!important;background:#fefefe;margin:0;padding:0;border:1px solid #dee3e9"}
                    %tbody
                      %tr{:height => "38", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                        %td{:colspan => "3", :valign => "top !important", :width => "100%"}
                      %tr{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important", :width => "59"}
                        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                          %p{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:16px!important;color:#343d4d!important;margin:0;padding:0"}
                            Someone has requested a link to change your password.
                            %br
                            You can do this through the link below.
                          %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;margin:0;padding:0"}
                            %tbody
                              %tr{:height => "38", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                                %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                          %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;margin:0;padding:0"}
                            %tbody
                              %tr{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                                %td{:align => "center !important", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;border-radius:20px!important;overflow:hidden!important;width:250px!important;display:inline-block!important;text-align:center!important;color:#fefefe!important;text-transform:uppercase!important;text-decoration:none!important;height:40px!important;line-height:40px!important;background:#227eff;margin:0;padding:0", :valign => "top !important"}
                                  = link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), { :style => "color: #fefefe !important; text-decoration: none!important;"}
                          %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;margin:0;padding:0"}
                            %tbody
                              %tr{:height => "38", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                                %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important", :width => "59"}
                      %tr{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;border-top-style:solid!important;border-top-width:1px!important;border-top-color:#dee3e9!important;background:#fcfdfd;margin:0;padding:0"}
                        %td{:colspan => "3", :valign => "top\n !important", :width => "100%"}
                          %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;margin:0;padding:0"}
                            %tbody
                              %tr{:height => "35", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                                %td{:colspan => "3", :valign => "top\n !important"}
                              %tr{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                                %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top\n !important", :width => "60"}
                                %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                                  %p{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:13px!important;color:#343d4d!important;line-height:24px!important;margin:0;padding:0"}
                                    If you didn't request this, please ignore this email.
                                  %p{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:13px!important;color:#343d4d!important;line-height:24px!important;margin:0;padding:0"}
                                    Your password 
                                    %strong{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:13px!important;font-weight:600!important;margin:0;padding:0"} won't change until you access the link above and create a new one.
                                %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top\n !important", :width => "60"}
                              %tr{:height => "39", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                                %td{:colspan => "3", :valign => "top\n !important"}
                  %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;margin:0;padding:0"}
                    %tbody
                      %tr{:height => "40", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                  %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;margin:0;padding:0"}
                    %tbody
                      %tr{:height => "51", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
                        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
                          %p{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:12px!important;color:#747c83!important;font-style:italic!important;margin:0;padding:0"} Onodo is a proyect by Fundación Ciudadana Civio
      %tr{:height => "40", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}
  %table{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;width:100%!important;text-align:center!important;border-collapse:collapse!important;margin:0;padding:0"}
    %tbody
      %tr{:height => "40", :style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;margin:0;padding:0"}
        %td{:style => "font-family:'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif!important;font-size:14px!important;vertical-align:top!important;margin:0;padding:0", :valign => "top !important"}